[2017-08-14 21:26] digitarald opened #2 "Responsive dashboards for mobile"
Make important data work on small screens.

[2017-09-05 21:09] stuartphilp opened #3 "fix tp6 graph date range"
label changed in perfherder from quantum to tp6

[2017-09-05 21:09] stuartphilp opened #4 "fix perfherder graphs"
Some graphs are stuck saying "Loading Perfherder …"

[2017-09-05 21:10] stuartphilp opened #5 "remove ghost windows and input latency measures"
these measures are not actionable today and should not be tracked

[2017-09-06 15:50] stuartphilp opened #6 "split apz into several boxes and individual statuses"

[2017-09-06 19:56] #3 closed

[2017-09-06 19:56] #4 closed

[2017-09-06 19:56] #5 closed

[2017-09-06 19:58] stuartphilp opened #7 "upgrade node version"
travis is currently building on node 5, koa requires node 7 (hence the travis failures)

node 7 seems to introduce some other errors possibly around webpack, or browserslist, or caniuse-db (browserslist.queries is undefined)

[2017-09-07 21:19] stuartphilp opened #8 "investigate adding photon dashboard"
preferably directly pull in, but at least link to the photo dashboard at: http://astithas.com/perm/photon-perf/

this should be in spot #3, just before page load times

[2017-09-12 16:24] digitarald opened #9 "Devtools dashboard"
## Scope

### Operations

- P1/P2 Burn up charts
- Triage backlog
- Bug age

### Performance

- DAMP breakdown: https://bugzilla.mozilla.org/show_bug.cgi?id=1397745

### Engagement

- Opening counts (per channel)

[2017-09-12 16:27] digitarald commented on #7
I run node 8 locally without issues, but it is current version. Might make sense to bump all versions.

[2017-09-14 22:58] cpeterso opened #10 "The dashboard should be updated to show that all four APZ bugs have been fixed."
* Touch Scrollbar Dragging Bug 1367765 was enabled in Nightly 57 (2017-09-13).
* Keyboard Scrolling Bug 1376525 was enabled in Nightly 57 (2017-09-01).
* Autoscrolling Bug 1385463 was enabled in Nightly 57 (2017-09-02).

[2017-09-18 19:37] stuartphilp commented on #10
updated today, thanks!

[2017-09-18 19:37] #10 closed

[2017-09-18 19:37] stuartphilp commented on #6
invalid now that everything has shipped

[2017-09-18 19:37] #6 closed

[2017-09-18 19:39] stuartphilp opened #11 "Separate Quantum page into 32-bit & 64-bit"
specifically around ongoing quantum efforts, since they have different priorities/scopes/needs 32 and 64 bit should be shown independently

[2017-09-19 15:38] stuartphilp commented on #7
I pushed a fix for the queries is undefined error to get it working on node 7+, so this should hopefully just be a bump for travis to get it up to date now

[2017-09-19 17:30] stuartphilp commented on #7
I upgrade travis to node 8 and it appears there are other areas where queries = undefined, similar patches will have to be made. Here's the travis run

https://travis-ci.org/mozilla/platform-health/builds/277411314

[2017-09-19 23:26] kbrosnan opened #12 "Typo on the TP5 labels Win10-32 should be Win10-64"

[2017-09-25 02:41] digitarald opened #14 "Speedometer graph for Beta 57"
Requested by EPM to monitor 57 rollout health.

@stuartphilp looks like we have the data on AWFY.

[2017-09-26 13:42] stuartphilp commented on #12
Fixed on next deploy. Good catch!

[2017-09-26 13:42] #12 closed

[2017-09-26 13:52] stuartphilp commented on #14
Resolved on the next deploy. We only have beta data to go back to early August when I asked bc to start graphing it, but it's enough to illustrate things I think.

[2017-09-26 13:52] #14 closed

[2017-09-26 13:59] stuartphilp commented on #7
fixed up the chrome query and the build is passing again, closing!

[2017-09-26 13:59] #7 closed

[2017-09-28 16:52] armenzg commented on #8
I will be looking into this.

[2017-09-28 16:55] armenzg commented on #8
@digitarald do you have any suggestions as to how to integrate this? (In case you have already given it some thought).

[2017-10-02 20:25] digitarald commented on #8
https://github.com/mozilla/platform-health/blob/6d5b10a3c0a72318aba269530551575f2dd9284e/src/perf.js#L395 has some code that grabs telemetry graphs over versions. It was driving https://health.graphics/quantum/pageload/render (other format: https://health.graphics/quantum/track?metric=GC_MAX_PAUSE_MS&child=content ) , which seems to be broken right now.

[2017-10-03 19:47] armenzg commented on #8
I'm hitting this:
[code]

`yarn add fs` does not help.

[2017-10-05 05:21] digitarald commented on #8
Looks like your node installation is broken, `fs` comes with node.

[2017-10-05 14:08] armenzg commented on #8
I removed node_modules and installed again. At the moment I don't hit this issue anymore.

[2017-10-05 15:08] armenzg opened #16 "Fetching the release criteria spreadsheet should not require GAUTH_JSON"
Loading http://localhost:3000/api/perf/notes returns (in the console):

On the server side we get the following:
[code]

[2017-10-06 12:54] armenzg opened #17 "Use telemetry-next-node"
In tmo.js we add a lot of code to fetch a telemetry evolution.

It is a better long investment to use the package provided by telemetry team:
https://www.npmjs.com/package/telemetry-next-node
https://github.com/mozilla/telemetry-next-node

[2017-10-10 20:27] armenzg commented on #8
I believe I've figured out how to use telemetry-wrapper to plot this within React:
https://github.com/armenzg/react-telemetry-demo/commit/07f1fb1a0cf1f837364b0a493e142e780be5789b

If @digitarald finds no objections with this approach I will move forward with it.

[2017-10-26 23:09] cpeterso opened #20 "Label Speedometer graphs with which Chrome channel (Beta or Canary?) we are testing"
The question of which Chrome channel (Beta or Canary) we're comparing Firefox Beta and Nightly against has come up a few times. We should label the graphs to avoid the question. Something like:

"Benchmark: Speedometer v2 32-bit Nightly vs Chrome Beta" (unless we are actually testing Canary, IDK)
"Benchmark: Speedometer v2 32-bit Nightly vs Chrome Canary"

[2017-10-27 00:14] stuartphilp commented on #20
Updated the labels, let me know if you need any further clarification

[2017-10-27 00:14] #20 closed

[2017-10-27 07:48] cpeterso commented on #20
Looks good! I like the new "Talos: Speedometer mozilla-central" graph too because it shows whether a regression in the Speedometer -vs- graph is caused by a Firefox change or not.

[2017-10-30 16:49] stuartphilp opened #21 "Show absolute speedometer values"
Possibly show:

Speedometer v2 Chrome absolute value - label “Chrome” color:red?
Speedometer v2 Firefox Nightly absolute value - label “Nightly” color: orange?
Speedometer v2 Chrome*.8 value - label “Target 57” color: grey?
Speedometer v2 Chrome*.9 value - label “Target 60” color: green?

[2017-10-31 15:46] stuartphilp commented on #21
Something along the lines of <img width="594" alt="screen shot 2017-10-31 at 11 45 40 am" src="https://user-images.githubusercontent.com/2964961/32233593-1cab3c1e-be31-11e7-96a1-01a1cc8001b8.png">

[2017-11-08 13:26] armenzg commented on #8
Finally merged!
https://github.com/mozilla/platform-health/pull/18#event-1331128987

This code makes it easier for other telemetry graphs to be integrated.

[2017-11-08 13:26] #8 closed

[2017-11-10 21:25] armenzg commented on #21
Do you want to get rid completely of what there is there already?
Or add one more graph?

I currently see 4 graphs with these configurations:

- 32-bit nightly vs Canary
- 64-bit nightly vs Canary
- 32-bit beta vs Canary
- 64-bit beta vs Canary

What are the differences between Chrome, Chrome .8 & Chrome .9?
If you want different versions besides Canary to be tested we will need to add more config

[2017-11-13 17:59] armenzg commented on #21
I evaluated the code and data transformations and this should take from few days to max 2 weeks.
My assumption is that for each comparative table we will have another one just below to show the absolute values (rather than have both data sets within the same graph: comparison & absolutes).
This perhaps is not difficult but I would have to investigate how well it will work (left Y axis for percenta

[2017-11-16 21:59] stuartphilp commented on #21
This would replace each of the 4 (still need the channel and architecture comparisons).

.8 and .9 are calculations of thresholds that we want to cross, so 80% and 90% of chromes actual score.

Target 57/60 are the Firefox releases where we want to cross the 80% and 90% thresholds. So since 57 has shipped (still display it), we want to target 90% by 60.

Let me know if there are other questions!

[2017-11-20 21:48] armenzg commented on #21
I believe what you want is to replace the 4 graphs with 4 graphs (ignore Talos speedometer), however, instead of showing percentages and a 20% band you want to see:
    * The current score of Nightly
    * The current score of Chrome Canary
    * The 80% score - named Target 57
    * The 90% score - named Target 60

I assume that Nightly will target 80% of the score (green status depends on it) fo

[2017-11-29 21:00] digitarald commented on #9
Data sources:

BHR: https://analysis-output.telemetry.mozilla.org/bhr/data/hang_aggregates/historical_data.json?d=1028
Talos: https://github.com/devtools-html/performance-dashboard/blob/master/perfherder/perfherder-signatures.js

[2017-12-05 16:47] stuartphilp opened #22 "Quantum Flow profiling graph"
Within bugzilla we are now tracking [qf:needs-analysis] and [qf:analyzed] whiteboard tags, this will be a top line goal for 2018 to keep performance issues well triaged.

We need to create a graph showing two lines over time indicating the NeedsAnalsyis:Analyzed ratio of profiling bugs

[2017-12-08 22:02] armenzg commented on #21
Speedometer data has a higher density of data points for the last 3 days and that can be seen on the graphs I'm plotting.
![image](https://user-images.githubusercontent.com/44410/33786877-d9270628-dc38-11e7-953b-000f7fe1c235.png)
![image](https://user-images.githubusercontent.com/44410/33786905-f028b592-dc38-11e7-8130-f533384117e4.png)

What do you want me to do about it? Leave it as is? Smooth it

[2017-12-18 16:54] stuartphilp commented on #21
@armenzg Leave it as is, we like to see the actual changes as opposed to smoothed/averaged numbers. Can you make it show the score rather than the time btw? We've decided to use the score for 2018. Looking forward to seeing the 80% and 90% markers, but looks great so far!

[2017-12-18 18:05] armenzg commented on #21
It should be possible.
This is the data of the benchmark "misc-score":
https://arewefastyet.com/data.php?file=bk-aggregate-speedometer-misc-score-36.json

WRT to the comparison graphs (the ones in use), from the title of the issue I understand that you want to keep them. Are we to change it to use the score or keep the time?

[2017-12-19 15:25] stuartphilp opened #23 "Annotations for graphs"
Each graph should have the ability to be annotated so we can add details/context around what a regression or improvement may be, and link out to a bug if there are relevant details.

[2017-12-19 15:30] stuartphilp commented on #21
I think we can actually replace those entirely with these, it will show the same basic data

[2017-12-19 15:51] armenzg commented on #23
We can store data in a Postgresql table since we're already on Heroku.

The difficulty of this feature will depend on how we want to implement this.

If we want a tooltip when hovering over data points we will have to store the data point as a unique identifier for the annotation.
We will also need to select a data point in order to get a prompt into which to add the annotation.
We should also con

[2017-12-19 22:05] armenzg opened #25 "Do not restrict CSS imports to only srcDir"
@wlach @eliperelman I'm trying to add react-metrics-graphics to platform-health, however, I'm getting an issue I can't understand.

When I load http://localhost:3000/quantum from this branch.
I get the following:

Here's a [link](https://github.com/mozilla/react-metrics-graphics/blob/master/src/components/MetricsGraphics.js#L3) to the code that tries to import the CSS module.

I've tried using the

[2017-12-19 23:57] eliperelman commented on #25
It looks like the CSS file you are importing is not a CSS module, but rather just a plain stylesheet. I typically keep CSS modules enabled only for local project files, or opt-in with the `.module.css` extension. I'd recommend removing the `modules` option and try importing the stylesheet again.

[2017-12-20 15:01] armenzg commented on #25
Eli suggested removing the "include: srcDir" for css files.
https://github.com/armenzg/platform-health/commit/e43808e0e7958b4292ccd99c8d8770f2fac70dee

I will get it reviewed and landed.

[2017-12-20 18:26] armenzg commented on #25
Fixed: https://github.com/mozilla/platform-health/commit/8e15bb2d49c45801c0dbc6dd94680863ad1d6709

[2017-12-20 18:26] #25 closed

[2017-12-20 18:37] armenzg opened #28 "Fully switch to react-metrics-graphics"
There's a bunch of places where we use metrics-graphics directly instead of react-metrics-graphics [1][2]. There's also some custom CSS code to modify the defaults of metrics-graphics.

The telemetry code also added some [CSS adjustments](https://github.com/mozilla/platform-health/commit/b1bb63a19c27118e03caf325e2fa9610875124a5).

Soon I will be landing some support for react-metrics-graphics (in

[2017-12-20 21:44] armenzg commented on #21
I have managed to use Widget with MetricsGraphics by allowing Widget to have children instead of only work with an svg. See [the changes required](https://github.com/armenzg/platform-health/compare/react-metrics-graphics...armenzg:criteria). This allows us to use composition.

Unfortunately, this is not building well in production [1]. Reproducible locally with `yarn build:prod`.
This is related t

[2017-12-21 15:49] armenzg commented on #21
I forgot to mention.
Here's a screenshot with partially working "release criteria" widget:
![image](https://user-images.githubusercontent.com/44410/34263183-9d507676-e63c-11e7-8126-7ad4753d1f83.png)

[2018-01-15 14:48] armenzg commented on #17
This can be resolved by fixing issue #28

[2018-01-15 14:48] #17 closed

[2018-01-17 20:42] armenzg commented on #21
I've decided to modernize platform-health to make it easier to maintain.

I hope it will reduce discrepancies between production and development as well as making it easier to add newer packages.

[2018-01-17 20:45] armenzg opened #29 "Modernize platform-health"
To do:
* Separate backend from frontend
* Switch frontend to Neutrino
* Make sure it deploys correctly and keeps running tests

I assume this will take few days to over a week.

The work will happen in https://github.com/armenzg/platform-health/tree/separate

[2018-01-17 20:48] armenzg commented on #29
The work is happening in here:
https://github.com/mozilla/platform-health/compare/master...armenzg:switch_neutrino

Todo:
- [ ] font loading
- [ ] fix routing
- [ ] add scripts for proper deployments

[2018-01-19 20:35] armenzg commented on #29
@digitarald @stuartphilp @eliperelman Just so this does not come as a surprise.

I've decided to separate the backend/frontend code into their own directories and boilerplate.
I can make Heroku start both up.

This will make it easier to move the forward the frontend without breaking the backend.

This all steams from that I tried to include react-metrics-graphics (for a frontend issue) and I star

[2018-01-22 23:24] digitarald commented on #29
If the outcome is a project that is as performant, easier to maintain and has better developer ergonomics, I am for it.

[2018-01-26 14:49] armenzg commented on #29
I'm going to take a step back to evaluate if we can avoid separating the project into two.
I'm going to revisit the production speficic issue when trying to introduce react-metrics-graphics:
https://github.com/mozilla/platform-health/issues/21#issuecomment-353190981

If I can't I will separate frontend and backend into different repositories since it makes the deployment story with Heroku nicer. I

[2018-01-26 16:05] armenzg opened #30 "Build issues if trying to include packages using newer syntax"
CC @eliperelman @digitarald @wlach

I've been trying to separate the frontend and backend because I did not know how to debug a build issue. I see the value of running both from the same URL, thus, here's my attempt at trying to hopefully fix this in an easier way.

I also tried to switch the project to using [Neutrino](https://github.com/armenzg/platform-health/tree/switch_neutrino) but I gave up

[2018-01-26 18:02] wlach commented on #30
As far as I am aware react-metrics-graphics is not using any es2016 idioms. Aside from that, I'm afraid I have no idea.

[2018-01-26 19:21] armenzg commented on #30
Thanks @wlach

For reference, the unexpected token message comes from here [1][2]

I'm at a complete loss. I've read more about babel I would have ever wanted to know.
I've tried many ways to swith to the 'minify' preset (or the 'env' preset) or even disable minify altogether, however, new errors would show up.

I will try one more time to switch to neutrino and if that doesn't work I will separat

[2018-01-26 19:21] #30 closed

[2018-01-30 20:54] armenzg commented on #29
@stuartphilp  since I'm going to split and rename the repository, can we rename the project to `firefox-release-dashboard` or `firefox-health` or similar? I want to drop the name `platform` from it.

Forward plan:

- Have two branches: backend & fronted
- Once both work get code into two different repositories (due to Heroku's needs)
- The frontend code will deploy with the current Heroku app to a

[2018-01-31 17:35] armenzg commented on #29
I have the backend running here:
https://platform-health-backend.herokuapp.com/api/perf/benchmark/speedometer
I removed flushing to CDN and I have to fix the test script.

I have the frontend running based on data from the backend instance:
https://platform-health-frontend.herokuapp.com/

I need to fix the routing, status of benchmarks, the favicon and few other minor things.
I've also noticed few

[2018-02-02 21:21] armenzg commented on #29
The frontend is working and running against the official backend:
https://firefox-health-dashboard.herokuapp.com/quantum
The new backend repo will be this:
https://github.com/mozilla/firefox-health-backend

On Monday, as preparatory steps,  I would like to switch the 'platform-health' GH repo to be 'firefox-health-dashboard'. I will need to make the 'platform-health' Heroku app point to the rename

[2018-02-02 21:34] armenzg commented on #29
Would you like the original code of 'platform-health' to be tagged with 'original'? or to branch it?

[2018-02-07 21:18] stuartphilp opened #34 "Update quantum dashboard for 2018 criteria"
Ask me for details, some still tbd :) Just wanted to get this filed while I'm thinking of it

[2018-02-08 18:16] armenzg commented on #21
I've managed to set up review apps correctly.
We have the frontend being deployed here:
https://platform-health-pr-35.herokuapp.com/quantum
It queries this backend:
https://firefox-health-backend-pr-5.herokuapp.com

I've noticed that the y-axis are inverted between AWFY and this.
In AWFY we're using *higher* is faster.
What is the preference? (see screenshot)

https://cl.ly/3S3v3T2M1s2x
![image](h

[2018-02-08 22:58] armenzg commented on #21
@stuartphilp r? wrt to previous comment.

The criteria widget now works. You can test it live here:
https://platform-health-pr-35.herokuapp.com/quantum

I'm thinking of making the target line to be a dotted gray line. What do you think?

You can see a screenshot in here:
![image](https://user-images.githubusercontent.com/44410/36002801-79f97d9c-0cf9-11e8-978d-f9f2a7406220.png)

[2018-02-12 19:43] armenzg commented on #29
I've landed the backend and frontend changes.
We're fully live.

I've adjusted a couple of variables in the Heroku platform-health app to point to the backend and to deploy a static app.

We now have 2 fx-health pipelines. One for the frontend and one for the backend.
We have support for review apps for each one.
I've also fixed that Travis was always failing and support for coveralls.

The FE now

[2018-02-12 19:43] #29 closed

[2018-02-12 19:50] eliperelman commented on #29
`DOMContentLoaded` isn't going to be very useful for timing this since it's not measuring anything meaning related to paint in a SPA like this.

You could either inject your own timings using `UserTiming`, or look more into the amount of data being transferred.

[2018-02-12 20:23] armenzg commented on #29
I assumed the `Finish` and `load` values are more meaningful.

The amount of data was pretty much the same between the two.

[2018-02-12 20:29] eliperelman commented on #29
They are meaningful, but not so much in the context of a SPA when the page is rendered async.

[2018-02-12 21:19] armenzg opened #36 "Use PostCSS with original settings before refactoring"
CC @eliperelman

If you run `yarn start` after the refactoring you will see some warning messages like these:

These warnings were not in the originally project, thus, I decided to try to bring the postcss plugins usage closer to the real thing.

Now, visually, I could not tell that there were any discrepancies between the previous version and the current refactoring.
The only difference I could t

[2018-02-12 22:26] armenzg commented on #36
Yes, I had introduced a buch of changes via yarn.lock.
Probably when I moved the postcss dependencies to devDependencies.

Current changes:
https://github.com/mozilla/firefox-health-dashboard/compare/master...armenzg:neutrino_postcss

I will make sure there are no visual impacts from the original project before I request for a review.

[2018-02-13 15:28] #36 closed

[2018-02-14 04:26] digitarald opened #38 "Generate source maps for production"
Just a nice to have to understand and debug health.graphics life; making it more educational.

[2018-02-14 04:44] eliperelman commented on #38
Should be able to add a line here https://github.com/mozilla/firefox-health-dashboard/blob/master/.neutrinorc.js#L132 with:

[code]

[2018-02-14 18:28] armenzg commented on #28
Wontfix until react-metrics-graphics can be included:
https://github.com/mozilla/react-metrics-graphics/issues/18

[2018-02-14 18:28] #28 closed

[2018-02-15 13:04] stuartphilp opened #39 "Add android release criteria dashboard"
As discussed, and as a separate dashboard/link from the home page, we'd like a dashboard showing how things are tracking for android/geckoview throughout the year

[2018-02-15 17:01] armenzg commented on #21
The changes seem to be live.
@stuartphilp I've addressed the issues you pointed out yesterday.

Here's a screenshot of what it looks like:
![image](https://user-images.githubusercontent.com/44410/36269716-dcb38c2c-1247-11e8-8982-86756b70779c.png)

[2018-02-15 17:01] #21 closed

[2018-02-15 17:03] armenzg commented on #16
The spreadsheet is now public.
Let's make sure the code works well with it.

[2018-02-20 14:39] armenzg commented on #11
@stuartphilp I've decided that doing this split now will be cleaner.
Would you mind telling me what to keep for the 32-bit page?
Thanks.

[2018-02-20 14:42] armenzg opened #40 "Speedometer percentage changes should include positive/negative symbol"
Right now, the percentage value is *always* positive regardless if we're slower.

[2018-02-20 14:50] armenzg commented on #11
Some graphs like Photon perf are "any OS & any architecture".

The Hassal graph, the first paint and hero element contain data up to September of last year (data from the spreadsheet). Should this *only* belong to the 64-bit page? Also, is the data going to be updated?

[2018-02-20 15:10] armenzg opened #43 "Support benchmarks that have subbenchmarks"
There's some new benchmarks that we need added that need support for subbenchmarks.
This issue focuses on adding support for it.

[2018-02-20 15:36] armenzg opened #44 "Talos speedometer graph is missing one of the two legends"
I can see 'win7-32' but not the other one.

[2018-02-20 15:40] armenzg opened #45 "The status widget highlight looks awkward"
We should *only* have white background behind the targetStatus and not see the green/yello at the top.

![image](https://user-images.githubusercontent.com/44410/36433367-539bc030-162a-11e8-9f96-79c7daa12d42.png)

[2018-02-20 15:41] armenzg commented on #9
I believe this is completed.
Please correct me if I got it wrong!

[2018-02-20 15:41] #9 closed

[2018-02-20 15:42] armenzg commented on #16
This issue has now been moved to https://github.com/mozilla/firefox-health-backend/issues/10
which is the new backend repository.

[2018-02-20 15:42] #16 closed

[2018-02-20 15:44] armenzg commented on #22
Do these whiteboard tags exist?

I tried searching for them:
https://bugzilla.mozilla.org/buglist.cgi?list_id=14020499&resolution=---&status_whiteboard_type=allwordssubstr&query_format=advanced&status_whiteboard=%5Bqf%3Aneeds-analysis%5D

https://bugzilla.mozilla.org/buglist.cgi?list_id=14020499&resolution=---&status_whiteboard_type=allwordssubstr&query_format=advanced&status_whiteboard=[qf%3Aanal

[2018-02-20 17:49] armenzg opened #46 "Add upcoming Tp6 changes"
@stuartphilp CC

Once tp6 is updated we will be able to add these new tests:
* First paint
* Hero element
* First contentful paint
* Domcontentloaded

[2018-02-22 14:57] armenzg commented on #11
I'm considering closing this since the Speedometer graphs are the only ones I can think of that have 32-bit/64-bit split.
In my recent work around speedometer I'm reducing the number of speedometer graphs and grouping per architecture. Thus, making it easier to distinguish each.

[2018-02-22 15:00] armenzg commented on #38
This seemed to work on production.
I've merged it and it should be live soon.

[2018-02-22 15:01] #38 closed

[2018-02-22 18:45] armenzg commented on #43
By this time next week we should be having Windows running these benchmarks on mozilla-central.
I have met with @wlach and I should a prototype to look next week.

[2018-02-22 18:52] armenzg commented on #46
According to jmaher we should be able to get the first three by the end of next month.

[2018-02-26 20:35] armenzg commented on #11
Closing as this improved page makes the separation between 32-bit and 64-bit less painful.
https://platform-health-pr-52.herokuapp.com/quantum
![image](https://user-images.githubusercontent.com/44410/36693892-9cb308b6-1b0a-11e8-9c37-b7f28646b499.png)

[2018-02-28 19:03] armenzg commented on #34
We've tackled what we could in PR #42

[2018-02-28 19:03] #34 closed

[2018-02-28 19:04] armenzg commented on #34
Follow ups are tracked in the [milestone](https://github.com/mozilla/firefox-health-dashboard/milestone/1).

[2018-02-28 19:23] armenzg opened #53 "Quantum page polishing"
After speaking with @stuartphilp we need to address the following:

- [x] Drop "First Paint" and "Hero Element"
- [x] Remove incorrect labels for tp6 loaded

Speedometer changes:
- [ ] Comparing against Canary 2017 should be 105% target rather than 95%
- [ ] Add permanent legend labels
- [ ] 1st graph to say "Nightly, Beta & current Canary"
- [ ] 2nd graph to say "Current Nightly vs Canary Dec. 20

[2018-02-28 19:30] armenzg opened #54 "Distinguish Firefox versions on graphs"
The Photon graphs show different colours for each Fx version [1].
The data coming from Telemetry has the data split like that already.

It would be nice if we could take the same approach for the Speedometer graphs [2] (it currently only shows an orange line).

We can handle this by moving data points into buckets according to the release dates.
We will need a data source to determine the dates or

[2018-02-28 19:36] armenzg opened #55 "Hovering over Talos graphs do not show current score for active data point"
Graphs using metrics-graphics allow the user to hover over the various data points and shows the actual value for each point.

This is a feature that the Talos graphs do not have.

Allowing this feature would most likely require switching over to metrics-graphics which **won't be trivial**. I also think we would loose the aura around each line (cloud of dots around the median/average (?) line).

!

[2018-02-28 21:36] armenzg commented on #22
I believe what is involved here is something around uncommenting this:
https://github.com/mozilla/firefox-health-dashboard/blob/master/src/quantum/index.js#L146
and make changes in here:
https://github.com/mozilla/firefox-health-dashboard/blob/master/src/quantum/flow.js

Perhaps a good opportunity is to allow it to receive whiteboard tags as props.

[2018-02-28 21:37] armenzg opened #56 "Upgrade to react-router 16"
The upgrade requires some code changes.

[2018-03-01 04:40] csd713 commented on #40
hello @armenzg I would like to take this up. Could you please help me?

[2018-03-01 17:28] armenzg commented on #46
TODO: Ask again jmaher by mid-March. The first might be possible by the end of March.

We currently have tests like: tp6 amazon, tp6 youtube, tp6 facebook, tp6 google. Currently we report a single value (HERO elements) for each of those.

[2018-03-01 19:29] armenzg commented on #40
@csd713 sure!
Could you please let me know when you have the project running locally?
On the quantum page you should see this:
![image](https://user-images.githubusercontent.com/44410/36865239-e9a30f50-1d5c-11e8-976d-eec28d612e60.png)

The percentage value should have a minus in front of the two digits.

[2018-03-02 00:00] csd713 commented on #40
@armenzg my project is up and running locally.
Here is my solution:

Instead of `(1 - ratio) * 100)` for 'reading' variable, we have to change it to `(ratio - 1) * 100)`.
It results in correct value and also correct symbol (positive/negative).
file to change: speedometer.js

Please let me know if I'm missing something.

[2018-03-02 14:13] armenzg commented on #40
When referring to code please insert links to it. It makes conversations easier.
For instance:
https://github.com/mozilla/firefox-health-dashboard/blob/master/src/components/awfy/speedometer.js#L90

In any case, I believe that should do it. Do you want to get a PR going?

[2018-03-02 15:50] csd713 commented on #40
Thanks for the advice. I'll use links next time.

Yes, i'll send a PR. Is there any document that I have go through to understand the process before sending a PR?

[2018-03-02 17:26] armenzg commented on #40
I wrote this for another project I wrote; does it help? https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/CONTRIBUTING.md

[2018-03-02 17:49] armenzg commented on #11
I noticed that all the Talos graphs also contain win7-32/win10-64 data.
Tp6 would benefit the most of a split up since it tracks so many pages rather than just one value.

[2018-03-02 21:14] armenzg opened #57 "Add support to "Filter out noise" in PerfherderGraphContainer"
This is an old screenshot but it pictures the problem quite clearly.
We want to support this in PerfherderGraphContainer.

[1]
![image](https://user-images.githubusercontent.com/44410/36807491-25353c2c-1c91-11e8-828c-1f032a391ab1.png)

[2018-03-04 05:15] csd713 commented on #53
hi @armenzg I would like to work on this issue. Could you please help me with more details on each item listed above.

[2018-03-05 14:15] armenzg commented on #53
Hi @csd713 , have a close look at [this page](https://health.graphics/quantum) and compare it to what I wrote down.

With regards to the labels, removing the "win7-32" and "win10-64" would be sufficient.

[2018-03-05 14:19] #40 closed

[2018-03-05 15:31] csd713 commented on #45
Hi @armenzg I would like to take this up. How can reproduce this issue?

[2018-03-05 18:08] armenzg commented on #45
Hi @csd713 you will have to load this page locally
http://localhost:5000/quantum and resize the window until you see the issue happening.

Unfortunately, the speedometers graphs (section "#1 - Speedometer") are not working correctly, thus, we can't reproduce the issue I reported 13 days ago.
There's an issue on the downstream service. I'm going to remove those graphs.

There's a similar issue for

[2018-03-05 18:09] armenzg opened #59 "Remove Speedometer graphs due to AWFY being shut down"

[2018-03-05 19:18] armenzg commented on #59
This has been deployed.

[2018-03-05 19:18] #59 closed

[2018-03-06 21:34] armenzg commented on #43
I have a prototype running for linux64:
https://perf-goggles.netlify.com/#/linux64/ARES6

[2018-03-07 02:21] csd713 commented on #45
Hello @armenzg I was able to reproduce this issue on a bigger screen (15 inch MBP).
I tried to wrap the background-color for the text, but I couldn't find a solution. I would really appreciate if could you help me with any pointer to achieve it.

[2018-03-07 16:08] armenzg commented on #45
Hi @csd713 I'm not very good at CSS so I will share some of what I discovered and hopefully that will trigger ideas to try. This is not a very important issue in case you end up deciding not to spend more time on it. It might be a good learning opportunity but don't worry too much if you decide to give up.

I used the dev tools inspector to look at the <header>, <h3> and <aside> elements.
If we di

[2018-03-07 17:05] armenzg commented on #43
- [ ] Integrate prototype into dashboard
   - [ ] Possibly need to update react router
   - [ ] Add routes for reaching new view (e.g. quantum/talos/<platform>/<suiteName>
   - [ ] Add graphs or link to new view
   - [ ] Ask feedback
- [ ] Follow ups
   - [ ] Make graphs look native to current theming of project
   - [ ] Bookmarkability of graphs

[2018-03-07 18:03] armenzg commented on #59
I've reverted this change since AWFY is back up.

[2018-03-08 20:10] armenzg opened #63 "Generate source maps for production"
It will help debugging production issues.

[2018-03-08 20:12] armenzg commented on #63
Wrong repo.

[2018-03-08 20:12] #63 closed

[2018-03-12 13:36] armenzg commented on #53
Hi @csd713 I have someone I'm on-ramping on this project and this would be a great issue to start with. If you can have a fix in the next couple of days that would be great, otherwise, I would like to re-assing it.

If there are no other issues in this repo that feel comfortable tackling I have a bunch of issues in this other repo:
https://github.com/mozilla/firefox-code-coverage-frontend/issues

[2018-03-12 14:51] csd713 commented on #53
Hi @armenzg It might be a while for me to have a look at this, so please reassign it. I will look into issues in new project

[2018-03-12 14:57] armenzg commented on #53
Thanks @csd713 for your understanding! I hope everything is well with you.

[2018-03-13 20:29] #56 closed

[2018-03-14 17:42] armenzg opened #65 "Indicate if higher/lower is better for all perf benchmarks"
That data might actually be indicated in perfherder.

[2018-03-14 17:47] armenzg opened #66 "Show error panel if PerfherderGraphContainer has missing data for several days"
Sometimes, Perfherder will stop having recent data, however, the graphs do not make it easy to notice.

We need to add some code that would look for the most recent data point, determine if it's been longer than 3 days and show an error panel underneath it saying so.

See issue #68 for when it happened in the past.

Use the `ErrorPanel` component:
https://mozilla-frontend-infra.github.io/component

[2018-03-14 18:23] armenzg opened #67 "Remove "quantum" tp6 signatures"
A while back we renamed a bunch of pages from "quantum" to "tp6".
It's been long enough and the old pages don't show up.

The tp6 loaded graph takes you here:
https://mzl.la/2FSMyeg
The link should lead us to this:
https://mzl.la/2Hzr7fC

There's a list of signatures in here that we need to trim:
https://github.com/mozilla/firefox-health-dashboard/blob/master/src/quantum/index.js#L297-L302

[2018-03-14 18:25] armenzg opened #68 "Update all Talos perfherder signatures"
We renamed a bunch of Talos jobs to include "stylo" in their name (I think) back in February.
Unfortunately, if you look at the Quantum page you would not notice easily that we're missing data since then.

[2018-03-14 18:27] armenzg commented on #66
See #68

[2018-03-19 14:54] armenzg commented on #43
Since Windows won't be ready for few more weeks.
I'm going to change this issue to giving support for subbenchmarks while moving adding the new benchmarks to a separate issue.

[2018-03-19 14:56] armenzg opened #70 "Add MotionMark, JetStream and ARES-6"
Joel is adding few benchmarks that were originally running in AWFY into Talos/Perfherder.
Once these are ready for Windows we can add them to the Quantum page.

These benchmarks have subbenchmarks and code to support it will be landed on issue #43.

List of benchmarks:

*  MotionMark
* JetStream
* ARES-6

[2018-03-19 17:32] armenzg opened #71 "Implement confidence band feature for metrics-graphics graphs"
The benchmarks that digitard put together look a lot like confidence bands (I think that is the right term).

I would like to see if that code can be resued for graphs generated using metrics-graphics.

E.g.
![image](https://user-images.githubusercontent.com/44410/37611846-e5a9422c-2b79-11e8-94fe-f966f9bc830f.png)

[2018-03-19 17:35] armenzg opened #72 "Switch from metrics-graphics to chart-js"
With the latest release of react-metrics-graphics we have been able to include it into the project (#62).

We can now migrate from the old-style to react-metrics-graphics.

Switch from `metrics-graphics` to `react-metrics-graphics`:
https://github.com/mozilla/firefox-health-dashboard/search?utf8=%E2%9C%93&q=metrics-graphics&type=

[2018-03-19 19:14] armenzg commented on #45
This will get fixed on #43

[2018-03-19 19:14] #45 closed

[2018-03-20 16:58] armenzg commented on #67
This is being handled in issue #68.

[2018-03-20 16:58] #67 closed

[2018-03-20 17:37] armenzg commented on #68
@jmaher @stuartphilp I would like your feedback on this.
I have left the "old" isgnatures in order to allow comparing the new signatures more easily.

Please visit https://platform-health-pr-74.herokuapp.com/quantum

Here's some things I've noticed:
* Talos TP6: Loaded
  * There is some weirdness on Perfherder
  * @wlach could you please look at this screenshot? [1]
* The moonshot regression can e

[2018-03-20 17:39] jmaher commented on #68
tp6 was off for ~2 weeks as we had difficulties getting it running on the
moonshots and had it off and it was overlooked in backing out when we
rolled back to the old IX hardware.

On Tue, Mar 20, 2018 at 1:37 PM, Armen Zambrano <notifications@github.com>
wrote:

[2018-03-20 19:32] #43 closed

[2018-03-20 20:01] armenzg commented on #68
I've got feedback from Stuart via IRC.
I've merged this.

I know the Perfherder graphs now look cluttered, however, we will get in a better shape when we separate 32-bit and 64-bit into their own pages (See issue #11 )

[2018-03-20 20:01] #68 closed

[2018-03-20 20:23] armenzg opened #75 "Remove all remaining custom linting rules"
When I split the frontend and backend code I decided to leave a bunch of custom linting rules.
If we remove them all we will likely catch some bugs we could otherwise be introducing.

Removing the custom rules will require refactoring the code to meet the airbnb style guide.

This is also useful since IDE editors that including linting do not know how to handle linting rules within .neutrinorc.js

[2018-03-20 20:39] armenzg commented on #57
I did [something similar](https://github.com/mozilla/firefox-health-dashboard/commit/643ff3bf1a710dbf1f9a07b9b76f5235bfc21561#diff-e382eb877fac5502593e9b6b96d9b488R73) to this when adding the subbenchmarks code.

I've marked this high cost since the code that needs touching is [the class PerfherderWidget](https://github.com/mozilla/firefox-health-dashboard/blob/master/src/quantum/perfherder.js) wh

[2018-03-20 20:53] armenzg opened #76 "Add test coverage"
We have no test coverage and it would great to add tests specially for the logic used on the Quantum page since we change it so often.

[2018-03-20 21:17] armenzg commented on #44
I don't see this happening anymore.

[2018-03-20 21:17] #44 closed

[2018-03-20 21:21] armenzg commented on #23
Adding database support is not too complicated with knex. It is similar to Django with its migrations.
You can even have sqlite for local development while you can still have PostgreSql for production.
I will try to write a short blog post in the near future covering this topic, however, this is a longer tutorial where I learned from:
http://mherman.org/blog/2017/08/23/building-a-restful-api-with-

[2018-03-20 21:24] armenzg commented on #54
We can probably easily be able to use [annotations](https://www.metricsgraphicsjs.org/examples.htm#annotations) from metrics-graphics.

[2018-03-20 21:26] armenzg commented on #72
In short, this covers the AWFY and Photon performance ones from the Quantum page.
Also the graphs from the crashes routes (e.g. https://health.graphics/crashes)

[2018-03-20 21:32] armenzg opened #77 "Make PerfherderWidget use react-metrics-graphics"
This will reduce the cost of maintaing two different approaches (direct svg manipulation) as well as gaining some features (e.g. hovering over data points issue #55).

[2018-03-29 16:48] armenzg opened #79 "Have a two tier data fetching approach to improve the expired and no cache scenarios"
We currently query json-pushes to give us all the pushes in the last day which we then turn into changesets.
After we do that, for every changeset we asynchronously query the backend (producing 100-400 fetches) and wait for *all* of them to finish first.
This is specially bad since the browser allows for a maximum of 6 fetches in parallel.
Nothing in the UI is rendered until all fetches have been

[2018-03-29 19:28] armenzg commented on #79
Wrong repo.

[2018-03-29 19:28] #79 closed

[2018-03-29 22:50] sarah-clements opened #81 "Certain Quantum routes not rendering"
Several routes in /src/quantum/routes.jsx are failing when testing on health.graphics and locally:
- 'track' route shows in error in the console (TypeError: e is undefined) and the page isn't loading
- 'responsiveness/parent', 'responsiveness/content', and 'pageload/render' all fail to fully load and show this message in the console:
"Cross-Origin Request Blocked: The Same Origin Policy disallows

[2018-03-29 22:58] sarah-clements opened #82 "Specific graphs to use metric-graphics baseline prop"
In Quantum pages, replace the AWFY components (ONLY for 'Current Nightly vs Canary Dec. 2017' graphs) target line with a baseline (baseValue * targetRatio), using the metric-graphics 'baselines' prop. This might need to tie into issue #72 as removing the target line/data for this graph in the API results in a UI side effect of a persistent label appearing on the graph (normally only appearing on h

[2018-03-30 20:51] sarah-clements commented on #81
It might be a result of this: https://github.com/koajs/cors/issues/18

[2018-03-30 21:20] sarah-clements commented on #81
It doesn't look like the koa-cors library is being maintained; switching to the [@koa/cors](https://github.com/koajs/cors) library eliminated the CORS console message, however, it looks like the problem might be that for some of the routes the telemtry.aggregates API is returning a 500.

[2018-04-02 22:39] sarah-clements commented on #81
I've done research on the backend and the 'responsiveness/parent', 'responsiveness/content', and 'pageload/render' 500's are all due to a failure in the Telemetry.getEvolutions function in the evolution-versions API (the first two due to dates not being available for Aurora v61) and for the latter I'm still researching as to whether the query param metric has changed or is not available for specif

[2018-04-05 23:52] sarah-clements commented on #53
This issue was incorporated into another issue and resolved with #80

[2018-04-05 23:52] #53 closed

[2018-04-05 23:54] sarah-clements opened #83 "Add error handling"
For all of the Quantum routes and crashes/beta (and possibly others?), if an endpoint fails the page continues to show "loading" indefinitely.

[2018-04-06 18:51] sarah-clements commented on #83
It would also be a good idea to add error handling that informs the user that they failed to enter required query parameters.

[2018-04-09 14:09] stuartphilp opened #84 "Redirect https://health.graphics/quantum"
A lot of people have https://health.graphics/quantum saved as the URL they go to, but with the 64/32 bit split this link no longer works. We should either redirect this to https://health.graphics/ or even better a smaller version of that home page that just shows the 32 and 64 bit links.

[2018-04-10 22:44] sarah-clements commented on #84
Per our convo in the channel on Monday, it seemed like a good idea to add an info icon to explain changes in quantum routes. However, I think it would make more sense to have a menu in place that allows people to navigate directly to /responsiveness/parent and other routes, without requiring them to only do so via the address bar. I'm only pushing the redirect for now as @armenzg might want to wei

[2018-04-10 23:51] sarah-clements commented on #81
Update: no change is needed for aurora to beta merge, but @stuartphilp will look into the metric change. Other issues were fixed with [this](https://github.com/mozilla/firefox-health-backend/pull/22) backend pr  (except for the CORS issue).

[2018-04-11 16:40] #11 closed

[2018-04-11 17:46] stuartphilp commented on #81
@sarah-clements suggestion was to use the "no_netopt" probe for now as it will be the closest to the old probe data (the network optimizations are new and a subset of old data, so it won't be 100% comparable)

[2018-04-11 19:00] sarah-clements commented on #22
A few questions/comments about this project:

1) The current endpoint the Flow component is using (/api/bz/burnup) uses a whiteboard tag of [qf:p1] and divides the bugs into a count of total bugs and bugs closed, by date. @stuartphilp Does any of this make sense to use for this project?

2) A preliminary pull of the bugzilla API only returned one result with the [qf:needs-analysis] tag and none wi

[2018-04-11 20:08] stuartphilp commented on #22
@sarah-clements Going forward the quantum releases will be every 3rd Firefox release, so Firefox 61, 64, 67, etc. The new whiteboard tags are ```[qf:p1][qf:f61]```, where [qf:p1] means it's top priority, and [qf:f61] is targeting Firefox 61 release.

We will need to update this to [qf:f64] once 61 ships.

The [qf:needs-analysis] tag is supposed to be used, but the dev work is just kicking off so I

[2018-04-13 01:30] sarah-clements commented on #81
All remaining issues have been fixed (except for CORS as Armen might want to look into different library options himself).

[2018-04-13 01:30] #81 closed

[2018-04-13 12:41] klahnakoski commented on #22
Please note that the Bugzilla-ETL cluster also has this information for all bugs, over all time.  This is in the form of numerous bug snapshots, each marked with the range of time they are valid.  A single query, grouped by day can provide you with timeseries data over any range, and any resolution.

https://wiki.mozilla.org/BMO/ElasticSearch

[2018-04-25 23:44] #22 closed

[2018-05-02 19:57] #54 closed

[2018-05-03 22:10] sarah-clements opened #91 "Update whiteboard tag for Quantum flow component with V61 release"
The [qf:f61] tag should be replaced with [qf:f64] [here](https://github.com/mozilla/firefox-health-dashboard/blob/master/src/quantum/constants.js#L37) when 61 is released, as mentioned in [this](https://github.com/mozilla/firefox-health-dashboard/issues/22) issue.

[2018-05-07 15:16] armenzg commented on #46
From Joel:

[2018-05-07 16:56] armenzg opened #93 "Remove the risk/target status summary widget"
When visiting the [quantum page](https://health.graphics/quantum/64) it is unclear what metrics are within target and which ones are not.

The number of green and yellow graphs does not sum to those numbers.

![image](https://user-images.githubusercontent.com/44410/39706337-1a982f58-51df-11e8-9a5c-bfad5ed6007a.png)

[2018-05-07 17:32] armenzg commented on #91
Firefox 61 is releasing on 2018-06-26

[2018-05-07 18:31] armenzg opened #94 "Speedometer graph to link to Perfherder's autoland/m-i to discover alerts"
I saw this baseline bump for Speedometer
https://cl.ly/1O1b421A1a1o
which lead me to this PH graph:
https://treeherder.mozilla.org/perf.html#/graphs?series=%5Bmozilla-central,797a2bfbbac2c632f4f354aff7677a3df3c749a3,1,1%5D&series=%5Bmozilla-central,be6032b74e5c65e733f105927222b0880c2e9822,1,1%5D&timerange=7776000

![image](https://user-images.githubusercontent.com/44410/39718125-59744044-5203-11e8

[2018-05-07 18:33] armenzg opened #95 "Photon perf graphs use data from all operating systems instead of Windows"
The photon performance graphs use data from *any* OS rather than windows 32-bit or windows 64-bit.

This:
https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=median&arch=x86-64&cumulative=0&end_date=null&keys=&max_channel_version=nightly%252F61&measure=FX_NEW_WINDOW_MS&min_channel_version=nightly%252F58&processType=*&product=Firefox&sanitize=0&sort_keys=submissions&start_date=null&trim

[2018-05-07 19:29] armenzg commented on #84
It seems you landed code to accomplish the redirect requested in this issue, thus, I will close the issue.

We can file an issue to reach addresses that are not currently linked from the Home page.
Eli recommends material design instead of react-strap:
https://material.io/components/web/
Code examples can be found here:
https://github.com/taskcluster/taskcluster-web

[2018-05-07 19:29] #84 closed

[2018-06-06 13:21] armenzg opened #96 "Quantum 64-bit page loading black"
Visit this https://health.graphics/quantum/64

[2018-06-06 14:33] armenzg opened #98 "Create high order components to add error boundaries to widgets"
Instead of creating an error boundary per component.
Let's see if we can create a generic method to wrap components in and thus have an error boundary for all of them.

This would have helped with issues like issue #96 since only 1 widget of the whole page would have crashed instead of the whole page.

https://reactjs.org/docs/higher-order-components.html
https://reactjs.org/docs/error-boundaries.

[2018-06-06 16:06] past opened #99 "Add a first-blank-paint Photon perf graph"
In 61 we [added](https://bugzilla.mozilla.org/show_bug.cgi?id=1453782) a new perf measurement for the early blank window paint that has yet to ship to our release population. You can see it as the last graph in my dashboard:

https://astithas.com/perm/photon-perf/

It would be good to add this to the main Quantum dashboards as well.

[2018-06-06 19:50] armenzg commented on #96
@sarah-clements  and I worked on this. Three changes landed for this:
https://github.com/mozilla/firefox-health-dashboard/commit/319e02dbde4b89bffa204ef242da4017b0a47e34
https://github.com/mozilla/firefox-health-dashboard/commit/8f81a03c90b01a5fab5ed82c5068320f2a355a46
https://github.com/mozilla/firefox-health-dashboard/commit/9164429e1db8ecf5ad40bb7ed103eb8ae4cd5343

It seems that at the core, th

[2018-06-06 19:50] #96 closed

[2018-06-06 21:07] armenzg commented on #99
I will look into this tomorrow

[2018-06-08 13:58] armenzg commented on #99
@past Could you please give me your feedback?
https://platform-health-pr-102.herokuapp.com/quantum/64

Clicking on the header of the graph will take you here:
https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=median&arch=x86-64&cumulative=0&end_date=null&keys=&max_channel_version=nightly%252F62&measure=SIMPLE_MEASURES_BLANKWINDOWSHOWN&min_channel_version=nightly%252F59&processType=*&

[2018-06-08 16:08] past commented on #99
Looks great! The only odd thing is that it doesn't seem to be filtering for parent process only (same as First Paint), which is what these measurements are really about. Not a big deal though if it's too cumbersome to fix.

[2018-06-08 18:26] armenzg commented on #99
What would a fix look like? I don't quite understand.
What would a correct fetch to Telemetry look like?

[2018-06-08 19:37] past commented on #99
You could [pass](https://telemetry.mozilla.org/new-pipeline/evo.html#!max_channel_version=nightly%252F62&min_channel_version=nightly%252F60&sanitize=1&trim=1&use_submission_date=0&measure=SIMPLE_MEASURES_BLANKWINDOWSHOWN&product=Firefox&processType=parent) the `processType=parent` query argument or add it as a [filter](https://github.com/past/past.github.com/blob/master/perm/photon-perf/js/index.j

[2018-06-12 20:38] armenzg commented on #99
That filter is defined on the backend:
https://github.com/mozilla/firefox-health-backend/blob/photon/src/perf/telemetry_config.js#L41

I think there might be a bug on the frontend where the link is built incorrectly.
If I put your graph and the one produced in my PR I can see that they're plotting the same data (see screenshot).

I will land the code once I get my approval and see how we can fix t

[2018-06-12 20:38] armenzg opened #103 "Photon perf links can be incorrect"
As described in here:
https://github.com/mozilla/firefox-health-dashboard/issues/99#issuecomment-396725435

[2018-06-12 20:39] armenzg commented on #99
Discrepancy filed:
https://github.com/mozilla/firefox-health-dashboard/issues/103

[2018-06-14 22:13] armenzg opened #105 "Android release criteria updates"
A bunch more are coming.

[2018-06-14 22:14] armenzg opened #106 "Error boundaries per widget"
To prevent a widget unhandled error to crash the page.

[2018-06-14 22:14] armenzg commented on #99
This is done.

[2018-06-14 22:14] #99 closed

[2018-06-18 15:20] stuartphilp commented on #105
The items to add are:

1. Expand site list to encompass all ~35 sites (will send spreadsheet)
2. Update from spreadsheet to API (nimbledroid providing, when available)
3. Add benchmarks section (speedometer for now, reporting from bitbar, when available)
4. Add talos section (include tp6 and any other tests that are running in bitbar, when available)

[2018-06-18 16:55] #106 closed

[2018-06-19 12:53] armenzg opened #109 "GraphContainer to accept a generic fetching method as a prop"
This will get us prepared to provide a function to fetch from the Nimbledroid APIs.

[2018-06-19 12:56] armenzg opened #110 "Android graphs to use Nimbledroid APIs instead of spreadsheet"
More details as I get a hold of them.

[2018-06-19 12:57] armenzg opened #111 "Android - add benchmarks section"
Add benchmarks section (speedometer for now, reporting from bitbar, when available)

[2018-06-19 12:58] armenzg opened #112 "Android - Talos section"
Add talos section (include tp6 and any other tests that are running in bitbar, when available)

[2018-06-19 13:00] armenzg commented on #105
@stuartphilp I've hidden your comment as I've turned each item into an issue and tracked them in a milestone: https://github.com/mozilla/firefox-health-dashboard/milestone/3

We will keep this issue around so we can add the remaining sites.

[2018-06-19 13:34] armenzg opened #113 "Make the target be calculated based on the last data point"
It currently uses hard coded targets:
https://github.com/mozilla/firefox-health-dashboard/blob/master/src/android/constants.js#L1-L19

[2018-06-20 17:44] stuartphilp opened #114 "Redirect non-existant endpoints to the home page"
If you try to load a page like https://health.graphics/abc123 it will show you a black/blank page. Instead it should redirect you to the homepage or at least display a "not found, click here to load the home page" type error.

[2018-06-20 17:47] stuartphilp opened #115 "Clean up dashboards to be readable from mobile devices"
To make it more readable from phones, consider how we can display the dashboards responsively and clean up any rendering bugs

![img_4f4095458ef9-1](https://user-images.githubusercontent.com/2964961/41675322-6442cba8-7490-11e8-819c-f68e3e4c6d86.jpeg)

[2018-06-21 14:37] stuartphilp commented on #110
We have access to the API now, please let me know when you can look at it and we can discuss further

[2018-06-28 19:56] armenzg commented on #105
@npark-mozilla Hi! You added a bunch of sites last week. Are there any left to be added?
If not, we can close this issue and open a new one when we have new sites to be added.

[2018-06-28 19:58] armenzg commented on #111
@stuartphilp @jmaher I believe there's nothing to be done in here until we have speedometer on bitbar.
What is the timeline for this?

[2018-06-28 19:59] armenzg commented on #112
@jmaher what is the timeline to running tp6 on Android? Any bug to follow?

[2018-06-28 20:01] armenzg commented on #98
This got fixed with this:
https://github.com/mozilla/firefox-health-dashboard/commit/3801efcd41609b7a130e762fbc69adbb3745c2da

[2018-06-28 20:01] #98 closed

[2018-06-28 20:06] jmaher commented on #111
lets say 2 weeks for the data

On Thu, Jun 28, 2018 at 3:58 PM Armen Zambrano <notifications@github.com>
wrote:

[2018-06-28 20:07] jmaher commented on #112
tp6 on android will be longer term (August or later)

On Thu, Jun 28, 2018 at 3:59 PM Armen Zambrano <notifications@github.com>
wrote:

[2018-06-28 20:43] npark-mozilla commented on #105
Ah yes, there are another 35 or so sites to be added, which are content urls.  They are listed in: https://github.com/npark-mozilla/focus-nimbledroid/blob/876b871a13f389788821fb82a5b3f13bc4426908/klar-tests/app/src/androidTest/java/com/nimbledroid/blackboxtest/EspressoTests.java#L110

Since they contain many special chars, we decided to leave it until the api was available.

[2018-07-06 16:32] armenzg opened #119 "Handle non-customFlow profiles"
I'm leaving them out of scope for now as they're not required, however, it might be nice to have in the future.

[2018-07-09 18:59] armenzg opened #120 "Move to CSS grids"
We currently have tons flexbox in our CSS.
We should move to CSS grids.

[2018-07-09 19:53] armenzg commented on #110
There's an initial deployment here: https://platform-health-pr-118.herokuapp.com/android/v2

[2018-07-10 14:17] armenzg commented on #110
CC @wlach @npark-mozilla

The labels are now being calculated automatically.

Following items:
* Calculate target line
* Criteria widget to turn green and yellow
* Rewrite commit history

There's a usability and performance (Fx specific) issue with plotting 100+ graphs.
I'm **inclined** to ask for review this with those issues and do a follow up (since we would have reached an MVP).
By doing so we

[2018-07-10 18:23] armenzg commented on #110
I've landed the "target line" feature and cleaned the commit history.
![image](https://user-images.githubusercontent.com/44410/42529548-c3c1d7a6-844c-11e8-90eb-32bd7b84cd91.png)

I will be tackling making the widget change colours (green/yellow).

[2018-07-11 13:53] armenzg commented on #110
NOTE: The current deployment is *only* showing 20 sites until I fix the performance issue on Firefox.

Deployment: https://platform-health-pr-118.herokuapp.com/android/v2

I've landed the following:
* Target labels
* Widgets change colours according to met target
* Show a loading message when the backend is getting the data
* Discard data points with 0ms

![image](https://user-images.githubusercon

[2018-07-12 19:47] armenzg commented on #110
I've landed the code.
There are more usability improvements coming but for now this is the page to use:
https://health.graphics/android/v2

I will eventually get rid of 'v2' on the route and replace the main page.
Let me know if you want that sooner than later.

[2018-07-13 08:09] cpeterso commented on #110
The new dashboard looks great! There is no rush to rename the URL's "v2" route.

[2018-07-15 11:27] armenzg opened #122 "Usability improvements for Android V2 view"
There are just too many graphs.
Here's a draft of the next pass for it.
![image](https://user-images.githubusercontent.com/44410/42733516-738b857c-8800-11e8-9f4b-235700bdac77.png)

I should have a PR for this (or close to it) in this coming week.

[2018-07-15 11:28] armenzg opened #123 "Use red labels in Android V2"
If the graph is 100% away from the target turn the status red.

[2018-07-15 11:30] armenzg opened #124 "Investigate any target/status being incorrect in Android V2"
From `vchin`:

[2018-07-15 11:31] armenzg opened #125 "Pre-cache Nimbledroid data"
This issue is to simply track the backend work in https://github.com/mozilla/firefox-health-backend/issues/40

Our current first load on a cold cache can take between 20 and 40 seconds.

I will not be able to tackle it this coming week.

[2018-07-15 11:48] armenzg opened #126 "Rename the lines from Focus to WV and Klar to GV"
As per Vicky.

[2018-07-15 17:57] armenzg commented on #124
It was a silly mistake. I was not multiplying by the `targetRatio`.
I've fixed it with https://github.com/mozilla/firefox-health-dashboard/commit/364d0b6626a3cc146eb4733ea2883f7dafcba7d5

[2018-07-15 17:57] #124 closed

[2018-07-15 19:14] armenzg commented on #126
Fixed.

[2018-07-15 19:14] #126 closed

[2018-07-15 19:15] armenzg commented on #123
Fixed.

[2018-07-15 19:15] #123 closed

[2018-07-15 19:15] armenzg commented on #113
This was landed as part of #110.

[2018-07-15 19:15] #113 closed

[2018-07-16 00:45] a8t commented on #120
Hi, I'm willing to take this on. I'm wondering how you feel about browser compatibility. Should I leave the flexbox as a fallback?

[2018-07-16 05:30] cpeterso commented on #122
There definitely are a lot of graphs! :) What if graphs were shrunk down and displayed in a grid so that they all fit on one screen? Each graph has a lot of empty space. The graphs' trends would still be visible on a small graph and the trends (and whether WebView or GeckoView is faster on each site) are more important than the tiny ups and downs each day.

[2018-07-16 20:52] armenzg commented on #122
After speaking with @wlach and @cpeterso I've come up with this second draft.
This is based on inspiration from [mission-control](https://data-missioncontrol.dev.mozaws.net/#/release/windows).
For now, I will be focusing on the backend issue I've reported and I will then come back to this.
I expect 2-4 days to complete this.
I will probably tackle it early next week.

<img width="500" alt="image"

[2018-07-16 21:01] wlach commented on #122
I think this is great. The only thing I'd add is some kind of header element at the top saying what the current overall score is. i.e.:

<center><h1>33 out of 50 in target range</h1></center>

[2018-07-16 21:06] armenzg commented on #120
Hi Andy,
I've received an email from GH saying that you made a comment, however, I can't see your comment on this page and I can't see anything about being deleted.

Here's your comment (via email):

No need for backward compatibility as this site is mainly used for Firefox product managers and engineers. They should be using Firefox Nightly 😄

[2018-07-16 21:22] cpeterso commented on #122
The dashboard's most important use case is to see all the graphs on one page so a human can quickly check all the graphs (even if that page needs to scroll like it does today). We have that today. 😃 Visually comparing graphs for two different sites side-by-side (like abcnews.go.com versus m.spiegel.de is the first screenshot above), however, is a low priority because the sites have are loading dif

[2018-07-16 21:31] wlach commented on #122
Asking a human to manually scroll through 100 graphs and checking that each one is within a range seems rather time consuming and error prone to me, which is why I suggested some kind of tabular summary.

[2018-07-17 05:07] cpeterso commented on #122
I see what you mean. A tabular summary that can a human can quickly scan sounds useful.

[2018-07-17 13:22] armenzg commented on #109
It does not make sense anymore.

[2018-07-17 13:22] #109 closed

[2018-07-18 17:09] cpeterso commented on #122
@canuckistani suggests the page show a red/yellow/green summary table showing just the number of sites that:

* GeckoView > 20% slower than WebView (red)
* GeckoView > 0% and <= 20% slower than WebView (yellow)
* GeckoView <= 0% (i.e. faster than) WebView (green)

https://gist.github.com/canuckistani/8d5a240056047cee0ccab01ece538afa

[2018-07-18 17:09] cpeterso commented on #122
@canuckistani suggests the page show a red/yellow/green summary table showing just the number of sites that:

* GeckoView > 20% slower than WebView (red)
* GeckoView > 0% and <= 20% slower than WebView (yellow)
* GeckoView <= 0% (i.e. faster than) WebView (green)

Even if just in a console table:
https://gist.github.com/canuckistani/8d5a240056047cee0ccab01ece538afa

[2018-07-19 07:50] cpeterso commented on #122
I see. That sounds good now that I understand. Being faster than our target (WebView + 20%) is worthy of being green. :)

[2018-07-19 15:50] armenzg commented on #122
Does this work?

![image](https://user-images.githubusercontent.com/44410/42954083-d3b60c32-8b49-11e8-9475-20d3b06739d8.png)

[2018-07-19 16:53] andreasbovens commented on #122
That looks good to me. What will the detailed view look like?

[2018-07-19 18:45] cpeterso opened #130 "Invert JetStream graph"
The JetStream benchmark reports a ["higher is faster" score](https://www.browserbench.org/JetStream/) instead of a "lower is faster" elapsed time like the other benchmarks on the Quantum dashboard. We should invert the JetStream graph so "_visually_ lower is faster" like all the other graphs on the page. We do for AWFY.

[2018-07-19 18:46] cpeterso commented on #122
Looks good!

[2018-07-19 20:48] armenzg commented on #130
I will tackle this after the usability issue.

As reference:
<img width="512" alt="image" src="https://user-images.githubusercontent.com/44410/42969213-7cfdb096-8b73-11e8-9c5a-a4997476dbfd.png">

[2018-07-19 20:55] armenzg commented on #122
I currently have this:
<img width="884" alt="image" src="https://user-images.githubusercontent.com/44410/42969543-7e0206e4-8b74-11e8-9513-a5e135cebfe0.png">

[2018-07-20 19:56] mgaudet opened #131 "Provide some guidance on reading charts"
Related to #130, if the design is such that lower should be be always better, might be nice to have a sentence to that effect, or some other indicator somewhere to help new people navigate the dashboard.

[2018-07-20 20:13] armenzg commented on #122
I won't be able to finish today.
It needs real data for the **overall summary** (the sites are using real data) and some CSS grid love.

However, here's what I currently have:
* [Overall view](https://platform-health-pr-129.herokuapp.com/android)[1]
* [Site drill down](https://platform-health-pr-129.herokuapp.com/android/graph?site=marvel.wikia.com/wiki)[2]

Todo:
* Calculate real data for overall

[2018-07-20 20:18] vickychin commented on #122
Would it be possible when I click on the red summary bar at the top that it'd just give me the two graphs that are in the red zone? Same as yellow? That would be super helpful.

[2018-07-23 17:20] armenzg commented on #122
@vickychin Unfortunately, I'm too tight for time. If something is *not* a blocker I will be pushing it to the end of August.

TODO:
* Determine issue loading flipkart.com
* Calculate real data for overall summary
* Change look of overall summary to match designed draft
* Long websites should only show domain
  * NOTE: There can be two sites for the same domain; differentiate them

This is what my

[2018-07-23 20:32] armenzg commented on #122
Latest look:
<img width="1031" alt="image" src="https://user-images.githubusercontent.com/44410/43101205-c4e52b26-8e95-11e8-8a4f-9f6cfc0c5b5f.png">

[2018-07-24 18:52] armenzg commented on #122
I've tackled all my TODOs. There might be some minor tweaks coming, however, nothing that I will need you to check.

@vickychin @cpeterso @andreasbovens @npark-mozilla: Could you please test the current deployment? I'm looking for _blockers_. If wlach doesn't see any issues I will land it.

* [Link](https://platform-health-pr-129.herokuapp.com/android)
* [Drill down of a site](https://platform-hea

[2018-07-24 20:04] armenzg commented on #122
After minor tweaks; time to request review:
<img width="946" alt="image" src="https://user-images.githubusercontent.com/44410/43163138-2c8ca1a8-8f5b-11e8-83d7-fa7fdf432cb2.png">

[2018-07-24 20:20] cpeterso commented on #122
👍  The site on the staging server looks good! I like the top summary of how many sites are red/yellow/green and the % from target in the site list. I tested some links and graphs and didn't find any problems.

[2018-07-24 21:40] vickychin commented on #122
Previously we had the target to be GeckoView <= WebView + 20%
Anything that met the target was green, red was anything that was 100% worse than webview, and yellow was in between those two. Seems like the definition has changed?

I am ok with the new colouring also, I just want to point out we're changing the target and colour definitions. @cpeterso @andreasbovens

[2018-07-24 21:53] vickychin commented on #122
Actually the target in the graphs is still the same as before, the colouring changed.

Like the new layout and format on the staging server! Thanks @armenzg

[2018-07-25 13:57] armenzg commented on #122
@vickychin we changed the criteria in https://github.com/mozilla/firefox-health-dashboard/issues/122#issuecomment-406005811

I've pushed one more change to fix an issue with the regex.
It now matches all 76 URLs instead of 66.

If there's anyone in here good with regexes, would you mind looking at [this](https://regexr.com/3svms)? I can't figure out how to get rid of the "/" at the end of some URL

[2018-07-25 17:23] armenzg commented on #122
@wlach hahaha totally baited you! 😄 Next time I see you I will want to understand that question mark within the grouping!

I've pushed a modified version of your regex.

[2018-07-25 20:16] armenzg commented on #122
@andreasbovens I will add it once I tackle the review feedback from wlach.

[2018-07-27 11:43] armenzg commented on #122
I've landed the PR. It is live now.

Thank you all for participating on this PR.
Special thanks to @wlach for all his design experience and code review feedback!

The last screenshot:
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/44410/43318819-5b07c884-9170-11e8-8787-3630ff24c1ef.png">

[2018-07-27 11:43] #122 closed

[2018-08-03 14:36] armenzg opened #211 "Sticky data points"
Make the data points be sticky when clicked,
Have the hg source link and revision/perf delta be sticky when clicked.

<img width="405" alt="image" src="https://user-images.githubusercontent.com/44410/43648647-0964dba4-9709-11e8-8e56-f46174a889a1.png">

[2018-08-28 08:37] bnjbvr opened #222 "Select a time range to zoom"
This was a very useful feature to spot regressions by hand on AWFY: allow to select a range by clicking and selecting, in the graph, so we can zoom into it and can see more fine-grained details of what happens over this range.

[2018-08-30 12:29] armenzg opened #213 "Enhanced data when hovering over data points"
Add the hg source link and revision/perf delta.

<img width="405" alt="image" src="https://user-images.githubusercontent.com/44410/43648647-0964dba4-9709-11e8-8e56-f46174a889a1.png">

[2018-09-06 16:43] cpeterso opened #132 "Nimbledroid dashboard not showing WebView test results since August 9"
@armenzg - The Firefox Health dashboard for Android Nimbledroid tests doesn't show any WebView (WV) test result since August 9. It still shows recent GeckoView results.

https://health.graphics/android/graph?site=https://mic.com/stories/262/the-art-of-an-organized-refrigerator

@npark-mozilla wonders if this is related to a change in the Focus version numbers where Nimbledroid is reporting version

[2018-09-06 17:28] armenzg commented on #132
I will look at this after my 1x1. If you need me to cancel my meeting let me know (via IRC/Slack) and I will do so.

[2018-09-06 20:18] armenzg commented on #132
The API from Nimbledroid is timing out after 120 seconds.
My mechanism to report failures failed.
I noticed that my fetching script only failed once I cleared the Redis db.

I've reported the issue to Nimbledroid. I also made reference to my concerns about the API back on July 17th.

[2018-09-06 20:41] armenzg commented on #132
Script failure ==> exit code != 0 ==> fantastic

[2018-09-08 00:55] cpeterso commented on #132
Thanks! It's working now. The dashboard now shows the latest test results for both GeckoView and WebView, e.g. https://health.graphics/android/graph?site=https://www.reddit.com.

[2018-09-08 04:13] npark-mozilla opened #133 "Add chrome pageload values in android health dashboard"
We recently added Chrome beta pageload tests in Nimbledroid to get the performance numbers of the latest Chrome (Beta contains 68).  We would like to have an additional data column and graph fro chrome webview on https://health.graphics/android .

The % from target should be based on the values of Chrome webview numbers. @cpeterso , could you let us know if there is any additional requirements?

[2018-09-08 22:48] npark-mozilla commented on #133
According to this FAQ, Chrome will not use old system Webview, and use its own webview: https://developer.chrome.com/multidevice/webview/overview#does_this_mean_chrome_for_android_is_using_the_webview_

Nimbledroid says updating the android system webview on their device farm is something that can't be done soon - it is in their milestone, but we don't have ETA for it.

I'm planning to update the

[2018-09-10 06:09] cpeterso commented on #133
Sounds good!

[2018-09-10 07:13] cpeterso opened #134 "Nimbledroid dashboard's "buzzfeed.com/daves4..." link reports "There has been a critical error.""
Clicking on the https://health.graphics/android/ dashboard's "buzzfeed.com/daves4..." link opens "https://health.graphics/android/graph?site=https://www.buzzfeed.com/daves4/the-new-york-times-makes-the-nerdiest-correction-e?utm_term=.tlL2KE08L6#.hwrBglaV2A" but that page shows an error instead of a Perfherder graph:
[code]
Perhaps the buzzfeed.com URL does not match whatever URL Nimbledroid is tes

[2018-09-10 14:04] armenzg commented on #133
I have a work week this week.
Is this something I could tackle next week?

[2018-09-10 14:14] armenzg commented on #125
This got fixed in July 23rd:
https://github.com/mozilla/firefox-health-backend/pull/44

[2018-09-10 14:14] #125 closed

[2018-09-10 15:55] npark-mozilla commented on #133
@armenzg @stuartphilp  thinks it's a high priority item, so if it can be done sooner, the better, but I suppose it depends on your schedule.

[2018-09-10 16:48] armenzg commented on #133
I will tackle some of it today and see how far along I get.

[2018-09-12 14:50] armenzg opened #139 "Add Raptor Speedometer GeckoView data into the Android page"

[2018-09-12 16:26] armenzg opened #140 "Add new AWFY Speedometer data for Quantum page"
To replace the old AWFY Speedometer that we just took down.

[2018-09-14 14:54] andreasbovens opened #142 "Viewport with of /android dashboard is wrong."
Should be `<meta content="width=800, initial-scale=1" name="viewport">`

[2018-09-18 13:07] armenzg commented on #120
After I filed this issue I realized that there's no need to move from flexbox to CSS grids. They both have their own purposes and one is not replacing the other one. I'm going to close this issue.

[2018-09-18 13:07] #120 closed

[2018-09-19 15:26] armenzg commented on #72
I found that ChartJS works much better.

[2018-09-19 15:29] armenzg commented on #119
Not important.

[2018-09-19 15:29] #119 closed

[2018-09-24 19:53] armenzg commented on #139
I completed this. There's some polishing but the data is there.

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/44410/45975314-ebedb000-c011-11e8-9cf4-8248cb656f18.png">

[2018-09-24 19:53] #139 closed

[2018-09-26 11:43] Mudra01 commented on #103
I would like to work on this issue. As I am new to this platform could you brief me about this a bit.

[2018-09-26 16:01] armenzg commented on #103
Sure! Have a look at https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/99#issuecomment-396725435 for more info. Load the health.graphics/quantum/64 page to see what it's meant.

[2018-09-27 16:58] armenzg opened #154 "Add TOTAL_CONTENT_PAGE_LOAD_TIME GeckoView Telemetry probe"
time to first paint (probe name SIMPLE_MEASURES_FIRSTPAINT)

[2018-09-27 17:13] armenzg opened #155 "Add GeckoView query URLs with badge"
I have the following information to add.

* P1 GeckoView Bugs:

https://bugzilla.mozilla.org/buglist.cgi?v4=P1&j_top=OR&f1=status_whiteboard&o3=equals&v3=GeckoView&o1=anywordssubstr&resolution=---&f4=priority&query_format=advanced&f3=component&o4=equals&f2=OP&v1=%5Bgeckoview%3Ap1%5D%2C%5Bgeckoview%3Afocus%3Ap1%5D%2C%5Bgeckoview%3Aklar%3Ap1%5D%2C%5Bgeckoview%3Afxr%3Ap1%5D%2C%5Bgeckoview%3Acrow%3Ap1

[2018-09-27 17:14] armenzg commented on #111
We've added Speedometer.

[2018-09-27 17:14] #111 closed

[2018-09-27 17:14] armenzg commented on #112
Let's file something once we have it running.

[2018-09-27 17:14] #112 closed

[2018-09-28 14:41] armenzg opened #157 "Get rid of flexboxes"
Too much dynamic resizing going on making it look bad on Chrome.

This is in reference to:
https://health.graphics/quantum/32
https://health.graphics/quantum/64

From one of our devtools folks:
"I don't see any reason to use flex on those full width rows"

[2018-09-29 07:17] Mudra01 commented on #103
I checked out the page as well as the comment. I still don't get the issue and the change I need to make. Could you explain it in a bit detail.

[2018-10-01 13:18] armenzg opened #223 "Add Android as a platform"
In this project:
https://health.graphics/android
We added graphs for Speedometer on Android:
<img width="1662" alt="image" src="https://user-images.githubusercontent.com/44410/46290044-b63c5000-c558-11e8-9e5e-f1826283a23e.png">

The configuration used is this:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/commit/8f6cb77644d04cc6b9da9bef476b8def49951d3f#diff-6469b67e9111f5136fe

[2018-10-01 13:52] armenzg commented on #103
Right now when we click on the header of one of the photon perf graphs we will get a link like this:
https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=Median&arch=x86-64&cumulative=0&end_date=null&include_spill=0&keys=&max_channel_version=nightly%252F64&measure=FX_NEW_WINDOW_MS&min_channel_version=nightly%252F61&processType=*&product=Firefox&sanitize=0&sort_keys=submissions&start_dat

[2018-10-01 14:04] armenzg commented on #154
Waiting on https://bugzilla.mozilla.org/show_bug.cgi?id=1489521

[2018-10-01 17:23] armenzg opened #159 "Use code splitting to reduce build size"
index.acd3ce67.css   40.9 KiB       0  [emitted]         index
                       index.71000654.js   79.6 KiB       0  [emitted]         index
                          1.712a1e19.css   20.4 KiB       1  [emitted]
                           1.b93ad8ab.js   1.45 MiB       1  [emitted]  [big]
                     runtime.1ca11f96.js   1.46 KiB       2  [emitted]         runtime

[2018-10-01 17:58] armenzg opened #160 "Use Bugzilla's GraphQl instance for burndowns"
Codetribute uses an Apollo client to query information from the Bugzilla GraphQl instance we have:
https://github.com/mozilla-frontend-infra/codetribute/blob/master/codetribute-data-flow.png

Here's teh repo for the gateway:
https://github.com/mozilla-frontend-infra/bugzilla-graphql-gateway

We could then drop fetching from the backend.

[2018-10-01 18:03] armenzg commented on #160
More info on the implementation:
https://github.com/mozilla-frontend-infra/codetribute/commit/c194fc96c9f6a92a901f6b5a0bb50ee667bedf2a

[2018-10-01 19:33] armenzg opened #161 "Upgrade fortawesome"
When you run `yarn` you see these warnings:
[code]
Let's upgrade them :)

[2018-10-02 15:07] armenzg opened #165 "Plot Nimbledroid's Cold Startup"

[2018-10-02 15:26] armenzg opened #166 "Clearly label versions and build names for Nimbledroid section"

[2018-10-02 19:06] armenzg commented on #46
Getting close:
https://bugzilla.mozilla.org/show_bug.cgi?id=1460742

[2018-10-03 14:18] armenzg commented on #161
This got accomplished thanks to @JillianAndersonSlate
🎉

[2018-10-03 14:18] #161 closed

[2018-10-03 16:40] jmaher opened #224 "Add ability to configure PerfherderGraphContainer with disabled series"
we currently run raptor on linux64-qr and windows10-qr so we should be able to compare a given benchmark (i.e. speedometer) between firefox && firefox-qr, likewise the existing firefox vs chrome.

This is a bit vague, ideally there is a good idea for how to do this either on the existing graphs, or a secondary page.

[2018-10-03 19:44] stuartphilp opened #225 "Add memory dropdown"
Memory (areweslimyet) usage tracking is important for many upcoming features like webrender and fission. Tracking this on the perf dashboard via a dropdown (below the js benchmarks?) would be great

[2018-10-04 15:02] armenzg opened #226 "Allow setting a start date"
We're adding the ability to set the range of data to show with a 'Time range' picker:
https://github.com/mozilla-frontend-infra/js-perf-dashboard/pull/84

We would like the ability to set the `startDate` as a query parameter.

We can use this date picker:
https://material-ui.com/demos/pickers/#date-pickers

[2018-10-04 16:37] armenzg opened #228 "Do not further requests when changing the timeRange"
We're adding the ability to set the range of data to show with a 'Time range' picker:
#84

The way this is implemented is by requesting the data again from Perfherder.

We should change this so we fetch all data for the year and manipulate the data in the UI to refresh the graphs.

It should be a good idea to review this section:
https://www.chartjs.org/docs/latest/developers/updates.html

[2018-10-05 15:29] armenzg commented on #166
Deployed here:
https://versions--firefox-health-dashboard.netlify.com/android

<img width="409" alt="image" src="https://user-images.githubusercontent.com/44410/46544557-edc93600-c891-11e8-96cb-cd6f17c26423.png">

[2018-10-05 19:19] armenzg opened #170 "Add GeckoView bugzilla burndown"
We added some initial widget to link to some BZ queries + the count for each of those buckets.
This is to tackle adding the burndowns.

[2018-10-05 19:47] #155 closed

[2018-10-05 19:48] armenzg commented on #154
We're going to tackle TOTAL_CONTENT_PAGE_LOAD_TIME instead.

[2018-10-10 04:16] sakshi97 commented on #157
Hi @armenzg !
I would like to take up this issue. Please give me a little more idea what needs to be done. Does the dynamic resizing need to removed altogether and which classes need to tackled specifically?
Also, on mobile view, the horizontal scroll-bar shows up but we lose some left-side part of the view altogether. Should I raise this as an issue?

[2018-10-10 13:07] armenzg commented on #157
There's already an issue for the issues displaying on mobile.

Look at this file and see how many `display: flex` you can get rid of:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/index.css

Make sure that http://localhost:5000/quantum/64 looks well on Chrome by the end of it.

[2018-10-10 14:09] armenzg opened #172 "EOL Crashes, Crashes Beta and Status in a couple of weeks"
This issue is to track this work and link to it from the app.

If no one complains in a couple of weeks I will assume they were not utterly upset about the decision.

I would like to drop the support for the following routes:

- /crashes [1]
- /crashes/beta [2]
- /status [3]

For crashes we have mission control as a better tool:
<img width="1029" alt="image" src="https://user-images.githubusercont

[2018-10-11 14:48] armenzg opened #175 "Reduce Css file size"
You can use Chrome to load a page and to determine which lines of Css did actually get used to render a page.
https://www.vojtechruzicka.com/measuring-javascript-and-css-coverage-with-google-chrome-developer-tools/

If you could please load http://localhost:5000/quantum/64 and http://localhost:5000/android and minimize the Css size it would be greatly appreciated.

[2018-10-11 19:16] armenzg opened #176 "Add tooltip for Telemetry graphs"
Also add documentation for people on how to edit it directly on GitHub w/o cloning the project.

For instance when trying to understand what TOTAL_CONTENT_PAGE_LOAD_TIME is about:

[2018-10-11 19:21] armenzg opened #177 "Switch to Roboto font"
We've been using that font for all of the #frontend-infra projects.
Besides, I already included a Material UI widget that does not respect the default font (since I assume it should be set upo via a MUI theme that changes the font).

We need this dependency:
https://github.com/mozilla-frontend-infra/js-perf-dashboard/commit/37b569d439a38b901b2cbbf3fd003816032f0420#diff-b9cfc7f2cdf78a7f4b91a753d108

[2018-10-11 20:26] #166 closed, assigned to armenzg

[2018-10-11 20:41] manasbedmutha98 commented on #177
I would like to work on this issue. @armenzg , I hope you mean  the reference `"typeface-fira-sans": "^0.0.54"` for `Fire Sans`
Also, is it sufficient to replace all `Sans` with `Roboto` in this line? (I'm a beginner. Need help)
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/6de378a2ea355db270855e52d2c518fe2635bac8/src/index.css#L34
Or change this as well?
https://github.c

[2018-10-11 21:10] armenzg opened #178 "Adjust Redash graphs to drawn datasets close to the max value properly"
In this [page](https://deploy-preview-156--firefox-health-dashboard.netlify.com/android) (NOTE: Code yet to land) we can see that one of the lines goes to the top of the graph but it looks odd:
<img width="572" alt="image" src="https://user-images.githubusercontent.com/44410/46832224-802a7780-cd73-11e8-9388-9ce452303b5c.png">

Here's the documentation:
http://www.chartjs.org/docs/latest/axes/carte

[2018-10-11 21:16] armenzg opened #179 "ChartJS custom ticks for values in the thousands"
When creating a graph with ChartJS and the Y axis ticks are showing values in the thousands (e.g. 30000) go ahead and turn the last 3 zeros into a 'k'. (e.g. 30k).

Here's the documenation for this:
http://www.chartjs.org/docs/latest/axes/labelling.html#creating-custom-tick-formats

[2018-10-12 12:59] armenzg commented on #177
Are you familiar to using Css? or the dev tools? (to inspect elements on the HTML page)

I suggest trying to make changes and see what changes.

[2018-10-12 13:21] armenzg commented on #178
oh wow! I didn't know you could include a revision from GitHub.

I have a PR with your proposed fix and gave you credit in it.
Do you prefer to do the PR yourself so the code lands under your name?
Or are you OK if I land it?
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/180

[2018-10-12 14:09] armenzg commented on #178
Also, let me know if you would be interested on contributing.

[2018-10-13 02:51] kojole commented on #178
No problem if you merge #180.

[2018-10-15 13:18] armenzg commented on #178
Thank you  @uu1t !

[2018-10-15 13:44] #178 closed

[2018-10-15 14:08] armenzg commented on #177
This is not a very hard issue. If you cannot provide a fix by tomorrow I will let other students give it a try. This is pre-Outreachy season and I cannot let easy issues sit unfinished. I hope you understand.

[2018-10-15 15:04] armenzg commented on #165
Done!

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/44410/46959462-15768600-d06a-11e8-8ae7-292b187180a7.png">

[2018-10-15 15:05] armenzg commented on #154
Done!

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/44410/46959462-15768600-d06a-11e8-8ae7-292b187180a7.png">

[2018-10-15 15:05] #154 closed

[2018-10-15 20:59] armenzg opened #183 "Customize graph tooltip"
Right now, if you visit https://health.graphics/android you will see the Telemetry section.

When you hover over any of those data points you will see a date with this format: `YYYY-MM-DD 00:00:00.000` and a score w/o the measurement (e.g. `ms`).
<img width="254" alt="image" src="https://user-images.githubusercontent.com/44410/46977814-24296100-d09b-11e8-9ef8-70161b8c0d6c.png">

I would like to dr

[2018-10-16 13:44] manasbedmutha98 commented on #177
Sorry I am stuck with exams. Anyone else who wants to have a go can please go ahead.
@armenzg Thanks for your patience till now.

[2018-10-16 18:27] armenzg opened #186 "Calculate percentage for Nimbledroid sites should be based on actual difference rather than including target"
Right now the percentage factors a 20% difference.

For instance, given these values: GV: 12s, Chrome: 10s

- Actual percentage: 0%
- Expected percentage: -20%

The colouring will still take the 20% factor.

[2018-10-16 18:40] vickychin commented on #186
Yes so in the above example, the table will show -20% coloured yellow.

[2018-10-16 19:37] #165 closed

[2018-10-18 06:47] Cheap-Skate commented on #186
I filed another on Bugzilla, I should have posted here.

https://bugzilla.mozilla.org/show_bug.cgi?id=1498832#c3

Hope you find it helpful!

[2018-10-22 15:21] armenzg opened #191 "Redo the Quantum pages"
As part of the Android page work, I've created much better components and containers than what the Quantum pages use.

* Switch to using [DashboardPage + Section components](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/views/Android/index.jsx#L14-L15)
  * This could be done at first right away before all the other work
* Speedometer section --> use [Perfherder

[2018-10-22 15:22] armenzg commented on #172
One thousand lines less! 🎉

[2018-10-22 15:22] #172 closed

[2018-10-22 17:29] armenzg commented on #77
We have a newer container that can plot Perfherder graphs via chart.js

[2018-10-22 17:29] #77 closed

[2018-10-22 17:55] armenzg commented on #2
Once we [redo the Quantum pages](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/191) with the DashboardPage component.

This is not an issue for the Android view:
<img width="378" alt="image" src="https://user-images.githubusercontent.com/44410/47309254-ec259f00-d601-11e8-9fbc-ff27fea21a25.png">

[2018-10-22 18:02] armenzg commented on #23
This is a feature that the devtools is interested on before migrating to arewefastyet.com.
I will file an issue once I process their requirements.

[2018-10-22 18:03] armenzg commented on #55
This will get fixed once we switch to PerhferderGraphContainer.

[2018-10-22 18:03] #55 closed

[2018-10-22 18:05] armenzg commented on #57
We should add support for this in PerfherderGraphContainer.

Let's first switch to PerfherderGraphContainer and see how things look with Chart.js

The devtools dashboard has something similar which they call "filter out noise".

[2018-10-22 18:13] armenzg commented on #76
I've fixed this. We had lost support after switching to Jest.
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/commit/84de9ccb20538dc52629160fe95d94d4af578028
https://coveralls.io/github/mozilla-frontend-infra/firefox-health-dashboard

[2018-10-22 18:13] #76 closed

[2018-10-22 18:14] armenzg commented on #82
These graphs were dropped after we decomissioned the AWFY service.

[2018-10-22 18:14] #82 closed

[2018-10-22 18:15] armenzg commented on #115
This has been fixed.
<img width="376" alt="image" src="https://user-images.githubusercontent.com/44410/47310380-eda49680-d604-11e8-9388-e45441d06304.png">

[2018-10-22 18:15] #115 closed

[2018-10-24 21:32] armenzg commented on #130
We're going to switch to ChartJs based graphs that automatically reverse graphs depending if their metadata in Perfherder says 'lower_is_better'.

Here's a screenshot showing you the inverted JetStream:
<img width="916" alt="image" src="https://user-images.githubusercontent.com/44410/47462916-c25faa00-d7b2-11e8-8773-71dc67a29a65.png">

[2018-10-25 14:05] npark-mozilla opened #195 "Add org.mozilla.geckoview_example to Android health dashboard"
Now we upload geckoview_example app along with Klar and Chrome beta. We should collect the pageload times from Nimbledroid and have an extra column along the existing report format.

[2018-10-26 13:11] armenzg commented on #195
This should be live soon.

[2018-10-26 13:11] #195 closed

[2018-10-26 13:44] armenzg commented on #157
I've decided that there's nothing inherently wrong with flex boxes.
We're going to redo the Quantum pages and we will make sure that everything plots properly.

[2018-10-26 13:44] #157 closed

[2018-10-26 13:47] armenzg commented on #134
This has been fixed:
https://firefox-health-dashboard.netlify.com/android/graph?site=https://www.buzzfeed.com/daves4/the-new-york-times-makes-the-nerdiest-correction-e?utm_term=.tlL2KE08L6#.hwrBglaV2A

[2018-10-26 13:47] #134 closed

[2018-10-26 13:48] armenzg commented on #131
This will be fixed when we change the quantum page components to the ones I've written recently that "lower is always better".

[2018-10-26 13:50] armenzg commented on #93
We can rewrite it when someone wants it again and we can implement it properly.

[2018-10-26 13:50] armenzg commented on #71
We're switching to ChartJs and we won't bother with this.

[2018-10-26 13:50] #71 closed

[2018-10-26 13:51] armenzg commented on #65
This will be fixed when we switch to PerfherderGraphContainer.

[2018-10-26 13:51] #65 closed

[2018-10-26 13:54] armenzg commented on #2
No need to track.
We will redo the Quantum pages and we will make sure it works there.

[2018-10-26 13:54] #2 closed

[2018-10-26 13:54] armenzg commented on #23
We should look into integrating into Perfherder's alert system.

[2018-10-27 02:40] sakshi97 commented on #177
Hi @armenzg . I would like to give this issue a try.

[2018-10-28 00:09] armenzg commented on #177
Sure @sakshi97 !
Please ask review from @djmitche if you have the PR ready before Wednesday (I'm out until then)

[2018-10-29 06:42] sakshi97 commented on #183
Hey @djmitche . Can i take up this issue?

[2018-10-29 18:15] djmitche commented on #183
Sure!

[2018-10-31 13:45] armenzg commented on #177
Thanks @sakshi97 @djmitche !

[2018-10-31 13:45] #177 closed

[2018-11-05 20:50] armenzg commented on #46
You can see the Tp6 benchmarks being added [here](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/197):
<img width="1207" alt="image" src="https://user-images.githubusercontent.com/44410/48025821-7138aa00-e112-11e8-9d2a-d111379ed56a.png">

[2018-11-07 14:47] armenzg opened #200 "Do not start with 0 at the top of the graph when we're plotting a score"
For graphs like Speedometer than use a "bigger is better" orientation, maybe the top of the Y-axis can use a non-zero value (e.g. 60 or 70 in the Speedometer graph). By always using zero as the top of the Y-axis, the graph is hard to read because it is zoomed out so far.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/44410/48138089-88da7480-e271-11e8-916e-a5f996aba691

[2018-11-08 00:43] klahnakoski commented on #191
I assume one of the steps in this issue is to convert the Speedometer section(s) to use the PerfherderGraphContainer.  It seems this is already done.  Am I reading this wrong?

[2018-11-08 00:53] klahnakoski commented on #191
For the "other benchmarks" how do I see the "drilldown view"?

[2018-11-08 01:41] armenzg commented on #191
I've done the section "#4 regression" (which required a new release of perf-goggles changes), however, the "#3 Other benchmarks" need work.

The drilldown can be reached via the word "Breakdown":
<img width="260" alt="image" src="https://user-images.githubusercontent.com/44410/48172200-f4056480-e2cc-11e8-857c-28a0eb0a0945.png">

Here's what I would hope it would look like (from the Firefox perform

[2018-11-08 18:00] klahnakoski commented on #191
I will need some hand holding.  Here are some basic questions:

For the Other benchmarks section:
* Is the backend communication format changing?
* If so, is the backend changing?
* Do you expect the data between a suite, and its drill down, to change?
* Is the layout, around the charts, expected to change?
* Do you think I can change the drilldown first, then the main suite-level chart?

What do

[2018-11-08 18:17] armenzg commented on #191
I would be happy to! Please let me know if it would be faster to meet and go over the code together.
This is the starting section that needs replacing:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/quantum/index-64bit.js#L103-L119

The current code uses the component `Perfherder`:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/sr

[2018-11-09 16:48] armenzg commented on #140
Wontfixing.
We can work on it if it becomes a priority again.

[2018-11-09 16:48] #140 closed

[2018-11-09 16:53] armenzg commented on #131
I've fixed this today:
<img width="1203" alt="image" src="https://user-images.githubusercontent.com/44410/48276412-f1625680-e415-11e8-8296-857ac5a933a4.png">

The "Other benchmarks" section will be fixed as we switch to `PerfherderGraphContainer` which Kyle is helping with.

[2018-11-09 16:53] #131 closed

[2018-11-09 17:18] #93 closed

[2018-11-19 21:33] rwood-moz opened #204 "Update dashboard for new tp6-3, tp6-4, tp6-5, and tp6-6 suites"
With Bug 1503990 we will be adding new Raptor tp6-3, tp6-4, tp6-5, and tp6-6 suites, each of which will be running on both Firefox and Chromium. Details:

raptor-tp6-3:
- [raptor-tp6-imdb-firefox]
- [raptor-tp6-imgur-firefox]
- [raptor-tp6-wikia-firefox]
- [raptor-tp6-imdb-chrome]
- [raptor-tp6-imgur-chrome]
- [raptor-tp6-wikia-chrome]

raptor-tp6-4:
- [raptor-tp6-bing-firefox]
- [raptor-tp6-yande

[2018-11-20 13:58] klahnakoski commented on #191
Working on pull request https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/205

[2018-11-21 16:29] jmaher opened #227 "small tweaks to tp6 sub metrics view"
(Edited comment)

https://arewefastyet.com/win10/tp6-facebook?numDays=60

1) "all subbenchmarks" -> does not open all subbenchmarks
2) if there is not enough data for a specific metric, ensure dates align across all metrics
4) add in google chrome (issues as we don't have identical metrics to record)

[2018-11-26 16:50] klahnakoski commented on #204
I assume these should be added to "src/quantum/index-32bit.js" and its 64bit sibling.

Is there a logic behind the pairing I see in the chart layout?  For example **Tp6: Facebook** is beside **Tp6: Google**.  Or is being done instead of a flow layout? https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/quantum/index-32bit.js#L136..L187

[2018-11-27 07:47] klahnakoski commented on #200
The first two links to code are now invalid.

[2018-11-27 09:38] klahnakoski opened #209 "Have internals use standard-name variables for chart things"
It would be nice to have some standard names for chart things ("axis", "series", etc) so we can remember less, and have some convention across multiple dashboards.  This also allows us to swap charting libraries; each charting library has a conversion method from our standard to theirs.

For example, here is my current standard: https://github.com/klahnakoski/MoDevMetrics/blob/dev/html/modevlib/ch

[2018-11-27 13:04] armenzg commented on #204
There's no specific logic behind the sorting.

[2018-11-27 13:39] armenzg commented on #209
Let me know when you want to tackle this and we can seat down and figure out what an initial version would look like.

[2018-11-27 14:54] klahnakoski commented on #209
This would start with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/200 : specifically, by naming the variable that controls the showing of zero from `options.reverse` to `axis.y.range.reversed` inside the dashboard code.  Also ensuing `axis.y.range.showZero` gets converted to `scales.yAxis.ticks.beginAtZero` inside of the `<ChartJsWrapper>`.

But first we need agreemen

[2018-11-28 17:42] klahnakoski commented on #200
@armenzg Thinking about this more: Do we want the zero removed for not reversed axis?  The argument is the same for either orientation.

I advocate keeping the zero in both orientations: If the graph is hard to read it is because the proportional difference is small.

[2018-11-29 20:57] armenzg commented on #200
I think I filed this because it was more of an issue on the Fx perf dashboard. The Quantum graphs don't look that bad.

Feel free to close it/

You can see what it looks like over there:
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/44410/49251203-e97f4c00-f3ee-11e8-9656-fdd74df23bc0.png">

[2018-11-30 08:48] cpeterso commented on #200
One advantage of including zero is that the difference between the different measurements will be visually proportional. If one browser is 2x slower than another on some test, the 2x difference will be visually apparent from the graph lines. Without zero, the reader must look carefully at the Y-axis's range to see how big the difference is.

[2018-12-06 21:56] bnjbvr opened #212 "Select a time range to zoom"
This was a very useful feature to spot regressions by hand on AWFY: allow to select a range by clicking and selecting, in the graph, so we can zoom into it and can see more fine-grained details of what happens over this range.

[2018-12-06 21:58] armenzg opened #214 "Transfer FxPerfDashboard into FxHealthDashboard"
There's some duplicated code between the two projects and it will be easier to maintain them if they're under the same project.

[2018-12-06 22:04] armenzg commented on #72
No need to track it in itself since redoing the Quantum pages will accomplish it.

[2018-12-06 22:04] #72 closed

[2018-12-06 22:08] armenzg opened #215 "Show Perfherder alerts on graphs"
This is something that will be needed to get the DevTools dashboard moved in here.

Link to their dashboard:
https://firefox-dev.tools/performance-dashboard/

They currently annotate regressions/improvements via a Google Doc:
<img width="308" alt="image" src="https://user-images.githubusercontent.com/44410/49614821-79863e00-f979-11e8-965e-2b440a38c166.png">

[2018-12-06 22:09] armenzg commented on #204
@klahnakoski let me know if you need another issue

[2018-12-06 22:10] armenzg commented on #46
The remaining pages will be tracked in issue #204

[2018-12-06 22:10] #46 closed

[2018-12-06 22:11] armenzg commented on #23
This will be handled on #215

[2018-12-06 22:11] #23 closed

[2018-12-06 22:14] armenzg opened #216 "Move DevTools dashboard into FxHealth"
The current dashboard is here:
https://firefox-dev.tools/performance-dashboard/

It actually have 5 subviews with different benchmarks:

- Inspector performance
- Console performance
- Netmonitor performance
- Debugger performance
- Panel agnostic performance

There's some details on some feature that might be needed before they would switch to this:
https://docs.google.com/document/d/1HWpuFAKN8bC

[2018-12-06 22:19] armenzg commented on #57
This is a feature that the DevTools also added to their dashboards.
Outliers show up as gray dots:
<img width="45" alt="image" src="https://user-images.githubusercontent.com/44410/49615249-f0700680-f97a-11e8-8890-0af7fac04013.png">

Alexander said it was a feature that was more important on the early days when the subtests were more noisy.

[2018-12-06 22:23] armenzg commented on #91
It seems we missed this.

There will be a meeting this week to determine what the Quantum pages should show.
I will file a new issue if this comes up.

[2018-12-06 22:23] #91 closed

[2018-12-06 22:27] armenzg opened #217 "Create view to plot any Perfherder series you want"
Similar to:
https://treeherder.mozilla.org/perf.html
but let's focus on one single dataset.

This will be a good page to let people try adding data before modifying the Quantum page directly.
Eventually we might make something better but for now it will be sufficient.

[2018-12-07 00:36] armenzg commented on #175
Once we get the Quantum pages redone the initial CSS file will be deleted.

Closing because it will be tackled in #191

[2018-12-07 00:36] #175 closed

[2018-12-07 00:41] armenzg opened #218 "Change perf drilldowns to use PerfherderGraphContainer"
This kind of route: https://health.graphics/quantum/windows10-64/motionmark_htmlsuite
Current look [1]
Expected look (not all details on that screenshot; mainly the graphs)[2]

Kyle was currently looking into this.
This is part of Redo Quantum pages milestone.

[1]
<img width="855" alt="image" src="https://user-images.githubusercontent.com/44410/49620406-b9a3eb80-f98e-11e8-9998-ad3a20465eb1.png">

[2018-12-07 00:55] armenzg opened #219 "TelemetryContainer not to use fx-health-backend"
Currently a TelemetryContainer [1][2][3][4] will fetch the data via the firefox-health-backend.

The code path for hitting the backend is:
https://github.com/mozilla/firefox-health-backend/blob/master/src/perf.js#L111-L116
which calls `fetchTelemetryEvolution`:
https://github.com/mozilla/firefox-health-backend/blob/master/src/perf/tmo-wrapper.js
which calls `getEvolution` from:
https://github.com/

[2018-12-07 00:59] armenzg opened #220 "TelemetryContainer to use ChartJsWrapper instead of metrics-graphics"
We would not need the following code:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/telemetry/graph.js#L29-L55
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/telemetry/graph.js#L24-L26

Remove the usage of `ref={div => this.graphSubtitleEl = div}`
replace this block for <ChartJsWrapper>:
https://github.com/mozilla-frontend-in

[2018-12-07 01:06] armenzg commented on #176
I will WONTFIX this.

[2018-12-07 01:06] #176 closed

[2018-12-07 01:10] armenzg opened #221 "Add toggle to select browsers to display"
We can simply add/delete the lines passed to MetricsGraphics.

[2018-12-07 01:18] armenzg commented on #226
There's no string need for this. WONTFIXING.

[2018-12-07 01:18] #226 closed

[2018-12-07 01:21] armenzg commented on #223
We have now moved this issue to Firefox health, thus, unless the JS team asks for it we won't be adding it.

[2018-12-07 01:21] #223 closed

[2018-12-07 01:26] armenzg opened #229 "Add ability to hide/show series on PerfherderGraphContainer"
This is a screenshot of what you can currently do in Perfherder:
<img width="186" alt="image" src="https://user-images.githubusercontent.com/44410/49621829-25895280-f995-11e8-9591-ffbf98391131.png">

The checkbox allows removing data series as well as showing/hiding them.

[2018-12-07 15:22] armenzg opened #230 "URL updates when using graph controls"
When locking a data point (append &dataPoint=<value> to URL), when changing the timerange (append &timerange=<value> to URL), when toggling the series (append or remove &hide=<value> to URL).

[2018-12-07 19:44] armenzg commented on #224
There's some docs here:
https://www.chartjs.org/docs/latest/developers/updates.html

[2018-12-07 20:22] armenzg commented on #212
I'm going to use #222

[2018-12-07 20:22] #212 closed

[2018-12-11 14:39] armenzg commented on #183
I think you can make the changes asked for in here:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/chartJs/redashFormatter.js#L16-L27

The RedashContainer (new component) is different than the TelemetryContainer (old component).

[2018-12-11 14:45] armenzg commented on #211
@asingh217 if you can't get to this we will finish it up and give you credit for the original PR:
https://github.com/mozilla-frontend-infra/firefox-performance-dashboard/pull/104

Works for you?

I hope you're doing better.

[2018-12-11 14:52] aimenbatool commented on #183
Ahh! I reached here but it didn't make sense to me and I moved out of this file. Let me see again. Thanks.

[2018-12-11 18:57] klahnakoski opened #232 "quantum dash has H2 black on black"
The color was changed to black in a previous PR:

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/207#discussion-diff-236281298L409

![image](https://user-images.githubusercontent.com/2334429/49822753-02bbbd00-fd4c-11e8-9ea5-869b899914fa.png)

I have no idea why `.summary h2`  is even applied to this element, but I am sure CSS has a rat's nest of logic to justify it.

![ima

[2018-12-11 21:38] klahnakoski opened #235 "use zilla slab font"
Maybe we should use this font on the dashboards:

https://github.com/mozilla/zilla-slab/releases/tag/v1.0

[2018-12-12 14:01] #232 closed

[2018-12-12 14:16] armenzg commented on #235
That font is more the official Mozilla sites.
At #frontend-infra we are sticking with Roboto to keep consistency across tools.

If you want, you can bring it up on https://groups.google.com/forum/#!forum/mozilla.dev.webdev
and we can point folks there for the discussion.

[2018-12-12 14:16] #235 closed

[2018-12-12 15:55] aimenbatool commented on #183
Hi @armenzg, Please look at the image below. I managed to remove the time from the tooltip by changing the format of time. But it applies to all charts. Which, I think isn't the requirement.
I added tooltipFormat key value [here](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/chartJs/generateOptions.js#L15) to change the format of the tooltip.

You asked m

[2018-12-12 17:07] armenzg commented on #183
Another approach would be to have `hour` be an optional value you include in `options`.
That way you can specify certain graphs to have certain format.

For reference this is the associated documentation:
https://www.chartjs.org/docs/latest/axes/cartesian/time.html
https://www.chartjs.org/docs/latest/axes/cartesian/time.html#time-units
https://www.chartjs.org/docs/latest/axes/cartesian/time.html#d

[2018-12-17 14:45] aimenbatool commented on #211
@armenzg, @sarah-clements It looks like this issue is from JS Perf Dashboard. Am I suppose to go in that project and complete it or the same thing needs to be implemented here in this project?
If yes, then where?

[2018-12-17 15:01] armenzg commented on #179
Another issue bites the dust! 👍

[2018-12-17 15:01] #179 closed

[2018-12-17 15:21] aimenbatool commented on #214
@armenzg  Please provide more information on it.

[2018-12-17 16:32] armenzg commented on #213
@aimenbatool right now when hovering data points we get this:
<img width="187" alt="image" src="https://user-images.githubusercontent.com/44410/50095769-35e6cc00-01e4-11e9-9770-9700af44af88.png">

Instead we would like to see more meta data.

When you visit Perfherder (follow the hyperlink icon):
<img width="153" alt="image" src="https://user-images.githubusercontent.com/44410/50095920-84946600-01

[2018-12-17 16:34] armenzg commented on #211
We just need to complete it in this project.

Try to look for similar components from that PR on this project.
The components might even be named the same.

[2018-12-17 16:41] armenzg commented on #214
I will work a bit more on this PR and land it:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/231

This will be the view will be adding to:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/61a862f9b8907368af23187880f5ea70c23a3408/src/views/JsTeam/index.jsx

To begin with, simply try to reimplement this page w/o *working* pickers and without *working*

[2018-12-19 14:02] klahnakoski commented on #75
is this related to https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/233#discussion_r242150317  ?

[2018-12-19 17:17] aimenbatool commented on #213
Here is what I did to figure out the solution.
I console.log(new Data) [here](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/perfherder/chartJs/getPerfherderData.js#L27)

And here is what I received. (I have mentioned things on the screenshot). [1]

I have got some idea of the comments you wrote above, as I followed the steps multiple times, but still conf

[2018-12-19 17:30] armenzg commented on #213
Don't get confused about the 'meta' object. There's a library we use called `perf-goggles`. It adds that 'meta' object to simply describe the associated data. I tend to always return a meta object when I have some data. It's as if you hit an API that would return data + a description of itself.

You need to calculate the delta value by iterating through all data points by recency.
You need to look

[2018-12-19 19:11] armenzg commented on #75
We can either just remove the linting issues with the current rules OR also switch to react-lint.

[2018-12-19 20:26] klahnakoski opened #239 "Report travis build sizes for each PR"
It may be nice to have each PR report the change in the main application size ([today it happens to be `assets/1.c9f24ee3.js`](https://travis-ci.org/mozilla-frontend-infra/firefox-health-dashboard/jobs/470172054#L512).  This would allow us to balance the size of the new code with it's utility.

[2018-12-21 17:38] armenzg commented on #239
Maybe this?
https://github.com/siddharthkp/bundlesize

This would also help issue #159

Whatever splitting solution we use we need to make sure it does not break HMR.
It happened to me with `react-loadable`:
https://github.com/mozilla/bugzilla-dashboard/commit/626af8c429e6188eda3801e624f5a8161a51a3ab

[2018-12-21 17:39] armenzg commented on #159
Let's use `React.lazy` which was introduced in React v16.6.
https://reactjs.org/docs/code-splitting.html#reactlazy

For inspiration, you can look at how it's done in another repository https://github.com/taskcluster/taskcluster-web/pull/206.

[2018-12-26 20:08] #183 closed

[2019-01-03 15:49] klahnakoski opened #244 "Fill gap in big block of charts (index-32bit.js)"
The Quantum32/64 pages have a gap in the charts. Fix it while improving the structure and codethat lay out this part of the page.

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/241#issuecomment-451040985

[2019-01-03 15:53] klahnakoski opened #245 "Add link to new TP6 page"
Once the TP6 page is added, linking to it will help humans navigate to it.

Maybe linking from the quantum pages is best. https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/241#pullrequestreview-188724874  Some context around that link will help.

[2019-01-03 16:47] klahnakoski opened #246 "Clarify what "% from target" means in Nimbledroid summary"
For context:

![image](https://user-images.githubusercontent.com/2334429/50649981-42418780-0f4d-11e9-8125-c38d23ec3c73.png)

[2019-01-03 16:50] klahnakoski opened #247 "Nimbeldroid: color the result backgrounds instead of URL backgrounds"
Context:

![image](https://user-images.githubusercontent.com/2334429/50649981-42418780-0f4d-11e9-8125-c38d23ec3c73.png)

[2019-01-03 16:51] klahnakoski opened #248 "Nimbledroid: include a comparison with a current WebView"
as well, as that will be relevant for some deliveries (notably Amazon)

![image](https://user-images.githubusercontent.com/2334429/50649981-42418780-0f4d-11e9-8125-c38d23ec3c73.png)

[2019-01-03 16:51] klahnakoski opened #249 "Nimbledroid: include a comparison with the current version of Fennec (64),"
So we have a stable number

[2019-01-03 16:54] klahnakoski opened #250 "Combine all page load time to single metric"
From Andreas Bovens:

I like this idea:  I was thinking a weighted average page load time would be best.

[2019-01-04 11:45] aimenbatool commented on #66
@armenzg
In my understanding, we have to check data and look for the recent date. If it is more than 3 days we have to show an error panel [here](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/containers/PerfherderGraphContainer/index.jsx#L51).
Please correct me if I am wrong!

[2019-01-04 13:44] armenzg commented on #66
You got it!

[2019-01-04 14:39] armenzg commented on #213
I incorrectly closed this issue when there's a lot more metadata we need to add.
My apologies!

[2019-01-04 14:42] aimenbatool commented on #213
Can you please name a few metadata so will look into it sometime later.

[2019-01-04 14:54] armenzg commented on #248
Who requested this? Where is the WebView data coming from?
We have limits on number of scenarios & number of apps with our current contract with Nimbledroid.

[2019-01-04 14:54] armenzg commented on #249
Who asked this?

[2019-01-04 19:00] armenzg commented on #213
Given this:
<img width="405" alt="image" src="https://user-images.githubusercontent.com/44410/43648647-0964dba4-9709-11e8-8e56-f46174a889a1.png">
and this:
<img width="291" alt="image" src="https://user-images.githubusercontent.com/44410/50096027-c9200180-01e4-11e9-9270-bc48c1d5ae82.png">
and compared to this:
<img width="178" alt="image" src="https://user-images.githubusercontent.com/44410/507051

[2019-01-07 14:20] armenzg opened #251 "Benchmarks with subtests to use PerfherderGraphContainer"
For instance MotionMark, here's the code:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/quantum/index-64bit.js#L61-L72
Config code:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/quantum/config.js#L6-L35

Replacing the use of the `Perfherder` component will allow us removing the `Perfherder.js` component and take a step furth

[2019-01-07 14:28] armenzg opened #252 "Switch Quantum Flow widget to BugzillaGraph (soon to be renamed)"
Let's switch to the new component to plot [Bugzilla graphs](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/containers/BugzillaBurndown/index.jsx
).
This can be configured like this:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/containers/BugzillaBurndown/index.jsx

This will also help us move away from metrics-graphics towar

[2019-01-10 13:58] armenzg commented on #245
I think under the quantum page itself would make more sense. I'm open to both options.

[2019-01-10 15:01] klahnakoski commented on #245
Yes, I should have asked this question of Vicky. I will put it in the index-64bit.js PR.

[2019-01-10 21:22] klahnakoski opened #258 "Fix wrapSectionComponentsWithErrorBoundaries"
as per

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/254#discussion_r246918122

[2019-01-10 21:27] klahnakoski opened #259 "Charts spill outside thier bounding <Grid item>"
Example.

![image](https://user-images.githubusercontent.com/2334429/50998139-8ce67500-14f4-11e9-90bd-06c6cad7653b.png)

Fix this by forcing a minimum size

[2019-01-10 22:58] klahnakoski commented on #249
These came from an email request, which i sent to you just now

[2019-01-11 15:05] #211 closed

[2019-01-13 10:19] davehunt opened #260 "Show performance regressions breakdown for Firefox versions"
I'd like to see the number of open performance regressions for each Firefox version in development. We currently have meta bugs such as [bug 1513237](https://bugzilla.mozilla.org/show_bug.cgi?id=1513237) for this, but I'd like to use other bug attributes to create this summary with links to Bugzilla. We could use the *perf*, and *regression* keywords in combination with the *status-firefox* fields

[2019-01-14 15:39] armenzg commented on #260
This query would show all 7 bugs blocking 1513237:
https://bugzilla.mozilla.org/buglist.cgi?list_id=14511382&o1=equals&v1=1513237&f1=blocked&resolution=---&query_format=advanced

The code to show any plots is document and it's pretty simple:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard#bugzillaburndown

[code]
You can easily test it locally.

I've deployed a sample deployment

[2019-01-14 16:09] armenzg commented on #209
This was brought into attention in here:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/256#discussion_r247529554

[2019-01-14 16:09] klahnakoski commented on #209
Maybe the first coding step is to expand

[2019-01-14 18:41] klahnakoski opened #262 "turn off the inertia on chart lines"
The line charts have some Bezier, or inertial,  component that is misleading.  Change charts to show scatter plots, if not show straight lines.

![image](https://user-images.githubusercontent.com/2334429/51133089-fbcc1280-1801-11e9-99ab-be4e601a752c.png)

[2019-01-14 18:52] klahnakoski commented on #260
@davehunt

What gets shown depends on the process you are looking to establish, or what people are currently need.

We currently have https://charts.mozilla.org/quantum/p1.html which is showing p1 bugs.  A request from jgong is to have it show mulitple versions.  The rules can be changed to show any category of bugs you would like.

There is also a Bug Counter, but it is pointing to the old cluste

[2019-01-14 21:38] djmitche commented on #262
I think I used that chart on a middle-school math test once: which one of these is NOT a graph?  (Correct answer this one)

[2019-01-24 16:25] klahnakoski opened #269 "Show raptor tp6m-1 (pageload on geckoview)"
https://treeherder.mozilla.org/#/jobs?repo=autoland&searchStr=tp6m-1

[2019-01-24 17:49] klahnakoski opened #270 "Show individual measures, not the geomean?"
the tp6 ages show the geo-mean of some measures; these are not necessarily the same set for any given page: they are not comparable.  Change the page to show page load time, including an option to select any of the other measures being collected, if they exist.

[2019-01-24 18:37] djmitche commented on #213
The percents would, I think, be the percent change from the previous datapoint.  So given previous value P and current value C, the percentage change is `(C / P * 100) - 100`.  For example, if P was 300 and C is 330, the percentage change is 10%

[2019-01-24 19:11] klahnakoski opened #271 "tp6 color is not consistent"
![image](https://user-images.githubusercontent.com/2334429/51702513-f16bfe80-1fe1-11e9-90f9-a2692f812fb7.png)

[2019-01-24 20:04] djmitche commented on #213
that's equivalent :)

[2019-01-28 14:42] #245 closed

[2019-01-28 14:43] #204 closed

[2019-01-28 19:29] npark-mozilla opened #275 "Graph for nimbledroid fluctate without valid data point"
https://health.graphics/android/graph?site=https://people.com/amp-stories/royal-a-to-z

Looking at this graph, the geckoview Example app shows quite a fluctuation.  But looking at the data points, there are no data points for the higher values.  it should more or less a straight line.  This graph misleads viewers to think that there is a wild swing on the pageload data.

[2019-01-28 20:49] stuartphilp opened #276 "Nimbledroid comparisons should compare chrome vs geckoview example"
As Focus updates are not reliable/fast we should switch the Nimbledroid target comparison to be geckoviewExamplePageLoadTime / ChromeBetaPageLoadTime

I believe it's just https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/nimbledroid/index.jsx#L114

[2019-01-28 20:57] stuartphilp opened #277 "add another column to compare fenix against chrome"
Focus should be replaced with the Reference Browser on the Nimbledroid charts. r-b has tracking protection on by default, while geckoview example has tp off.

We should include another column to compare r-b vs chrome so we can see both tp on and off.

The columns should be:
URL - reference browser score - gv example score - chrome beta score - gv example vs chrome beta (tp off) - reference browser

[2019-01-28 21:12] aimenbatool commented on #75
@sarah-clements  can you please explain this?
In my understanding we need to follow what Hassan has mentioned in [this comment](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/233#discussion_r242150317).
Removing line 7-73 and then adding react-lint.

Correct me if I'm wrong.

[2019-01-28 21:35] aimenbatool commented on #103
@sarah-clements Can you please explain this one too?

[2019-01-29 02:13] sarah-clements commented on #75
yes, I'd do what Hassan is suggesting in that comment. When you change linting rules you will often see many lint errors in the terminal. You might be able to fix some with `yarn lint --fix` but others you'll need to fix before those changes get merged.

[2019-01-29 02:20] sarah-clements commented on #103
You'll need to change one of the query parameters from `processType=*` to `processType=parent` for all graph header links in the "Performance Metrics" section.

[2019-01-29 14:05] stuartphilp commented on #276
We should do the cold startup graph as well (remove org.mozilla.klar and replace with reference browser, I've filed #277 for that), but what I'm referring to here is the detailed view and the individual page graphs

![screen shot 2019-01-29 at 9 02 43 am](https://user-images.githubusercontent.com/2964961/51913588-d95efb00-23a4-11e9-9220-65e0eca3b3dc.png)

"Geckoview" is the Focus/Klar app in this

[2019-01-29 19:23] stuartphilp commented on #277
correction, the request is to replace BOTH focus and gv example with reference browser and then toggle tp on and off. so r-b tp on, r-b tp off, chrome beta. and then compare for highlights to r-b tp off

[2019-01-29 20:01] klahnakoski commented on #277
@stuartphilp  Where is the Reference Browser data coming from?  The Nimbledroid service endpoint?  You have links to that?

[2019-01-31 20:56] sarah-clements opened #283 "Update netlify.toml with recent yarn version"
It looks like new linting changes being made in #279 are failing because of a yarn version mismatch between the travis.yaml and netlify.toml file, [see comment](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/279#issuecomment-459001001) per @eliperelman. @helfi92 can you please make this change and also give @aimenbatool read access to the logs?

[2019-02-01 13:35] #271 closed

[2019-02-01 15:22] eliperelman commented on #283
The netlify.toml changes can be made by anyone which should unblock this against #279.

[2019-02-02 21:59] klahnakoski commented on #275
It appears two "customFlow"s are mapping to the same URL

    customFlow123 (https://people.com/amp-stories/royal-a-to-z/)
    customFlow124 (https://people.com/amp-stories/royal-a-to-z)

Looking at the live URLs, one had cover page for the royal family, but after the first load, it started showing 404.

[2019-02-02 22:18] #275 closed

[2019-02-04 13:44] helfi92 commented on #283
To remove this error, add the following section to `netlify.toml`:

[code]

We do a similar thing in https://github.com/taskcluster/taskcluster/blob/ce2f069688a5042716bdd487383871bbafc49a11/netlify.toml#L8.

[2019-02-04 13:48] helfi92 commented on #283
I sent an invitation to s.aimenbatool@gmail.com :)

[2019-02-04 15:09] stuartphilp commented on #277
Coordinate with @npark-mozilla  - he is looking at adding r-b to nimbledroid

[2019-02-04 16:39] klahnakoski opened #288 "Discussion: The nimblegraph complexity"
Navigating the nimblegraph components is a nightmare. My IDE lets me jump around the definitions fine, but the browser debuggers are primitive; forcing me to recall the locations of each of the React components so I can set break points. Stepping into code does not work because react has inserted multiple functions between every nimbledroid function.

Here is a diagram that demonstrated the proble

[2019-02-05 14:53] overholt opened #289 "https://health.graphics/android/graph?site=https://www.tripadvisor.com is broken"
I first noticed this was broken some time on 2019-02-04 and it's still broken. I get:

"There has been a critical error. We have reported it. If the issue is not fixed within few hours please file an issue:"

[2019-02-05 15:36] klahnakoski commented on #289
This is not broken for me, but I will keep it open as we merge some PRs today.

[2019-02-05 15:37] klahnakoski commented on #289
https://health.graphics/android/graph?site=https://www.tripadvisor.com/

[2019-02-05 15:40] klahnakoski commented on #289
Yes, looking at https://health.graphics/android I can see `www.tripadvisor.com/` (with trailing slash) is the site.

Notice `people.com/amp-stories/royal-a-to-z/`  and `people.com/amp-stories/royal-a-to-z`  have two different behaviours.

[2019-02-05 15:55] klahnakoski commented on #276
finally,  https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/290

[2019-02-05 15:58] klahnakoski commented on #276
![image](https://user-images.githubusercontent.com/2334429/52285788-00817380-2935-11e9-9039-dd244468623b.png)

[2019-02-05 16:08] klahnakoski commented on #276
saw mistakes as I posted the last image:

![image](https://user-images.githubusercontent.com/2334429/52286533-5d315e00-2936-11e9-83a2-b546f8e72ec7.png)

[2019-02-05 16:17] klahnakoski commented on #247
fixed with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/284

[2019-02-05 16:17] #247 closed

[2019-02-05 16:23] klahnakoski commented on #276
@stuartphilp please close this when you have confirmed these PRs fixed the issue.

[2019-02-05 20:52] sarah-clements commented on #288
I'll admit I'm not as familiar with the code base but I think potential problems with adopting this approach is that files could become unwieldy if all of a parent component's child components were in the same file. It would also make it difficult to see what components can be reused elsewhere. In the Treeherder codebase, we generally put one component to a file and generic, shared components go i

[2019-02-05 22:49] klahnakoski commented on #288
Yes, if the file becomes enormous, then it can be broken up, but only as files in one directory, not 10 directories.

Treeherder is an OLTP program.  This project and dashboards in general, are OLAP programs. These have very different usage patterns, and very different lifespans. The Treeherder codebase would benefit from finding opportunities to reuse code because it lives long and is big.  Dashb

[2019-02-05 23:46] sarah-clements commented on #288
When you refer to a longer-lived repo, are you referring to creating components that handle the boilerplate of say, a reactstrap dropdown menu (or Material Design equivalent) like [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate/blob/master/docs/general/introduction.md)? Is the goal to create a consistent UI across all Moz dashboards?

With regards to Perfherder, anything

[2019-02-06 00:50] klahnakoski commented on #288
Yes, that layer on top of chartsJS might be reusable. I have no idea how to "whip up" a functional drop down menu: So that can be included too. The compare view will use some delta bar charts: Include those.

Other things, either built of found, like:

* Widgets for selecting URL parameters
* Widgets for raising errors to users
  * [criticalErrorMessage](https://github.com/mozilla-frontend-infra/f

[2019-02-06 01:21] sarah-clements commented on #288
[This](https://reactstrap.github.io/components/dropdowns/) is what I mean by creating a dropdown menu and [this](https://github.com/mozilla/treeherder/blob/master/ui/intermittent-failures/DropdownMenuItems.jsx) for generating the menu with check mark for active selection. But it uses reactstrap (react-friendly version of Bootstrap that uses the librarys' CSS but replaces the jquery). So putting so

[2019-02-06 16:51] aimenbatool commented on #288
@klahnakoski thanks for mentioning me. This is too much for me to understand I might take little longer to absorb things and give my input. :)

[2019-02-06 18:31] klahnakoski commented on #288
@sarah-clements, yes you got it. A big part of the project is deciding on the libraries, like reactstrap, that we should standardize on. We have many people, like yourself, that already know of tools; I want to package that knowledge so people, like me, can avoid making a thousand ill-informed decisions just to standup a dashboard.

[2019-02-06 19:58] #66 closed

[2019-02-08 12:21] aimenbatool opened #293 "Enable linting rules and refactor code accordingly"
In https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/281, custom linting rules are removed and `    '@mozilla-frontend-infra/react-lint'` has been added for linting rules.

Some rules are disabled and need to be enabled and fixed accordingly.

if you search `disable` in your editor you will find all files having disabled linting rules. Fix them one by one.

[2019-02-08 15:33] aimenbatool commented on #293
@klahnakoski, @sarah-clements, @djmitche

Linting rule: https://eslint.org/docs/rules/no-param-reassign
Result object [here ](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/BackendClient/NimbledroidApiHandler.js#L19)is reassigned in several places.
[for example](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/Backen

[2019-02-08 15:44] klahnakoski opened #296 "What logging lib to use?"
There are many instances of this

[code]

I think this is solved with a logging library.

[2019-02-08 15:50] klahnakoski opened #297 "Can not see netlify logs"
For some reason netlify tests are not passing.  I can not see the logs

![image](https://user-images.githubusercontent.com/2334429/52489041-40439780-2b8f-11e9-9680-e656abd37b11.png)

All inks to netlify end up with "Page not found", "You might not have permissions to see this page."

[2019-02-08 15:57] aimenbatool commented on #297
@klahnakoski this (https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/283 ) conversation might help you to pass this https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/295

[2019-02-08 15:58] klahnakoski commented on #297
@helfi92 @aimenbatool @sarah-clements @djmitche

Who is able to grant access so I may see the logs?

[2019-02-08 16:00] klahnakoski commented on #297
@aimenbatool thank you, I tried changing the yarn version to match what works for me locally, but really I am just guessing why the failure happens because I cannot see logs.

[2019-02-08 16:16] aimenbatool commented on #293
I am mentioning all the rules causing issues in separate comments to get input to solve it.

Rule: https://eslint.org/docs/rules/no-restricted-syntax

This rule is causing error [here](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/quantum/target-status.jsx#L10-L14).
This rule disables some of the language features as says that `you might decide to disallow the

[2019-02-09 13:18] #297 closed

[2019-02-09 13:22] klahnakoski commented on #293
@aimenbatool

If you can not fix the problem easily, then add es lint comment to disable the lint checks.

Adding the comment will change the code less, which will make merging easier:  Leave it to the person touching the code next to solve the problem.

[2019-02-11 12:46] davehunt commented on #260
Thanks, I think the quantum p1 dashboard is the best place for this information.

[2019-02-11 12:46] #260 closed

[2019-02-11 15:44] aimenbatool commented on #75
Fixed in https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/281

[2019-02-11 15:44] #75 closed

[2019-02-11 15:45] aimenbatool commented on #293
@klahnakoski

Sure, Thanks.

[2019-02-11 17:57] aimenbatool commented on #103
Hi @sarah-clements, @djmitche  Maybe you can add something which I am missing to fix this.

As per this https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/99#issuecomment-395867023 and the next one of Armen it looks like the fix is on the frontend. But based on my debugging i think it is something on backend.

[This](https://github.com/mozilla-frontend-infra/firefox-health-d

[2019-02-11 18:14] #283 closed

[2019-02-11 21:20] sarah-clements commented on #103
Did you try doing what I suggested in my previous comment? The Telemetry frontend is setting a default because we don't currently add that query parameter to the url when it's being generated. If you go to the health dashboard and hover the mouse over one of the titles, you can see the that `processType=parent` is missing. So you'll need to figure out how to add it to the function that generates t

[2019-02-12 18:57] #103 closed

[2019-02-12 19:07] aimenbatool commented on #213
@sarah-clements , @djmitche
This issue is 99% done except **adding anchor inside a callback**. I tried a few solutions in the past days while working on other issues but no success.

[This answer](https://stackoverflow.com/a/42095510/5864458) states that callbacks don't allow HTML tags and we can use a custom tooltip. But in our case, we are unable to use a custom tooltip as well because we need t

[2019-02-12 19:59] aimenbatool opened #303 "Add hg and job link inside tooltip metadata"
Please refer to this https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/213#issuecomment-462912268 for more details.

[2019-02-12 20:01] aimenbatool commented on #213
### Update on what's done and what needs to be done.

Most of the metadata has been added in this PR https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/268

Only Job Link and Hg Link is left, we are able to generate the link based on the given information but chartjs callback doesn't let us add HTML tags inside it so we are unable to make it a working link.

Read this https://

[2019-02-13 20:23] aimenbatool commented on #252
This can be configured like this:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/containers/BugzillaBurndown/index.jsx

@sarah-clements link mentioned by Armen is now
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/containers/BugzillaGraph/index.jsx
I didn't get the statement above.

Also, In Quantum we have a [GraphContainer](

[2019-02-13 20:24] #213 closed

[2019-02-13 20:26] aimenbatool commented on #83
@sarah-clements Can you show how to reproduce the error to see what need to be fixed and where?
Please explain this.

[2019-02-13 21:43] sarah-clements commented on #83
[These](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/routes.jsx) are the routes I was referring to. So as an example, if I type something incorrectly [here](https://health.graphics/quantum/64/kraken), the page only shows 'loading' instead of a useful error message that my query parameters are wrong and what I need to supply. This would be for the route '/quant

[2019-02-13 21:56] sarah-clements commented on #252
I think what he meant was that the quantumFlow graphs (in the Overview section for both `/quantum/32` and `/quantum/64` routes) are using the metrics-graphics library and he wants you to use the chartJS libary used by the `BugzillaGraph` instead. So you will need to figure out how to do that - use that entire `BugzillaGraphs` component (or refactor it so it can be used for the QuantumFlow graphs,

[2019-02-14 01:26] klahnakoski commented on #83
@aimenbatool

The problem is best seen here https://health.graphics/quantum/64

Open the debugger and watch the network requests.  There are many telemetry requests, and some always fail.  It would be nice to have the chart space filled with some indication that it failed.

The telemetry charts are still using the old school metrics graphics and are not wrapped with any "loading" indicator. I do n

[2019-02-14 01:36] klahnakoski commented on #83
Doh! I got sidetracked on Component loading, rather than full page loading.  Give me a moment to give an example of that.

[2019-02-14 02:02] klahnakoski commented on #83
Here are invalid URLS that should error out

https://health.graphics/quantum/tp6?bits=63

https://health.graphics/quantum/323

You can see the loading chart icon when you run the health graphics from your local dev environment and your network is cut off (so you can not get to Treeherder)

http://localhost:5000/quantum/tp6?bits=64

![image](https://user-images.githubusercontent.com/2334429/5275740

[2019-02-14 18:25] sarah-clements commented on #83
@aimenbatool I think you could also start with adding the ErrorPanel (and keep the loading indicators as a separate component or a separate problem to be solved later) to the Graph containers for when individual APIs fail. If you wanted to try the HOC approach, I'd suggest starting with one aspect at a time - such as the error handling.

[2019-02-14 18:32] klahnakoski opened #304 "Chart max set to 90th percentile +10%"
This will prevent things like:

![image](https://user-images.githubusercontent.com/2334429/52808846-e5151780-305c-11e9-8fe4-a785fba64152.png)

[2019-02-14 18:34] klahnakoski opened #305 "Show off-chart data points"
Given https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/304 we must ensure datapoints off the edges of the chart can still be viewed.  Something like:

![image](https://user-images.githubusercontent.com/2334429/52809018-4d63f900-305d-11e9-8a9c-6d9028dd4c02.png)

[2019-02-16 08:54] 2alin opened #306 "Discussion: Tooltip values for initial data points"
Hi everyone, I've just started tinkering with the repo in order to start contributing to it.
I open this issue because I'm not sure if the first data points in the Perfherder graphs should display '**n/a**' in many of the tooltip fields [1].

I think at least `currentData` (second line from the bottom) should match the value of such point (261 at the example given). And for `delta` and `deltaPerce

[2019-02-16 13:24] aimenbatool commented on #306
@2alin Hi, Thanks for pointing out. Adding `currentData` value makes more sense to me, looks like a miss. Adding `0` also sounds good but let's take @sarah-clements 's input on it.

[2019-02-17 08:05] 2alin commented on #303
I think the only way to get working links in the tooltip is creating a custom one through `options.tooltips.custom` which will allow any kind of html injection. But I'm afraid that if we decide to use them, we need create everything in the tooltip from scratch: style, position, html elements.

Is it the right path? @armenzg

Have you made a significant progress on this one @aimenbatool? if you hav

[2019-02-17 12:45] aimenbatool commented on #303
@2alin Yes you are right. This needs a good refactoring to be converted into a custom tooltip as callbacks doesn't allow any HTML element inside it. And need to figure out a way to make this work with current flow.

A solution is mentioned in the comment we need to find a way to implement.

Armen is on leaves @sarah-clements  can add into it.

[2019-02-18 06:32] 2alin commented on #303
Thank you @aimenbatool,
after checking the past thread and the gist you shared, I concur with the way you built `hgLink`

```https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange=${prevRevision}&tochange=${currRevision}```

but I think you missed a querry, building  `jobLink`, instead of

```https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&revision=ca0f00593e38cdab54c3a990059bbf1

[2019-02-18 06:42] 2alin commented on #303
If there's no problem then @aimenbatool I'll take this issue and create the custom tooltips from scratch and use the code you had made to calculate the values we need to display.

Or if you prefer we can work together creating the custom tooltip, it will be a lot of work and I would be happy to share duties :grinning:. I'm also a newbie in web dev and I'm planning to participate in the next outrea

[2019-02-18 12:04] aimenbatool commented on #303
Hi, @2alin I have published the updated gist.

`https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&revision=${currRevision}&selectedJob=${tooltipDataSet.job_id}&group_state=expanded`

as per Armen's comment it should be the `prevRevision`. [1]

You can work on this issue and i will help and give my input whereever possible.

Good luck for your Outreachy application. I'm not sure if this pr

[2019-02-18 18:01] sarah-clements commented on #306
@2alin Where do you see the tooltip as shown in your initial comment? When I navigate to https://health.graphics/android, I don't see the delta percentage:
![screen shot 2019-02-18 at 9 54 52 am](https://user-images.githubusercontent.com/19615783/52968855-66252500-3363-11e9-9243-2c52095f10d8.png)

[2019-02-18 18:21] 2alin commented on #306
@sarah-clements I used this url https://firefox-health-dashboard.netlify.com/android which is in the repo frontpage. And also, can be noticed in the current status of the repo at [perfherderFormatter.js](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/perfherder/chartJs/perfherderFormatter.js#L41) (line 41).

[2019-02-18 18:39] sarah-clements commented on #303
@2alin Please assign yourself to this issue if you are working on it.

[2019-02-18 18:41] sarah-clements commented on #306
Ok @2alin, thanks for opening the discussion to point that this detail. Please feel free to open a pull request.

[2019-02-18 18:43] aimenbatool commented on #306
@sarah-clements  this looks strange.

I also can see the percentage change and higher or lower information on https://health.graphics/android.

I just notice after your comment. We pushed this in our latest PR and that code seems to be same but not giving the expected result.
It's working well on my local machine.

I will dig into it to figure out the issue.

[2019-02-18 18:54] sarah-clements commented on #306
@aimenbatool and @2alin There might a problem with the syncing between netlify and the live production site (https://health.graphics). @klahnakoski might be able to help.

[2019-02-18 19:07] 2alin commented on #303
@sarah-clements  Yup, I'm working already on it. Thank you!

@aimenbatool I think there's a little confusion there with the links used in Armen's post: yes you are right just checking what you highlighted with colors means that `prevRevision`should be used **but** he could have misused a different link because if you go [here](https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central

[2019-02-18 19:13] 2alin commented on #306
Same as Sarah, I'm getting outdated tooltips  from https://health.graphics/android in the Perferherder compared with https://firefox-health-dashboard.netlify.com/android

[2019-02-19 14:31] djmitche commented on #303
People who aren't project participants can't assign issues, and even admins can't assign things to non-participants :(

[2019-02-19 19:23] klahnakoski opened #311 "Clean up perf-goggles"
The code for getting data series is a bit complicated.  Here is the simplified call tree

* `queryPerformanceData` - exported endpoint
  * `parentSignatureInfo` - Finds the signatures for the data series for the given
    * `signaturesForPlatformSuite` - Get short list of signatures from TH
      * `queryPlatformSignatures` -  called multiple times, for the same config
    * `treeherderOptions` -

[2019-02-19 19:37] sarah-clements commented on #306
I checked now and [health.graphics](health.graphics/android) seems to be up-to-date (since I'm not a maintainer I don't have insight into the deployment when code is merged so I'm not sure what resolved it).

[2019-02-19 19:49] klahnakoski commented on #306
@2alin Sorry for the late reply, I was away for the weekend.  As per my PR, please do not show zero.  Rather, remove the whole `Δ n/a` line from the tooltip.

[2019-02-19 19:51] #262 closed

[2019-02-19 20:18] klahnakoski commented on #246
we now highlight the column for which the percent is being calculated.  The % from target is also clearer

![image](https://user-images.githubusercontent.com/2334429/53044654-a2d34800-3459-11e9-860f-58f811d5e8af.png)

[2019-02-19 20:18] #246 closed

[2019-02-19 20:19] klahnakoski commented on #248
fixed, ready for when new data arrives.

[2019-02-19 20:19] #248 closed

[2019-02-19 20:20] klahnakoski commented on #269
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/308  but not linked to any other page

[2019-02-19 20:20] #276 closed

[2019-02-19 20:24] klahnakoski commented on #293
@aimenbatool is there anything left for this issue?  I think all that is left are individual lint fixes, which we can deal with as required.  If there is nothing else, please close this.

[2019-02-19 20:28] klahnakoski commented on #303
@djmitche yes, I can not assign @2alin either  :/

[2019-02-19 20:29] aimenbatool commented on #293
@klahnakoski yes only individuals are left.

[2019-02-19 20:29] #293 closed

[2019-02-19 20:29] klahnakoski commented on #289
this is fixed

[2019-02-19 20:29] #289 closed

[2019-02-19 20:39] klahnakoski commented on #160
We have a primitive jx-to-bugzilla-query tool:  https://github.com/mozilla/charts/blob/quantum-investigate/quantum/modevlib/Bugzilla.js#L177

[2019-02-19 20:40] klahnakoski commented on #57
see https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/304

[2019-02-19 20:44] klahnakoski commented on #217
We may want to let the user declare a filter on some number of series properties.  https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/311

[2019-02-20 00:51] #306 closed

[2019-02-20 07:35] 2alin commented on #311
Beautiful!!
and I'm indebted to you for this summary which I'll refer from now on, because the one I made while trying to understand the repo's code tree (and which I'm still referring) is not the most clean of all :rofl:
![layout](https://user-images.githubusercontent.com/4089035/53074214-c3c68800-34af-11e9-8e56-4a1572544be2.jpeg)

[2019-02-20 16:54] klahnakoski opened #312 "set defaults for nested object array properties"
this does not work

[code]

it is likely the format for nested object array defaults is different

Here is some context
[code]

[2019-02-21 08:31] 2alin commented on #303
Hi there, just to update you all with I have accomplished so far about this issue. The custom tooltip already:

:heavy_check_mark: accepts `<a>` elements that takes them from `tooltip.footer` but it could  take from `tooltip.title` or `tooltip.body`, it doesn't matter (the 'mozilla' text in the video [1] is a test link).
:heavy_check_mark: been styled to resemble the normal tooltips.
:heavy_check_

[2019-02-21 11:12] klahnakoski commented on #303
Please make a PR, and prefix the title with "WIP: " (for Work In Progress". This will allow us to add comments to (broken) code, and be more specific about our suggestions.  The `--no-verify` flag works on commits and pushes to let you do that.

1. The custom tooltip should have two parts:  A component (a function really) that declares what the tip looks like, and a bundle of code that gets it to

[2019-02-21 11:40] klahnakoski commented on #270
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/313

[2019-02-21 11:42] #269 closed

[2019-02-21 11:43] klahnakoski commented on #230
this might belong in `withNavigation()`

[2019-02-21 11:45] klahnakoski commented on #214
this may be easier now with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/313

[2019-02-21 11:48] klahnakoski commented on #303
Not part of this PR, but highly related: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/215

[2019-02-21 12:36] #270 closed

[2019-02-21 12:51] klahnakoski opened #314 "browser back and forward do not update page"
Prthessing the forward and back buttons on the browser updates he URL, but does not update the page.

`withNavigation()` should handle this problem

[2019-02-21 15:48] aimenbatool commented on #303
@2alin I'm glad that you figured out adding a link into the tooltip. I'm wondering if we are able to add the link (Mozilla link in your video) with a title or body why don't we go with this and refactor code to put data into a tooltip body instead of the footer? If we do this, do we still need to have a custom tooltip?

I agree with Ekyle, `customTooltip` should go inside the utils folder, as we a

[2019-02-21 19:40] 2alin commented on #303
@klahnakoski:

I think I got your idea, but I need to analyse what you said carefully in order to implement it. At the moment I have `generateCustomTooltip` as this gist [[1]](https://gist.github.com/2alin/12abc8dd1ae9c92d0e7d82f03899b6b1) (without the css needed), but I'll need to convert it to a react component in order to use `withStyles`, also I need to fix the errors for using `this._chart` a

[2019-02-21 20:24] klahnakoski commented on #303
https://www.chartjs.org/docs/latest/configuration/tooltip.html#external-custom-tooltips

[2019-02-21 20:34] klahnakoski commented on #303
From that link I am guessing you should [make a React function](https://reactjs.org/docs/components-and-props.html) that accepts the `tooltipModel` object as a parameter.  Injecting it into the chart involves setting the `options.tooltips.custom` to that function.

From the link above:

[code]

[2019-02-21 20:35] klahnakoski commented on #303
the function in the docs is a bad example.  Using JSX, React and `withStyles` will make nicer looking code.

[2019-02-21 20:51] klahnakoski commented on #229
Some charting libraries do this by letting the user click on the legend.

[2019-02-21 21:03] 2alin commented on #303
yup, I noticed the different approaches since your first suggestion at the top, and I get the idea of using using instead react components and receiving the `tooltip`(tooltipModel) as a prop, in fact that's the only way if we want to use `withStyles` which also is the cleanest way in order to style the tooltip, so it's all chained up . Thank you both, kyle/aimen, for your comments and suggestions,

[2019-02-23 02:13] klahnakoski opened #316 "webpack image getting big fast"
Can we reduce the bundle size by removing some stuff that is not needed?  What's `markdown-it`?  why is `lodash` in there?  When I use `lodash` the image gets even bigger. Is webpack just pretending to treeshake?

[code]

[2019-02-24 05:47] 2alin commented on #229
I think I can fix this.

[2019-02-24 13:03] #229 closed

[2019-02-24 15:19] smaug---- commented on #270
So Load Time means now what?

[2019-02-25 13:30] klahnakoski opened #320 "Show WebPageTest (WPT) results"
The WebPagetests are being reported to the telemetry pipeline here is an example:

https://sql.telemetry.mozilla.org/queries/61566/source#158482

Please feel free and encouraged to submit PRs, and/or GitHub Issues, for your requests/bugs, etc., here: https://github.com/mozilla/wpt-api/issues

[2019-02-25 14:16] aimenbatool commented on #229
Hi @2alin, I'm glad that you solved this bug. On a lighter note, it was in my assigned tasks as a part of the internship. :-D

You are going good! :)

[2019-02-26 09:48] 2alin commented on #229
Thank you @aimenbatool, I hope there was no problem about taking the issue from your tasks, it wasn't intentional, I just saw it by chance, analyse it a little, decided that could be an easy but tricky fix, and went for it.
But don't worry, I'm still busy with the freaking custom tooltip, so I don't expect to take another one from your internship tasks, at least not soon :sweat_smile:.

[2019-02-28 08:35] davehunt opened #322 "Update Tab Switch (tps) based on the test being renamed to tabswitch"
Once [bug 1451860](https://bugzilla.mozilla.org/show_bug.cgi?id=1451860) lands we will need to update the name for the 'Tab Switch (tps)' graph, and to start pulling in data from the new test name. We do not currently intend to rename the existing test results, so we should plot both the 'tps' and 'tabswitch' results as a single line.

![screenshot_2019-02-28 firefox health dashboard](https://user

[2019-02-28 15:00] klahnakoski opened #323 "improve README.md with better setup instructions"
The setup instructions can be improved somewhat. Include setups for installing node and yarn, a suggestion for the IDE, and what plugins should be used.

The best person to do this is a person that has not setup this project before.

[2019-02-28 15:30] klahnakoski opened #324 "fix placement of error"
The error shows up in the `div` of the facebook, but belongs in the other charts

![image](https://user-images.githubusercontent.com/2334429/53577477-bbbbb780-3b43-11e9-9997-b4474dbc8030.png)

[2019-02-28 16:54] aimenbatool commented on #323
I would like to take this issue. Updating README is in my list since long I also have a few content to update.

If anyone else is interested, we can work together :) I will start working on it after a week or two.

[2019-02-28 19:35] vansjyo commented on #323
@klahnakoski  I would like to work on this issue?

[2019-02-28 20:41] exturingmachina commented on #314
Hello, would it be okay if I worked on this?

[2019-02-28 20:53] klahnakoski commented on #323
@vansjyo  yes, please!  Especially if you have not setup this project before.

@aimenbatool or I can answer your questions and provide reviews.

[2019-03-01 00:33] a-deeb commented on #323
Hi, I would like to help out on the Readme file

[2019-03-01 04:59] vansjyo commented on #323
@klahnakoski . I have not set up this project before.

[2019-03-01 05:10] aimenbatool commented on #323
@vansjyo Go ahead and open a PR.
We can not assign the issue to someone who isn't a project participant/collaborator.

Consider this issue is assigned to you. We will share our feedback on your PR.
Thanks!

[2019-03-01 05:13] vansjyo commented on #323
@aimenbatool. Ok. Thank you. I did not know about it.

[2019-03-01 05:15] aimenbatool commented on #323
@vansjyo I just noticed that @a-deeb has already opened a PR https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/325 for this issue. I think you should wait for a-deeb to complete. :)
You can pick any other issue meanwhile.

[2019-03-01 05:19] vansjyo commented on #323
@aimenbatool  Ok.

[2019-03-01 18:54] djmitche commented on #314
Go ahead @exturingmachina !

[2019-03-02 09:01] stephendonner opened #326 "Rename "Chrome" to "Chromium" in Raptor-run test charts"
What we call "Chrome" on at least https://health.graphics/quantum/32 and https://health.graphics/quantum/64 is, actually, the open-source version: Chromium[0][1].

To help clear up confusion about, set clarity on, and match expectations across the board, we should rename and/or denote that.

[0 ]https://wiki.mozilla.org/Performance_sheriffing/Raptor#Raptor
[1] https://www.chromium.org/Home

@klahn

[2019-03-04 11:28] aimenbatool commented on #224
@sarah-clements can you please explain a bit?

[2019-03-04 12:55] davehunt commented on #322
I notice this graph is now reporting an error. Could you take a look at this @klahnakoski?

[2019-03-04 16:31] aimenbatool commented on #252
@sarah-clements I'm working on this one. I'm trying to refactor it but it looks like I am having challenges. Maybe a better start can help me.

[2019-03-04 16:35] klahnakoski commented on #326
@stephendonner please close this if it looks good now.

[2019-03-04 16:36] klahnakoski commented on #324
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/330

[2019-03-04 16:39] klahnakoski commented on #322
The new name is now in effect, I will fix this chart

[2019-03-04 17:58] klahnakoski commented on #322
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/331

[2019-03-04 19:19] sarah-clements commented on #252
@aimenbatool I'm not sure what you're asking :)

[2019-03-05 01:26] klahnakoski commented on #252
@aimenbatool I am guessing there is not refactoring", just making a whole new component to replace the existing chart.  Make a PR with your not-working attempts if you have a question.

[2019-03-05 02:27] stephendonner commented on #326
Thanks, @klahnakoski!  This looks good to me; others here can comment/reopen if I've missed something.

![post-fix-health-graphics](https://user-images.githubusercontent.com/387249/53776491-0d00d980-3eab-11e9-9b52-08c80b8e324a.png)

[2019-03-05 02:27] #326 closed

[2019-03-05 14:37] #323 closed

[2019-03-05 14:39] klahnakoski opened #332 "improve README.md with better setup instructions"
The readme could benefit from better instructions

* how to tell which verison of node/yarn you have
* how to run tests, hos to update them
* what IDE (and plugins) to use while developing
* move the [Making Changes....](https://github.com/mozilla-frontend-infra/firefox-health-dashboard#making-changes-to-a-page) to another doc

[2019-03-05 14:50] aimenbatool commented on #332
What do you mean by 'development details'? This https://github.com/mozilla-frontend-infra/firefox-health-dashboard#building ?

[2019-03-05 15:53] klahnakoski opened #333 "Improve Coverage"
We can improve coverage by writing tests! Once you have setup this project, you should be able to run `yarn test` to run all the tests.  Then start looking for something that is not covered.

Go to Coveralls to take a look:

![image](https://user-images.githubusercontent.com/2334429/53816962-90b1d900-3f32-11e9-8e64-4f7393cc0914.png)

There is a section that lists all the files, with their coverage

[2019-03-05 20:19] #83 closed

[2019-03-05 20:35] armenzg commented on #252
I've spoken with @jgong; let's kill the graph from the Quantum 32 & 64 pages.
It adds no value.

Let's remove [GraphContainer's code](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/components/graph-container.jsx) if it's not used anywhere else.

We might be able to get rid of `react-metrics-graphics` and other dependencies besides some other code in utils.

[2019-03-05 20:43] klahnakoski commented on #252
We might consider subsuming this

https://cpeterso.github.io/burndown/?since=2018-01-01&query_format=advanced&f1=OP&j1=AND&f2=OP&j2=OR&f3=bug_status&o3=equals&v3=NEW&f4=bug_status&o4=equals&v4=ASSIGNED&f5=bug_status&o5=equals&v5=UNCONFIRMED&f6=bug_status&o6=equals&v6=REPOENED&f7=bug_status&o7=anyexact&v7=RESOLVED%2CVERIFIED%2CCLOSED&n7=1&f8=CP&f9=status_whiteboard&o9=substring&v9=%5Bqf%3Ap1%3Apage

[2019-03-06 12:48] klahnakoski commented on #332
@aimenbatool updated first comment

[2019-03-06 14:46] armenzg commented on #332
Would you like to add some of that to this repo?
https://github.com/armenzg/webdev-guide

We can then point this repo to the guide I'm working on.

[2019-03-06 15:30] davehunt commented on #322
Fixed in 5fc78e1fe0e78b938d2492e1d57a6b8c8dd0e12c. @klahnakoski it looks like the graph shows ~4 weeks of data. Once we only have tabswitch results would it make sense to follow-up and remove the tps source?

[2019-03-06 16:45] klahnakoski opened #334 "Move generic code to vendor directory"
The `src/vendor` directory is a repo of code from other projects. This Health dashboard has some useful code that can contribute to that repo, and so be moved to `src/vendor` for export.

[2019-03-06 16:47] klahnakoski commented on #334
This is a good first issue because, in theory, it is a simple rename.  Looking through the code, and discussing what is generic is a good learning experience.

[2019-03-07 14:00] klahnakoski commented on #322
yes, I will remove tps later.

[2019-03-07 14:00] #322 closed

[2019-03-07 19:37] #252 closed

[2019-03-10 10:46] cassyblaise commented on #332
@klahnakoski hey,
I am a new contributor and an outreachy applicant, Can I try working on this issue, if it's available?

[2019-03-10 13:46] Paarmita commented on #334
Hey, @klahnakoski I would like to work on this issue.
Do I need to rename the files`src/vendor ` from other projects when copying in `Health dashboard`?

[2019-03-10 17:54] leslie-alldridge commented on #333
I've added some tests and can continue to do more once I'm back home from work. PR will be up soon @klahnakoski

[2019-03-11 12:05] klahnakoski commented on #334
@Paarmita this project is firefox-health-dashboard, and we intend to break it into two projects.  One part is the code we can reuse, which we put in the `src/vendor` directory, and the other part is everything else.  Before this project is split, we should move some more things into the `src/vendor` directory.

Look through the code of this project:  What parts have no relation to firefox-health-d

[2019-03-11 12:19] klahnakoski opened #345 "Travis testing fails intermittently"
I think this is the problem

[code]

I believe it is caused by the large number of network requests made when the test tries to render the page.  Here is more context.

[code]

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/341 should reduce this error stream, and may make the problem more obvious in the future.

[2019-03-11 13:16] aimenbatool commented on #332
@cassyblaise go ahead and open a PR. @klahnakoski is away may be.

[2019-03-11 13:55] klahnakoski commented on #332
@cassyblaise if you find the documentation is missing something, then yes please add to it.  If you followed the instructions and everything is running fine for you then please skip this: It is already good enough.

[2019-03-11 13:58] klahnakoski commented on #332
@armenzg  Yes, a more general webdev guide may help here; although we differ on where it belongs: There should be a repo that can be used to launch a fresh dashboard; and that repo would have a `/docs` directory with these general instructions for webdev.

[2019-03-11 14:03] klahnakoski commented on #324
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/341

[2019-03-11 16:27] cpeterso opened #346 "BugzillaUrlContainer's parameters are OR'd but should be AND'd like BugzillaGraph's parameters"
The BugzillaUrlContainer queries don't work as I would expect them to. BugzillaGraph's `parameters` properties are AND'ed together but BugzillaUrlContainer's `parameters` properties seem to be OR'd together.

For example, the "Open fenix:p1 bugs" link on https://health.graphics/android currently has a `parameters: {product: 'GeckoView', resolution: '---', whiteboard: '[geckoview:fenix:p1]', }` and

[2019-03-11 19:30] armenzg commented on #345
For reference:
https://stackoverflow.com/questions/39716569/nodejs-unhandledpromiserejectionwarning

It's not due to the # of request but because promises are not being handled properly.

[2019-03-12 09:47] aimenbatool commented on #332
@armenzg, @klahnakoski Hi,
When I wrote an article about firefox-health dashboard we talked (on call) about putting some content in the README.md file.

When I was starting on this project I was barely able to understand the technical information provided on the README file. Like there is mentioned how to change things and make code changes but no information provided on what these terms (Perfherd

[2019-03-12 10:26] shashankgaurav17 commented on #314
Hey, Can I work on this ?

[2019-03-12 12:23] klahnakoski opened #349 "Nimbledroid data is old"
Nimbledroid stopped arriving Feb28

[2019-03-12 12:27] klahnakoski commented on #349
@armenzg I do not have time to look into this problem.  I hope you can fix it.

[2019-03-12 12:53] armenzg commented on #346
Thank you for filing it!

[2019-03-12 12:53] klahnakoski commented on #349
I do not think it is this dashboard, rather the endpoint gathering the data:

        result = http.get_json("https://firefox-health-backend.herokuapp.com/api/android/nimbledroid?product=org.mozilla.geckoview_example&version=3")
        max = MAX(Date(v).unix for v in result.scenarios['Cold Startup'].date)
        Log.note("{{time}}", time=Date(max))

returns

    2019-03-01 03:09:53.605000

[2019-03-12 13:09] armenzg commented on #332
I will let @klahnakoski follow up on this.

My two cents would be to point to blog posts or documentation explaining what each of those are.
For instance:
https://wiki.mozilla.org/EngineeringProductivity/Projects/Perfherder
https://bmo.readthedocs.io/en/latest/about/index.html

[2019-03-12 15:15] klahnakoski commented on #314
@shashankgaurav17   yes please!

[2019-03-12 15:18] armenzg commented on #349
I'm investigating this on the backend repo.

[2019-03-12 15:32] armenzg commented on #349
I've spoken with @npark-mozilla and he has not been uploading any new apks since the end of February.

[2019-03-12 15:32] #349 closed

[2019-03-12 15:49] npark-mozilla commented on #349
We're shutting down Focus uploads, and working on auto uploading of reference browser on CI

[2019-03-13 12:20] klahnakoski opened #351 "Move wait-for-data and error-handling out of ChartJSWrapper"
The ChartJSWrapper does too much, and it does not have the context to explain the state it is showing.  It has three states: Loading (with the spinner), OK (showing some data), Error (showing data with an error).

Right now any caller that fails to load data will
1. Never set the data, so it looks like it is always loading
2. Hide the reason for the failure

Managing the loading and error states w

[2019-03-13 12:50] klahnakoski opened #352 "Show charts as scatter, not line"
The line connecting modes in the data is misleading.

![image](https://user-images.githubusercontent.com/2334429/54280098-09391b00-456d-11e9-9a6e-da933e64978e.png)

[2019-03-13 13:33] klahnakoski commented on #332
@aimenbatool   Feel free to add what you think is missing. You know best.  At the very least add links to information you think was **useful**.  Adding a short description of Perfherder, Bugzilla and Telemetry under definitions would help a lot.  Links to docs, like the ones Armen pointed to, are best added to the footer since they are good for reference, but too verbose for this project.

[2019-03-13 14:22] klahnakoski opened #354 "Show targets (Fennec 64/65)"
as per  https://docs.google.com/spreadsheets/d/1xuYdCodmiFY-NmAXq_8WTcO_WMfsZVNNeiGCr-w2xAY/edit#gid=0

[2019-03-13 17:26] armenzg commented on #251
See https://github.com/mozilla/firefox-health-backend/issues/53

[2019-03-14 07:37] aimenbatool commented on #332
@klahnakoski Perfect. I will start working on it v soon.

[2019-03-14 19:07] klahnakoski opened #356 "Set user agent?"
Can we set the user agent on TH requests so it is easier to track API usage on the backend?

https://treeherder.readthedocs.io/accessing_data.html#user-agents

[2019-03-18 17:04] aimenbatool commented on #220
Hi @armenzg!

These links aren't working. Can you please share more information about this issue?

[2019-03-19 13:06] armenzg commented on #220
Hi @aimenbatool
All of the graphs in the Quantum pages use a component [1] that query the Telemetry data source via the Firefox Health backend [2].

That component also uses react-metrics-graphics rather than ChartJsWrapper.
In order to only have one charting library, we should look into making a new component that plots the Telemetry data via ChartJsWrapper.

On a future issue, we could focus on

[2019-03-19 13:21] aimenbatool commented on #220
I got it. Thanks!

[2019-03-27 11:50] klahnakoski opened #364 "Add more nimbledroid platfoms"
"fenix" and "reference browser" data is available on nimbledroid.  The config file must be updated with the correct "products".  I think.

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/nimbledroid/config.js

[2019-03-27 11:58] klahnakoski commented on #364
@armenzg I will need to connect words like "fenix" to the required backend product that represents the same.  I imagine a list of products (and version numbers) will suffice.

[2019-03-27 12:42] klahnakoski commented on #364
@armenzg I think the version number has nothing to do with the product; it seems to not be used by the `queryNimbledroidData()`

https://github.com/mozilla/firefox-health-backend/blob/master/src/android/routes.js#L33
https://github.com/mozilla/firefox-health-backend/blob/master/src/utils/apis/queryNimbledroidData.js#L48

[2019-03-28 11:47] #303 closed

[2019-03-28 14:17] armenzg commented on #364
The version was for the version of the endpoint, however, I dropped that functionality:
https://github.com/mozilla/firefox-health-backend/commit/58b39fdf5182eff35f08e9a0f50fbb1b54f268f5#diff-926e65bb5de596d532621fa5344febc5

That was missed. I pushed a change for it.

[2019-03-28 14:45] klahnakoski opened #366 "Use HOC for tooltip"
It seems an HOC (the withErrorBoundary).  Any chart surrounded by error will loose its tooltip to the top of the page.

[2019-03-28 15:09] klahnakoski opened #367 "Links to TH do not show datapoints"
There is a it of a bug in TH, I think: The datapoints do not show using the URL.  Changing the timerange fixes it.  Mess with the urls so that we do not hit this bug.

[2019-03-28 15:10] klahnakoski opened #368 "Add timepicker to tp6m"
Adding a time picker will make the charts a bit more fun to use.  For now, longer default time ranges are provided

[2019-03-28 15:12] klahnakoski opened #369 "Fix chart timeranges"
the chart library will not show the full timerange; showing only the time range that has data.  fix this so that all charts are locked to the same timerange (where it makes sense).

[2019-03-28 18:11] klahnakoski commented on #288
Here is an example of the `index.jsx` problem:

![image](https://user-images.githubusercontent.com/2334429/55182071-5fa87b00-5163-11e9-8c8b-e2771ff2a220.png)

[2019-03-28 18:34] armenzg commented on #288
When I wrote that code I created too many files (It's a pattern I'm moving away from). A lot of the files could be folded into a single file or handful of files; keeping index.js for the one that contains the function that is needed by the UI.

[2019-03-28 22:54] TrangEmily commented on #314
Hi @klahnakoski I can't reproduce this issue. When I pressed backward and forward button on Firefox it reload the page. Is it solved already? Thank you.

[2019-03-28 23:56] armenzg commented on #364
This seems to be working:
https://firefox-health-backend.herokuapp.com/api/android/nimbledroid?product=org.mozilla.reference.browser.debug

[2019-03-29 02:14] 2alin opened #370 "Fix tooltip's wrong placement"
The custom tooltip is not updating its state's width/height, used to position itself, after the first time that shows up (mounts), which give us an inappropriate placement for some data points:

![Screenshot_20190328_200254](https://user-images.githubusercontent.com/4089035/55204812-ff7efc80-5195-11e9-829a-075d87fdc23c.png)

[2019-03-29 02:26] 2alin opened #371 "Add arrow tip to tooltip"
The tip should change orientation and placement, depending on the tooltip position (8 different ones).

[2019-03-29 05:20] 2alin commented on #370
It could be fixed with `componentDidUpdate` and some conditionals there. But I'm analysing an alternative method to what we are using now to position the tooltip. If tests goes well, we could improve code and get rid of react's `ref`.

[2019-03-29 14:47] klahnakoski opened #372 "click-lock is not working on new tooltip"
as per

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/361#issuecomment-477944311

some code involving clicking can be found here:

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/utils/registerTooltip.jsx

[2019-03-29 15:12] klahnakoski commented on #314
go to the tp6mobile page:

https://health.graphics/android/tp6m?test=loadtime&platform=android-hw-g5-7-0-arm7-api-16

update the platform to P2, notice reload

press back button on browser, notice the URL changes, but data does not

[2019-03-29 15:59] 2alin commented on #372
Yup, thank you @klahnakoski. I'll work on this today.

[2019-03-29 18:24] TrangEmily commented on #314
Yes when I go to that pape, forward and backward changes the URL but not reload the page. However, I can not see the data. Is it another issue or I lack something on my installation?
This is on Android page (other parts show normal graph and data)
<img width="1663" alt="Screen Shot 2019-03-29 at 11 20 03 AM" src="https://user-images.githubusercontent.com/42683686/55254430-0dc02d80-5215-11e9-9f9b-0

[2019-03-29 19:55] klahnakoski commented on #314
It looks like you have not network connection.  What does the network tab in the browser say?

[2019-03-29 20:00] TrangEmily commented on #314
No I run on local host, other parts show normally as below
<img width="1654" alt="Screen Shot 2019-03-29 at 12 58 56 PM" src="https://user-images.githubusercontent.com/42683686/55259315-8ed1f180-5222-11e9-8fa8-b611bc8bd3b7.png">

[2019-03-29 20:06] klahnakoski commented on #314
@TrangEmily  And what does the debugger say?

![image](https://user-images.githubusercontent.com/2334429/55259610-8a1a3700-523c-11e9-8abf-c1176636ee32.png)

[2019-03-29 20:08] TrangEmily commented on #314
And this is the network tab
<img width="1674" alt="image" src="https://user-images.githubusercontent.com/42683686/55259745-c5f4d280-5223-11e9-8632-55f2775a30a3.png">

[2019-03-30 03:04] 2alin commented on #371
**update**: this has been implemented already in my next PR.

[2019-03-30 03:04] 2alin commented on #370
**update**: this has been implemented already in my next PR.

[2019-03-30 03:16] 2alin commented on #372
**update**:
Unfortunately,`registerTooltip`creates a new instance of the default chartjs tooltip class in the last datapoint clicked, and that procedure and environment can't be used for our custom tooltip, not without getting super messy.
I'll rather fix this handling 'click' events over the charts and behave properly when there's already a tooltip displayed. Just one thing, instead of passing 'o

[2019-03-31 15:54] klahnakoski commented on #314
@TrangEmily how about the last few requests at the bottom?  ping me on irc as ekyle so we can get this resolved faster

[2019-04-01 13:49] klahnakoski opened #376 "Tooltip click-lock prevents tooltip from showing"
As per https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/373#issuecomment-478579060

* Click on a datapoint to lock the tooltip
* Move mouse, notice points no longer have a tooltip (that would be 2 tooltips on a single chart)
* Click on a point (exactly) Notice the tooltip is unlocked **but not changed**
* Move mouse to have tooltip show current point

1 .clicking on a datapo

[2019-04-01 13:53] #370 closed

[2019-04-01 13:53] #371 closed

[2019-04-01 13:53] #372 closed

[2019-04-01 13:55] klahnakoski opened #377 "Tooltip testing"
It would be great if we could add some tests for the tooltip

1. Document the features we want in the tooltip
2. Automatically check for regressions in the tooltip
3. If we actually make an automated test then we will have a good example on how to make tests for other dynamic features!

At the very least, the `test` directory should have manual testing checklist.

[2019-04-01 15:04] klahnakoski commented on #367
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/381

[2019-04-01 18:35] klahnakoski opened #382 "Sometimes currSeries does not exist"
This line will crash the page because `currSeries` is not defined

    const higherOrLower = currSeries.meta.lower_is_better

We can add a check, but the real problem is the array is not filled.

[2019-04-02 14:17] klahnakoski opened #386 "Odd highlight behaviour in chart"
It seems when highlighting points on charts the Nth point is highlighted on all series

![image](https://user-images.githubusercontent.com/2334429/55409666-6bfc5180-5530-11e9-98c8-a7051d163875.png)

This is not expected

[2019-04-02 19:35] klahnakoski opened #387 "withNavigation should remove ephemeral arrival url"
From

    http://localhost:5000/android

you can click on tp6m (more) to arrive at

    http://localhost:5000/android/tp6m?test=loadtime

which will trigger the `withNavigation` to update the URL with default values

    http://localhost:5000/android/tp6m?test=loadtime&platform=android-hw-g5-7-0-arm7-api-16

Pressing the back button currently load the `test=loadtime`, not the original referrer.

[2019-04-03 11:00] #382 closed

[2019-04-05 16:18] klahnakoski opened #399 "Fix documentation"
Search for  `Sample code (INVALID):`  the sample is now invalid, rewrite or erase

[2019-04-08 20:48] davehunt commented on #354
Please use the tab named "Fennec64 vs FenixGV67 tp6m-warm-pageload" for latest Fennec v64 warm load values.

[2019-04-09 16:10] klahnakoski opened #401 "Show raptor cold load times"
https://moz-pi-test.atlassian.net/browse/PTE-91

[2019-04-09 16:11] klahnakoski opened #402 "add timespan to withNavigation"
a basic version of something more powerful: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/222

[2019-04-09 21:04] klahnakoski opened #403 "Performance test loading is slow"
See https://health.graphics/quantum/64

The `framework=1` (talos) has many signatures; breaking down the framework into smaller bits may help.

[2019-04-11 14:09] klahnakoski opened #405 "lock all charts to same timerange"
Comparing charts is sometimes hard: Chartsjs seems to default to showing just the time range that has data.  Ensure we pass in the time range to all charts.

[2019-04-11 20:56] klahnakoski opened #407 "Show target ranges rather than target lines"
Rather than
![image](https://user-images.githubusercontent.com/2334429/55992414-7cbc6e00-5c7a-11e9-90cc-6d8ec7ba5631.png)

show this
![image](https://user-images.githubusercontent.com/2334429/55992514-bf7e4600-5c7a-11e9-8cff-3d088ee34696.png)

[2019-04-15 10:09] davehunt opened #408 "Chrome data has been renamed to Chromium"
Our Chromium test data now accurately reflects the target browser variant in the name. This means all graphs that plot "chrome" data will need to be updated to pull in data from the new "chromium" tests. For example: https://treeherder.mozilla.org/perf.html#/graphs?timerange=5184000&series=mozilla-central,1870841,1,10&series=mozilla-central,1934605,1,10&series=mozilla-central,1982114,1,10

Also no

[2019-04-15 10:56] klahnakoski commented on #408
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/409

[2019-04-15 11:02] klahnakoski commented on #408
@davehunt  close this if it is done

[2019-04-15 16:06] davehunt commented on #408
Looks great, thanks @klahnakoski!

[2019-04-15 16:06] #408 closed

[2019-04-23 20:19] klahnakoski opened #411 "NimbleDroid cold load rounded to 100ms"
The nimbledroid cold load is measured to two decimal places, but by the time it arrives at he chart it is only one decimal place.

[2019-04-23 20:22] #364 closed

[2019-04-23 20:24] klahnakoski commented on #401
done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/358

[2019-04-23 20:24] #401 closed

[2019-04-23 20:25] klahnakoski commented on #345
this has not happened in a while

[2019-04-23 20:25] #345 closed

[2019-04-23 20:26] klahnakoski commented on #311
this code is gone

[2019-04-23 20:26] #311 closed

[2019-04-23 20:26] klahnakoski commented on #259
fixed a while ago as the <Grid> changed to 100% width

[2019-04-23 20:26] #259 closed

[2019-04-23 20:27] klahnakoski commented on #258
fixed a while ago

[2019-04-23 20:27] #258 closed

[2019-04-23 20:34] klahnakoski commented on #209
@karlht   this is the issue that is tracking the potential use of a pan-charting lib

[2019-04-23 20:49] klahnakoski commented on #224
@jmaher I think we are in a position to add *qr as yet-another-platform to the config files.  I will try to keep this in mind when adding fenix

[2019-04-23 20:51] klahnakoski commented on #250
done, as geomean of selected sites, as per goals

[2019-04-23 20:51] #250 closed

[2019-04-24 09:19] jmaher commented on #224
thanks @klahnakoski .  As a note, Fenix doesn't have *qr, that is only desktop.  It sounds like we are getting closer to having a front end that can do many comparisons.

[2019-04-24 15:23] klahnakoski opened #412 "yesterday (and today) not showing in geomean"
probably a side effect of off-by-one error

[2019-04-24 15:24] klahnakoski commented on #367
fixed

[2019-04-24 15:24] #367 closed

[2019-04-26 19:36] #312 closed

[2019-04-27 15:48] klahnakoski commented on #405
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/416

[2019-04-27 15:49] klahnakoski commented on #369
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/416

[2019-04-27 15:49] #354 closed

[2019-04-27 15:51] klahnakoski commented on #352
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/415

[2019-04-27 15:51] #332 closed

[2019-04-27 15:52] #334 closed

[2019-04-27 15:52] klahnakoski commented on #351
This has been fixed a while ago

[2019-04-27 15:52] #351 closed

[2019-04-27 15:53] #314 closed

[2019-04-27 15:53] klahnakoski commented on #296
This has been decided, at least for this project

[2019-04-27 15:53] #296 closed

[2019-04-27 15:56] klahnakoski commented on #244
fixed a while ago

[2019-04-27 15:56] #244 closed

[2019-04-27 15:56] klahnakoski commented on #249
fixed

[2019-04-27 15:56] #249 closed

[2019-04-27 16:01] klahnakoski opened #417 "add fenix"
example:

https://treeherder.mozilla.org/perf.html#/graphs?series=fenix,1993064,1,10&series=fenix,1993069,1,10&series=fenix,1993502,1,10&series=fenix,1993482,1,10&series=fenix,1993160,1,10&series=fenix,1993170,1,10&series=fenix,1993059,1,10&series=fenix,1993289,1,10&series=fenix,1993179,1,10&series=fenix,1993130,1,10&series=fenix,1993284,1,10&series=fenix,1993125,1,10

[2019-04-30 01:04] BrunoDM2943 commented on #333
@klahnakoski, I have added some tests. I want to do some more later...Question: it makes senses the folder src/vendor be in coverage report?

#419

[2019-04-30 01:21] klahnakoski commented on #333
`src/vendor` will be in the coverage report, even if we test none if it's functions.

The plan is to have the `vendor` directory separate itself from this project, and become a package with it's own tests suite.  Since `vendor` is still new, and this project is the only one using it, we keep the tests (and coverage) here for now.

[2019-04-30 11:38] BrunoDM2943 commented on #333
Ok, gotcha

[2019-04-30 15:04] klahnakoski commented on #277
change this to: add another column to compare fenix against chrome

[2019-05-02 11:45] klahnakoski opened #420 "add power"
Example https://treeherder.mozilla.org/perf.html#/graphs?timerange=2592000&series=mozilla-central,1834668,1,10&series=mozilla-central,1834665,1,10&series=mozilla-central,1834666,1,10&series=mozilla-central,1834667,1,10

[2019-05-02 13:24] klahnakoski opened #421 "ensure android /aarch64 data from opt->pgo"
https://bugzilla.mozilla.org/show_bug.cgi?id=1543212#c5

[2019-05-06 14:41] klahnakoski commented on #417
done, both g5 and p2 are showing

[2019-05-06 14:41] #417 closed

[2019-05-06 14:41] klahnakoski commented on #411
recent data now has resolution of 10ms

[2019-05-06 14:41] #411 closed

[2019-05-06 14:42] #405 closed

[2019-05-06 14:43] klahnakoski commented on #421
After reviewing the rules, it seems they will catch the transition automatically

[2019-05-06 14:43] #421 closed

[2019-05-06 14:43] #369 closed

[2019-05-07 13:06] #352 closed

[2019-05-07 13:07] #304 closed

[2019-05-07 13:09] klahnakoski commented on #277
Solution?  https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/423

[2019-05-07 13:13] #57 closed

[2019-05-07 13:16] klahnakoski commented on #130
This has been fixed. at the very least the `lower_is_better` is passed through to the chart rendering so the right thing can be done.

[2019-05-07 13:16] #130 closed

[2019-05-07 13:21] klahnakoski commented on #356
not fixing this

[2019-05-07 13:21] #356 closed

[2019-05-07 15:51] davehunt opened #424 "Show all sites for GVE cold page load"
We're now running cold page load for all tests against GeckoView Example. Here's an example showing the aframe.io test: https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2007109,1,10&series=mozilla-central,2007219,1,10&series=mozilla-central,2007249,1,10

[2019-05-09 19:16] klahnakoski opened #427 "Indicate number of sites covered by each graph"
the geomean target is calculated from all the targets that are measured.  The title should include something along the line of Geomean including 22 of 25 sites"

![image](https://user-images.githubusercontent.com/2334429/57480356-7a473700-726d-11e9-9ccb-1b488adc3b40.png)

[2019-05-09 19:19] klahnakoski opened #428 "Add % from goal for things with target"
If there is a target, then have the tooltip show how far away the point is from the target (either abs, or %).

[2019-05-09 19:23] #377 closed

[2019-05-09 19:23] klahnakoski commented on #377
manual testing for now

[2019-05-09 19:24] klahnakoski commented on #424
Done: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/426
preview: https://deploy-preview-426--firefox-health-dashboard.netlify.com/android/tp6m?test=cold-loadtime&platform=geckoview-p2-aarch64

[2019-05-09 19:24] #424 closed

[2019-05-14 18:16] klahnakoski commented on #420
https://treeherder.mozilla.org/perf.html#/graphs?timerange=2592000&series=mozilla-central,2027286,1,10&series=mozilla-central,2027291,1,10&series=mozilla-central,2027296,1,10

[2019-05-14 18:17] klahnakoski commented on #420
for https://moz-pi-test.atlassian.net/browse/PTE-5

[2019-05-21 21:04] cpeterso opened #429 "Speedometer and Unity WebGL are labeled "Duration", not higher-is-better score"
The Speedometer and Unity WebGL graphs on https://health.graphics/android are both labeled "Duration", where a lower value is better performance. However, Speedometer is a higher-is-better score. I suspect Unity WebGL is also higher-is-better because both Speedometer and Unity WebGL appeared to "regress" (their value increased) after ARM64 PGO landed on May 8. I think these two graphs should be in

[2019-05-23 09:18] klahnakoski opened #430 "Show media streaming playback statistics"
Example

https://treeherder.mozilla.org/perf.html#/graphs?timerange=604800&series=mozilla-central,2043558,1,10

[2019-05-23 11:26] whimboo commented on #430
Please note that the overall score shows the mean of dropped frames. As described in the OKR we only want to have the percentage of dropped frames for the 1080p30@1.0x.

[2019-05-24 00:01] klahnakoski commented on #429
Fixed in a larger PR https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/431/commits/6c6805d9e275dd4c12be1b331c4539c975ead959

[2019-05-26 14:11] klahnakoski commented on #430
@whimboo May you tell me a bit more about

* H264 vs VP9 - do they have humane names?  are they just-different-video-encodings?
* Plain "H264" vs "PlaybackPerf.H264" - How are they testing different things? Is one a baseline?

Thank you

[2019-05-26 17:04] klahnakoski commented on #430
@whimboo   It looks like most tests have zero dropped frames, with the rest dropping one. This averages to  0.0% dropped frames.  Do you have some suggestion on how to make this useful?

This preview is showing dropped frames (not percentage) because the % is too small.  This is one combination that shows at least one dropped frame:

https://deploy-preview-432--firefox-health-dashboard.netlify.com

[2019-05-26 17:05] klahnakoski commented on #430
Work proceeding here:

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/432

[2019-05-26 17:15] klahnakoski commented on #430
@whimboo  ok, it looks like mac has interesting data:

http://localhost:5000/playback?platform=mac&browser=firefox&suite=Plain&encoding=VP9

[2019-05-27 07:44] whimboo commented on #430
You should keep those names, yes. Everyone involved in media knows about those video codec names. And yes, they are completely different codecs.

For details see:
https://en.wikipedia.org/wiki/H.264/MPEG-4_AVC
https://en.wikipedia.org/wiki/VP9

Please don't care about `PlaybackPerf.H264`. This was just the formerly reported name. Given that the prefix is always `PlaybackPerf.` we decided to comple

[2019-05-27 07:51] whimboo commented on #430
Having 0.0% of dropped frames is our ultimate goal. But as you noticed in a follow-up comment this doesn't happen across all devices and platforms yet. Especially not for MacOS and aarch64 on desktop, and the mobile platforms.

I would leave this question up for Eric Smyth from product but for the moment they may want to have the percentage. Reason is - as I mentioned in my first comment - that th

[2019-05-27 11:41] klahnakoski commented on #430
@whimboo

Oh yes, I agree!!  I only used total dropped frames on this experimental page so we can actually see something, other than zeros, on the charts.

Thank you for the answers!

[2019-06-05 14:44] klahnakoski commented on #412
there are two problem here: the current day is not included until it is yesterday, which happens at 8pm EDT.
This means there is up to 24 hours missing data.  The second problem is yesterday (GMT) is reported on the beginning of yesterday; so at 8pmEDT a new point arrives for on 8pmEDT yesterday, which is already 24 hours old.

The fix is to report yesterday at the end of the day, and consider rep

[2019-06-06 11:58] klahnakoski opened #434 "Consider withNavigation be the authority of values"
Each of the Pickers is considered the authority over the value they select.  This value is then spread to other components: The parent `withNavigation` and the url `history`.

Maybe the parent `withNavigation` should be the authority, and dictate the values to the pickers. This may simplify the pickers, and centralize the authority.

[2019-06-06 12:01] klahnakoski commented on #399
removed the old docs

[2019-06-06 12:01] #399 closed

[2019-06-06 12:02] #429 closed

[2019-06-06 12:20] klahnakoski opened #435 "Fix TimePicker in tests"
The TimePicker is great because it shows "today"

![image](https://user-images.githubusercontent.com/2334429/59032160-95d53b80-8833-11e9-9210-1f856a2ac1d0.png)

but sets the date explicitly in the url

![image](https://user-images.githubusercontent.com/2334429/59032131-87871f80-8833-11e9-9e64-810b0a040c86.png)

anyone that copies the link will get the same chart, now matter what day they view it.

[2019-06-06 16:38] klahnakoski opened #437 "MIssing TP6 data"
This shows nothing

https://health.graphics/quantum/tp6?test=cold-loadtime&bits=64&past=month&ending=2019-06-06

Verify that the data exists, and fix it.  Also, add ability to view other platforms

[2019-06-11 13:35] davehunt opened #438 "Remove 404 and 202 sites from TP6"
I notice that we have graphs for:

* Wikipedia 404-202
* Wikipedia 404-404
* eBay 404-202
* eBay 404-404

These were temporary whilst we observed the impact of upgrading from mitmproxy 2.0.2 to 4.0.4 and they can now be removed.

[2019-06-11 13:38] davehunt opened #439 "Add Netflix to TP6 (desktop)"
With [bug 1511341](https://bugzilla.mozilla.org/show_bug.cgi?id=1511341) we landed a new test for Netflix, and we should soon start seeing results in Perfherder. Let's add this site to the TP6 graphs.

[2019-06-12 08:58] davehunt commented on #439
Here's some data: https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2072670,1,10&series=mozilla-central,2072665,1,10

[2019-06-26 10:37] davehunt opened #440 "Add Twitter (Firefox) to TP6 (desktop)"
It appears that the Twitter visualisation is missing Firefox data. Here's a link to the data in Perfherder: https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,1982073,1,10&series=mozilla-central,1936388,1,10&series=mozilla-central,1969856,1,10

![Screenshot 2019-06-26 at 11 36 02](https://user-images.githubusercontent.com/122800/60173475-b4ad6900-9806-11e9-9395-ea9ccf5f5685.pn

[2019-06-28 15:12] klahnakoski commented on #439
We will keep this open until we are also showing Linux perf results

[2019-06-29 04:38] klahnakoski commented on #438
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441/commits/032edd0938a3709ae17ab663e9d348e823e524d0

[2019-06-29 04:38] #438 closed

[2019-07-02 13:34] klahnakoski opened #443 "Show times in UTC"
Especially for the Geomean charts, but everywhere else too.

**Note to Contributor**

This bug will require a good look into the ChartJS API:  You may be able to fool the API to think the browser is in the GMT timezone.  Or, maybe can provide your own format function: Converting xaxis time values into GMT strings. The `GMTDate.niceFormat` function should be a big help (since that whole library wor

[2019-07-02 13:35] klahnakoski opened #444 "tp6 cold load time not showing"
eg https://health.graphics/quantum/tp6?test=cold-loadtime&bits=64

[2019-07-02 13:36] klahnakoski opened #445 "Correct percentage visualisations now that we report percent instead of decimal"
For the power charts, which switch from 0...1 to 0..100

[2019-07-02 13:36] klahnakoski opened #446 "Show raw dropped frames for media playback visualisations"
Maybe we could show the lowest combination of playback speed and framerate that falls below the threshold (ekyle likes this!)

[2019-07-02 13:41] klahnakoski opened #447 "Distinguish no-data-for-three-days from no-data-for-commits-from-the-last-three-days"
Does perfherder distinguish between the commit date and the test-run-date?

[2019-07-02 13:51] klahnakoski opened #448 "app vs standalone metrics"
Separate detail charts for battery when metric is app vs standalone. For example wifi on Android 7 (g5) is standalone, but on Android 8 (p2) is app scoped

[2019-07-02 13:52] klahnakoski opened #449 "Cold page load results for desktop:"
linux64-shippable/chromium https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2006353,1,10&series=mozilla-central,2006361,1,10&series=mozilla-central,2006317,1,10&series=mozilla-central,2006350,1,10

linux64-shippable/firefox  https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2006356,1,10&series=mozilla-central,2006330,1,10&series=mozilla-central,2006312,

[2019-07-02 13:53] klahnakoski opened #450 "Fennec v64 results (for target numbers)"
https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2069024,1,10&series=mozilla-central,2069060,1,10&series=mozilla-central,2068884,1,10&series=mozilla-central,2069056,1,10
Currently ‘fennec’ for mozilla-central, which is ambiguous and could be confused with a build based on the commit from m-c, so we’re looking at making this more clear using ‘fennec64’ but we could use what w

[2019-07-02 13:55] klahnakoski opened #451 "Use GeckoView example, Speedometer (cpu) for Android top-level power graph"

[2019-07-02 13:56] klahnakoski opened #452 "Add power to top-level Android"
Link through from Android top-level power graph to overview power graph showing cpu, wifi, screen (exclude proportion)

[2019-07-02 13:56] klahnakoski opened #453 "exclude "proportional" from power details"
get a definition before we re-add it

[2019-07-02 13:58] klahnakoski commented on #402
Done a while ago

[2019-07-02 13:58] #402 closed

[2019-07-02 14:01] klahnakoski commented on #324
fixed some time ago

[2019-07-02 14:01] #324 closed

[2019-07-02 14:02] klahnakoski commented on #277
done

[2019-07-02 14:02] #277 closed

[2019-07-02 14:03] klahnakoski commented on #227
@jmaher   I am closing this because it belongs to arewefastyet, OR the current tp6 view on the health dashboard is good enough.

[2019-07-02 14:03] #227 closed

[2019-07-02 14:04] klahnakoski commented on #228
done

[2019-07-02 14:04] #228 closed

[2019-07-02 14:05] klahnakoski commented on #209
this has been started with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441 . As we use more "features", we will continue to use the `standard`, and/or update the `standard` so the data structure is documented

[2019-07-02 14:05] #209 closed

[2019-07-02 14:26] klahnakoski commented on #440
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/454

[2019-07-02 14:26] #440 closed

[2019-07-02 14:27] klahnakoski commented on #439
linux has been given its own issue

[2019-07-02 14:27] #439 closed

[2019-07-02 14:27] klahnakoski commented on #435
fixed with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441

[2019-07-02 14:27] #435 closed

[2019-07-02 14:28] klahnakoski commented on #435
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441/commits/e69eb57f2953f4511207681bfe79dba9a1ddba1b

[2019-07-02 14:30] klahnakoski commented on #412
fixed with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441

[2019-07-02 14:30] #412 closed

[2019-07-02 14:30] klahnakoski commented on #386
fixed with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441

[2019-07-02 14:30] #386 closed

[2019-07-02 14:31] klahnakoski commented on #368
fixed a while ago

[2019-07-02 14:31] #368 closed

[2019-07-02 14:31] klahnakoski commented on #366
done with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441

[2019-07-02 14:31] #366 closed

[2019-07-02 14:33] klahnakoski commented on #376
still a problem with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441

[2019-07-02 14:35] klahnakoski opened #455 "Tooltip squeezes in Firefox, not Chrome"
If the point is to the right, then the tooltip will have a smaller width, nut in Firefox only.

![image](https://user-images.githubusercontent.com/2334429/60521280-fa5dac00-9cb4-11e9-94a6-869d0cc3d517.png)