[2019-07-02 15:25] klahnakoski opened #456 "inconsistent series color"
![image](https://user-images.githubusercontent.com/2334429/60525293-1b75cb00-9cbc-11e9-91e2-7ef2ca7a6249.png)

[2019-07-02 15:29] klahnakoski commented on #444
duplicate of https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/437

[2019-07-02 15:29] #444 closed

[2019-07-02 16:43] klahnakoski commented on #449
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/457

[2019-07-02 16:43] #449 closed

[2019-07-02 16:43] klahnakoski commented on #437
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/457

[2019-07-02 16:43] #437 closed

[2019-07-02 16:45] klahnakoski commented on #428
done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/441

[2019-07-02 16:45] #428 closed

[2019-07-02 16:46] klahnakoski commented on #387
appears fixed

[2019-07-02 16:46] #387 closed

[2019-07-02 16:47] klahnakoski commented on #346
use https://github.com/klahnakoski/MoDevMetrics/blob/dev/html/modevlib/Bugzilla.js for converting from json expressions to bugzilla rest queries

[2019-07-03 01:47] klahnakoski commented on #430
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/458

[2019-07-03 17:44] davehunt commented on #440
@klahnakoski I still don't see Firefox data on the Twitter visualisation. Does this require a new deployment?

[2019-07-03 17:46] davehunt commented on #438
@klahnakoski does this require a new deployment? I still see these visualisations.

[2019-07-03 20:00] klahnakoski commented on #438
@davehunt yes, this is waiting for deploy

[2019-07-03 21:48] klahnakoski commented on #217
It is probably best to copy a current page/component and change the query that drives it.

[2019-07-03 21:48] #217 closed

[2019-07-03 21:49] klahnakoski commented on #222
done

[2019-07-03 21:49] #222 closed

[2019-07-03 21:50] klahnakoski commented on #224
when we have a specific chart that needs this, then we will add it.

[2019-07-03 21:50] #224 closed

[2019-07-03 21:51] klahnakoski commented on #95
this is enabled now.  we will wait for specific views to request this feature.

[2019-07-03 21:51] #95 closed

[2019-07-03 21:53] klahnakoski commented on #453
done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/459/commits/2e8db87bfe347aa1c11f28fdd2e8e361b4d9790d#diff-a4b283cd94bdf6fe52515d6d43a065b4L11

[2019-07-03 21:53] #453 closed

[2019-07-03 21:54] klahnakoski commented on #452
Done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/458

[2019-07-03 21:54] klahnakoski commented on #452
oops, wrong one

[2019-07-03 21:55] klahnakoski commented on #446
proposal:  https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/458

[2019-07-03 21:56] klahnakoski commented on #445
We will stick to raw count because a pass is "one dropped frame, or less"

[2019-07-03 21:56] #445 closed

[2019-07-03 21:57] klahnakoski commented on #427
Done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/459/commits/2e8db87bfe347aa1c11f28fdd2e8e361b4d9790d

![image](https://user-images.githubusercontent.com/2334429/60627430-0ed89c00-9dbc-11e9-8708-e9e2b47e10af.png)

[2019-07-03 21:57] #427 closed

[2019-07-03 21:59] klahnakoski commented on #305
done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/459/commits/551765cac64a9d21af9b0ecf3d0efaaba6301863

![image](https://user-images.githubusercontent.com/2334429/60627530-5b23dc00-9dbc-11e9-84b5-01ae42281b9e.png)

[2019-07-03 21:59] #305 closed

[2019-07-03 22:01] klahnakoski commented on #288
This has been reorganized a while ago now:  Components are grouped by how they use each other.

[2019-07-03 22:01] #288 closed

[2019-07-04 15:05] davehunt commented on #450
This should now be https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2077955,1,10

[2019-07-04 16:15] klahnakoski commented on #346
Proposed fix  https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/462

[2019-07-04 16:16] klahnakoski commented on #346
@cpeterso  May you look at this PR?  If I am updating the queries, I might as well update the chart contents too.

[2019-07-04 16:17] klahnakoski commented on #160
Fix: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/462

[2019-07-04 16:17] #160 closed

[2019-07-04 16:42] #346 closed

[2019-07-04 16:46] klahnakoski opened #463 "Add idle power measures for G5 and P2"
https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2085045,1,10
https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2085040,1,10

[2019-07-04 16:47] klahnakoski opened #464 "pageload: show only one platform at a time"
With linux and mac, the charts are getting busy.  Show just one platform at a time (with chromium)

[2019-07-04 16:49] klahnakoski opened #465 "hide "Today" dropdown"
The "Today" dropdown is a bit dumb because there is nothing to select.  Only show dropdown if there is something to choose (which happens when URL has a past date)

[2019-07-04 16:52] #446 closed

[2019-07-04 16:56] klahnakoski commented on #465
@arnold-iakab

You can see the "ending" dropdown working to it's full potential with this link (notice "ending" is in the past)

https://health.graphics/android/tp6m?test=cold-loadtime&platform=geckoview-p2-aarch64&past=month&ending=2019-07-01

The shorter version of this URL will fill in today's date, and the dropdown is useless.

https://health.graphics/android/tp6m?test=cold-loadtime&platform=g

[2019-07-04 17:01] klahnakoski commented on #464
change this page, replacing the "bits" with an actual platform (like the android page load does).
https://health.graphics/quantum/tp6?test=warm-loadtime&bits=64&past=month&ending=2019-07-04

change the main page to show just win64
https://health.graphics/quantum/64

@arnold-iakab I am away for two weeks.  This is reasonable mid-level task that lets you cahnge actual layout and behavior.

[2019-07-04 17:03] klahnakoski commented on #443
@arnold-iakab I think the ChartJS is still using local time on the axis, if you can fix this then everyone in the world will get to see the same chart. This is optional, remove yourself from the assignee if you find this uninteresting.

[2019-07-04 17:04] #430 closed

[2019-07-04 17:07] klahnakoski commented on #376
@arnold-iakab this issue drives me crazy!  But, it is not important.

[2019-07-04 17:19] klahnakoski opened #466 "most charts not locking to timeDomain"
if there are no datapoints at either extreme of the timeRange, the chart does not show the full time range, only the range of time with points

[2019-07-04 21:10] klahnakoski commented on #463
Done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/467/commits/4f70cb517f5f40f8a05d0992571ed664ee08015f

[2019-07-04 21:10] #463 closed

[2019-07-04 21:12] klahnakoski commented on #452
done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/467

[2019-07-04 21:12] klahnakoski commented on #451
Done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/467

[2019-07-04 21:12] #451 closed

[2019-07-04 21:12] klahnakoski commented on #420
Done: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/467

[2019-07-04 21:12] #420 closed

[2019-07-04 21:13] #452 closed

[2019-07-04 21:40] klahnakoski commented on #225
@stuartphilp  do we have an example in Perfherder?  If not, then I am closing this.

[2019-07-04 21:44] klahnakoski commented on #214
The navigation components have been copied over.  Specific series can be requested with a new issue

[2019-07-04 21:44] #214 closed

[2019-07-05 06:59] Shubhamchinda commented on #159
@armenzg Hey , Can I take this issue?

[2019-07-05 12:10] klahnakoski commented on #159
@Shubhamchinda yes please!

[2019-07-05 14:49] klahnakoski opened #468 "Add IndexDB to store much of the redundant calls"
this dashboard requests a lot of information from perfherder.  The metadata (like the signatures) does not change often, so it can be cached.  We can consider caching the data points too; showing stale data while we wait for fresh data to arrive.

[2019-07-10 10:25] davehunt opened #469 "Critical error when visiting https://health.graphics/android"
When visiting https://health.graphics/android I see the following message:

[2019-07-10 10:33] davehunt opened #470 "Increase duration before warning when no new data for battery charts"
The idle battery tests are now run once/week so we should change the warning when no data is seen for 3 days to something like 10 days.

![Screenshot_2019-07-10 Firefox Health Dashboard](https://user-images.githubusercontent.com/122800/60962631-94050900-a306-11e9-814b-f27d939678de.png)

[2019-07-10 12:10] #469 closed

[2019-07-10 12:19] davehunt opened #472 "Update platform name for Firefox Preview tp6m results"
The platform named used when submitting the Firefox Preview results was recently fixed (https://github.com/mozilla-mobile/fenix/commit/00271cc20de59682603f550fe23cac8dba9ce18a) to be consistent with other targets. It is now android-hw-p2-8-0-android-aarch64 instead of android-hw-p2-8-0-aarch64. We need to update the graphs to include this additional signature. It looks like we need to update the f

[2019-07-10 12:25] davehunt opened #473 "Add Twitch to tp6 (desktop)"
We now have results for Twitch: https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2092466,1,10&series=mozilla-central,2092463,1,10

[2019-07-10 12:27] davehunt opened #474 "Replace Wikia with Fandom tp6 (desktop)"
Due to the change in branding for this site, we've renamed it from wikia to fandom. Let's replace the existing wikia graph with one using the new fandom data. Here's some data: https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2091120,1,10&series=mozilla-central,2091117,1,10

[2019-07-10 12:40] davehunt opened #475 "Display Chrome v72 power usage test results"
Show results from the one-off run of power usage against Chrome v72 in the idle and idle-background graphs.

* Foreground idle results for Chrome v72 can be found here: https://drive.google.com/drive/folders/10cwkTFFNPKl49gaKfFpnVH79MbpnEApf
* Background idle results for Chrome v72 can be found here: https://drive.google.com/drive/folders/1Y3s_66YZk-4nK1NT9ZdX5Yr6jI5ARMb6

[2019-07-11 10:14] davehunt opened #479 "Create label for performance related issues"
Could someone create a label for 'performance' so that I can tag issues that relate to my team? We can then use this as a way to identify and prioritise where we can contribute. /cc @armenzg @karlht @klahnakoski

[2019-07-11 12:56] armenzg commented on #479
Done.

[2019-07-11 12:56] #479 closed

[2019-07-11 15:23] davehunt opened #481 "Add media playback grids to Android dashboard"
We want to show the results for both encodings and all resolutions as per the desktop results (shown below), but the platforms should be Moto G5 and Pixel 2 (aarch64).

![Screenshot 2019-07-11 at 16 11 42](https://user-images.githubusercontent.com/122800/61062710-9a72ae00-a3f6-11e9-8974-25ba9e5ed704.png)

[2019-07-12 10:11] arnold-iakab commented on #470
@davehunt Done.

[2019-07-12 10:12] arnold-iakab commented on #474
@davehunt Done.

[2019-07-12 11:41] arnold-iakab opened #482 "Add media playback tooltips to explain results (green, yellow, red)"
The app shows the colors based on the following logic:
- Green when all speeds have loss <= 1
- Yellow when all speeds except _1x_ have loss > 1
- Red when loss for _1x_ speed is > 1

Based on this, we want the _tooltip_ to display:
- for Green - "One or less dropped frames at all playback speeds"
- for Yellow - "x dropped frames at x playback speed" (show the values for the slowest playback speed

[2019-07-12 11:47] arnold-iakab opened #483 "Clarifying resolutions in media playback tests"
Add "p" to the values in the media playback graphs so that the resolution is not interpreted as a value.

[2019-07-12 12:30] arnold-iakab opened #485 "Give permission to assign issues to arnold-iakab"
@arnold-iakab
Please grant me permission to assign issus.

[2019-07-12 13:32] arnold-iakab opened #486 "Add Alexandru Irimovici as a contributor"
Please add [Alexandru Irimovici](https://github.com/airimovici) as a contributor.

[2019-07-15 10:59] klahnakoski commented on #485
@armenzg   may you add this?

[2019-07-15 11:02] davehunt commented on #486
@armenzg could you take care of this, so that we can assign issues to Alex?

[2019-07-15 11:30] arnold-iakab commented on #482
Green when loss for all speeds is  <=  1

[2019-07-15 11:35] armenzg commented on #485
@arnold-iakab I've upped you to "Triager". I believe that should do this.

@klahnakoski I've upped you to Admin so you can also handle this kind of requests.

[2019-07-15 11:35] #485 closed

[2019-07-15 11:36] klahnakoski commented on #485
@armenzg   thank you!  that was fast!  back to the beach for me!

[2019-07-15 11:37] armenzg commented on #486
Added.

[2019-07-15 11:37] #486 closed

[2019-07-15 15:59] #482 closed

[2019-07-15 15:59] #483 closed

[2019-07-16 08:25] #474 closed

[2019-07-16 08:25] #473 closed

[2019-07-16 08:26] #472 closed

[2019-07-16 14:25] #470 closed

[2019-07-16 16:04] #481 closed

[2019-07-17 06:40] #465 closed

[2019-07-17 10:14] davehunt opened #496 "Increase duration before warning when no new data for battery charts (Android)"
Issue #470 adjusted the warning for the battery detailed view, but we need to extend this to the Android home page at https://health.graphics/android

![Screenshot 2019-07-17 at 11 12 03](https://user-images.githubusercontent.com/122800/61367564-ce7d2180-a883-11e9-8147-11ea7149bc4f.png)

[2019-07-17 16:16] #496 closed

[2019-07-21 18:35] globefire commented on #159
@klahnakoski I would love to work on this issue if the work is inactive can you please assign it to me?

[2019-07-22 12:51] armenzg commented on #159
Thanks @globefire! give it a try and once you have PR for it let us know.

[2019-07-23 14:37] armenzg commented on #215
there are performance alerts that sheriffs report and there are APIs to check for them https://treeherder.mozilla.org/docs/#performance-alert-list
10:36 arno__: if you load this https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,1762616,1,10
10:36 you can see in the network pane that it queries https://treeherder.mozilla.org/api/performance/alertsummary/?alerts__series_signatu

[2019-07-23 14:38] klahnakoski commented on #403
there are many filters. here is an example: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/7b8990a962161056af59467129546c1a404c0fbf/src/quantum/config.js#L60

each filter includes a "framework"; the perfherder fetching code looks for that framework as a special case: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/7b8990a962161056af59467129546c1a404

[2019-07-24 00:50] klahnakoski opened #502 "Number crunching is a big slowdown"
The signature filtering is taking a long time

![image](https://user-images.githubusercontent.com/2334429/61756703-6058c300-ad8b-11e9-840c-9f9be7209f84.png)

This delay happens just as the page loads, and makes it appear to freeze.

[2019-07-24 01:25] #464 closed

[2019-07-24 01:27] klahnakoski commented on #468
done https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/501

[2019-07-24 01:27] #468 closed

[2019-07-24 01:27] klahnakoski commented on #403
This has been mitigated with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/501

[2019-07-24 01:27] #403 closed

[2019-07-24 01:29] klahnakoski commented on #403
There is still some slowdown; but with number crunching moved to a worker (and IndexDB) this may be solved.

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/502

[2019-07-24 12:41] klahnakoski opened #505 "selecting "today" on date selector does not work"

[2019-07-24 12:49] klahnakoski commented on #505
Display control should be in TimePicker

    if (id === 'ending' && options.length < 2) return null;

[2019-07-25 12:20] arnold-iakab commented on #215
Since alerts are being reported only for inbound and autoland, how to we map them in our graphs considering that Health Dashboard queries data from mozilla-central?

[2019-07-25 14:28] armenzg commented on #215
In that case this issue does not apply.
Thanks for checking!

[2019-07-25 14:28] #215 closed

[2019-07-25 22:39] klahnakoski commented on #505
fixed with https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/508

[2019-07-25 22:39] #505 closed

[2019-07-25 22:41] klahnakoski commented on #447
This will require a change to perfherder: to provide the `run_time` along with the `push_date`

[2019-07-26 14:29] davehunt opened #521 "Add CNN to TP6m (Android)"
We now have CNN (warm and cold) results. Let's add these to the Android dashboard. Example of data can be found here: https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-central,2095580,1,10&series=mozilla-central,2098268,1,10

[2019-07-26 14:52] airimovici commented on #521
I'm working on this

[2019-07-26 15:20] klahnakoski opened #523 "Remove Google Restaurants from config file"
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/73178355dad24c861a3b1d792de85c60f0eede03/src/android/config.js#L33

[2019-07-26 15:20] klahnakoski commented on #523
It has all nulls, and it is not run either

[2019-07-26 15:21] klahnakoski commented on #521
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/73178355dad24c861a3b1d792de85c60f0eede03/src/android/config.js#L35

[2019-07-27 12:41] globefire commented on #159
Thank you @armenzg for giving me this opportunity.

[2019-07-31 10:38] davehunt commented on #523
This may be restored after a re-recording, so we should hold off on removing it.

[2019-07-31 10:42] davehunt opened #527 "Remove references to Chrome from tp6"
We've been reporting these as Chromium since April, and may start running geniune tests against Chrome this quarter. To avoid confusion, we should remove the existing references to tests that refer to Chrome.

I believe this mean removing the 'chrome' sources referred to in:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/9358645d3e8e30f5409c119308745ec57008ab65/src/quantum

[2019-07-31 11:51] #521 closed

[2019-07-31 11:55] davehunt commented on #475
New results have been gathered, which can be found here: https://drive.google.com/drive/folders/1OoruoDks5MvGOul7j7xniCiy_eC5d0Gg

[2019-07-31 16:17] globefire commented on #159
@armenzg Can you guide me how should I get started?

[2019-07-31 18:13] klahnakoski commented on #527
We can not remove these "chrome" references. The Perfherder backend uses "chrome" for old series: We need this to look back a year.

[2019-07-31 18:34] klahnakoski commented on #159
@globefire

There are three charting libraries in this project.  Two of them have limited use; it would be nice to load them only if needed, or later:

* import TelemetryContainer from '../telemetry/graph';
* import MetricsGraphics from 'react-metrics-graphics';

Start with separating this page from the main build:

https://health.graphics/android/graph?site=https://www.google.com/

    <Route pat

[2019-07-31 19:30] davehunt commented on #527
I think we may need to do this, as we'll soon be running tests against Chrome release. Perhaps this has a dependency on renaming the tests in Perfherder to 'chromium' though?

[2019-08-01 12:16] klahnakoski commented on #527
We will require an example run of real-chrome-test to see if the signature is the same as the old-chromium-run-as-chrome-test.

[2019-08-01 12:29] #225 closed

[2019-08-01 17:53] davehunt commented on #527
/cc @gmierz

[2019-08-06 18:28] klahnakoski opened #529 "Download as png"
It would be nice to download charts as a png.

[2019-08-09 08:39] davehunt commented on #523
We have results for Google Restaurants for Fennec v64 and GeckoView: https://treeherder.mozilla.org/perf.html#/graphs?timerange=2592000&series=mozilla-central,2101724,1,10&series=mozilla-central,1988182,1,10

[2019-08-09 08:58] davehunt opened #530 "Add media playback summary grid to detail page"
Let's add the media playback results summary grid (currently shown on the android and desktop summary pages) to the top of the detailed results page for media playback results.

[2019-08-09 09:00] davehunt opened #531 "Create media playback results page for Firefox Preview"
We have started running the media playback tests on Firefox Preview. Let's add an option to select Firefox Preview from the media playback details page at https://health.graphics/playback

[2019-08-12 13:51] gmierz opened #532 "Change power usage subtest names"
A patch landed recently which changed the name of the subtests and they are no longer being displayed on the health graphics dashboard. There should be one test found in this range but it's not there: https://health.graphics/power?browser=geckoview&suite=speedometer&past=week&ending=2019-08-12

Here's a link to the change in subtest names: https://treeherder.mozilla.org/perf.html#/comparesubtest?o

[2019-08-27 13:27] davehunt opened #535 "Object(...)(...) is undefined in Benchmarks section of Quantum landing page"
The Benchmarks section of the [Quantum landing page](https://health.graphics/quantum/64) is showing two errors of "Object(...)(...) is undefined":

![Screenshot 2019-08-27 at 14 24 46](https://user-images.githubusercontent.com/122800/63775175-b82ca180-c8d6-11e9-8e96-f4be3fbb9aee.png)

[2019-08-27 17:08] davehunt commented on #531
@airimovici could you have a look at this?

[2019-08-29 14:40] davehunt opened #536 "Change media playback results to Firefox Preview"
Switch the media playback grid results on the Android summary page (https://health.graphics/android) to show results for Firefox Preview (Fenix) instead of GeckoView example.

[2019-08-29 14:46] davehunt opened #537 "Add a media playback summary page"
Show the summary grid for all targets in one place.

[2019-08-29 14:54] klahnakoski opened #538 "Ensure back and forward do not reload data"
Back and forward to/from detail and summary pages should not be reloading

[2019-08-29 14:57] klahnakoski opened #539 "Add link to description on media playback OKR"
The reason for the colors is not obvious.  Adding a link to the OKR doc would help

![image](https://user-images.githubusercontent.com/2334429/63951489-d7007480-ca4b-11e9-8c2f-8b0599aec003.png)

[2019-08-29 15:41] davehunt commented on #537
The idea here is to replace the current https://health.graphics/playback with a summary of all browsers. The current content should be moved to a deeper level, such as /playback/detail and the summary should link to this view. Here's a mockup of how it might look:

![Screenshot_2019-08-29 Firefox Health Dashboard](https://user-images.githubusercontent.com/122800/63954900-c7008900-ca7b-11e9-964a-76

[2019-09-02 11:21] airimovici commented on #531
@davehunt Sure, there will be a PR for this issue and also https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/536

[2019-09-03 17:17] gmierz commented on #527
@klahnakoski the real-chrome signatures will be the same as the old chromium-run-as-chrome tests. Here's an example test run: https://treeherder.mozilla.org/#/jobs?repo=try&revision=698429c9e3c9a8a616196ef0f8db4501d3f369bb&selectedJob=263548388

[2019-09-03 17:22] gmierz opened #542 "Add 'chrome' release tests to health dashboard"
This bug is to add 'chrome' tests to the health dashboard and this depends on the changes in issue #527 (either removing the old data, or renaming it) since it has old data which uses the same signature. The test names will be similar to 'chromium' tests but with '-chromium' replaced with '-chrome'. Here is an example test set: https://treeherder.mozilla.org/#/jobs?repo=try&revision=698429c9e3c9a8

[2019-09-04 03:19] stephendonner opened #543 "GeckoView power-use data is missing for 10+ days"
https://health.graphics/android links to GeckoView's https://health.graphics/power?browser=geckoview&suite=speedometer&past=month&ending=2019-09-04, which has had missing data for over 10 days.

https://health.graphics/power?browser=geckoview&suite=scn-power-idle-bg&past=week&ending=2019-09-04 and https://health.graphics/power?browser=geckoview&suite=scn-power-idle&past=2day&ending=2019-09-04 are

[2019-09-04 12:36] klahnakoski opened #544 "Ensure media playback section shows which browser it is summarizing"
Add some mention of "Firefox Preview"

[2019-09-04 12:45] klahnakoski commented on #527
@gmierz   Maybe we can simply include a time component in the signature filter so that we can distinguish between these two.

[2019-09-04 13:16] gmierz commented on #543
This was fixed by the following PR: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/540

The issue for it was here: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/532

I can't close this bug so if someone else could that would be great (@klahnakoski?).

[2019-09-04 13:48] gmierz commented on #527
@klahnakoski that would be ideal! :)
Anything using '-chrome' from now to the future would be real-chrome data.

[2019-09-04 14:46] #532 closed

[2019-09-04 14:47] #543 closed

[2019-09-09 17:12] tybanash commented on #333
interested in contributing to this. Please canyou giv eme clues on how to set up this project

[2019-09-09 17:13] tybanash commented on #333
i am interested in contributing to this. Please can you give me clues on how to set up this project?

[2019-09-09 19:40] klahnakoski commented on #535
These are old D3 charts that referenced some perfherder signature.  I am guessing there was a name change.

[2019-09-10 11:41] #531 closed

[2019-09-10 11:41] #536 closed

[2019-09-10 11:42] davehunt commented on #544
@airimovici could you take care of this?

[2019-09-17 14:41] klahnakoski opened #561 "add link to description of geomean chart"
the geomean chart shows a target range; describe it in more detail:

![image](https://user-images.githubusercontent.com/2334429/65051871-b5eabf80-d937-11e9-8da9-67a969c668ce.png)

[2019-09-17 14:41] #544 closed

[2019-09-17 14:42] klahnakoski commented on #539
done here https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/555

[2019-09-17 14:42] #539 closed

[2019-09-17 14:44] klahnakoski commented on #527
We have the code to deal with this, the old chromium-labeled-as-chrome is further filtered by date.  We only need to ensure the future chrome is also filtered by date

[2019-09-17 14:45] klahnakoski commented on #527
@davehunt I need just one perfherder example link to add it.

[2019-09-17 14:46] klahnakoski commented on #523
@davehunt  I am lost on what to do.  I suggest we do nothing; keeping the Google Restaurants, and showing an empty chart for the platforms that do not run it.

[2019-09-17 14:46] #450 closed

[2019-09-17 17:52] #251 closed

[2019-09-17 17:57] klahnakoski commented on #561
done here: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/560/commits/f183760be62763b5abaf9237824540049e8cd5ab#diff-7b95a25e0367c5c31d2796ae96ee8c68R14

![image](https://user-images.githubusercontent.com/2334429/65066776-0f141c80-d953-11e9-8623-a5f6b9eacce1.png)

[2019-09-17 17:57] #561 closed

[2019-09-17 21:18] klahnakoski commented on #530
See https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/562

[2019-09-18 14:21] #535 closed

[2019-09-19 08:08] davehunt commented on #523
This test has been restored.

[2019-09-19 08:08] #523 closed

[2019-09-19 08:56] davehunt commented on #527
@gmierz can you provide @klahnakoski with a perfherder link once we have the tests runnng on Chrome?

[2019-09-22 06:04] klahnakoski opened #565 "Move framework/branch expressions from platform to suite"
There are many expressions in the config files that specifiy the framework and repo:

[code]

these really should be paired with the test suite filter, not the the platform filter, because suites belong to a framework.

[2019-09-22 06:16] klahnakoski commented on #542
This example is showing Try branch,

![image](https://user-images.githubusercontent.com/2334429/65383130-75e05f80-dcde-11e9-82ae-016343a63960.png)

[2019-09-23 13:29] bebef1987 opened #567 "remove fennec v64 as a comparison point on health.graphics"
As we will remove all Fennec tests(Except for the Fennec ESR 68) we need to remove this comparison from health graphics

[2019-09-23 13:32] davehunt commented on #567
I know enhancements to this only recently landed, but it's unlikely that Fennec v64 will be used as a comparison point in the future. We should remove this target in tha page load visualisations.

[2019-09-23 16:46] klahnakoski commented on #567
This just landed.  Is there some other reference we will use instead?

[2019-09-23 16:46] #542 closed

[2019-09-23 16:46] #529 closed

[2019-09-23 16:47] #527 closed

[2019-09-23 16:53] davehunt commented on #567
@klahnakoski Fenix 1.0 had release criteria that was relative to Fennec v64 performance. There is a chance that future release criteria will be set, however it's unlikely that this will be against Fennec v64. We are going to run against Fennec ESR68 on a weekly basis, so I did propose comparing with that, but it was decided that it would be best to remove this target entirely for now.

Sorry for t

[2019-09-24 04:21] RajendrasinhParmar commented on #333
Hello, I'm working on unit testing of some files where there are API requests on-page. And for that, I'm trying to use the mock file that is created with sample data inside it. Can someone verify that is it the file that we can use for mocking API response?

[2019-09-24 11:13] klahnakoski commented on #333
@RajendrasinhParmar  You may consider recording the current API response to generate the files you are looking for.  This will be a big help, since most of the coverage is realized after the API calls.

Feel free to open a PR, even if your work is incomplete (`git push --no-verify`), so I can answer your questions more specifically.

[2019-09-24 15:36] airimovici opened #569 "Show results on playback-summary for >1080p H264 encoded videos"
There are no video tests for H264 encoded videos >1080p with 60 frames (for any browser on any platform) as you can see here(the page used for running the tests): https://yttest.prod.mozaws.net/2019/main.html?test_type=playbackperf-test&raptor=true&command=run&exclude=1,2&muted=true

https://health.graphics/playback/details?platform=win-aarch64&browser=firefox&encoding=H264&past=week&ending=2019-0

[2019-09-24 15:50] airimovici commented on #569
@davehunt @klahnakoski I added this separate issue with this problem that I could not solve in the [media summary page PR](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/563)

[2019-09-24 16:05] airimovici opened #570 "Show correct links in graph tooltip for fenix"
The tooltip links from PerfherderGraphContainer have `mozilla-central` as hardcoded repo. This does not work for fenix tests, which are on the `fenix` repo.

[2019-09-25 04:19] RajendrasinhParmar commented on #333
@klahnakoski Thank you for the prompt response. I'll look into ways to achieve this. by recording the API response. However, I think As the components that are using the response of API to render the actual data do not process the data them selfs. So we can probably divide our testing into two parts.

1.  Snapshot testing that will actually test the snapshots of the component according to data. In

[2019-09-25 12:01] klahnakoski commented on #475
These results will require some expertise to digest:  The first step is generating something simpler, a list of `{browser, suite, platform, value}` tuples.

[2019-09-25 12:18] klahnakoski commented on #569
This is best answered by whoever is using these grids.  My naive opinion is to ensure the columns are the same for both encodings so they are easier to visually compare.

I choose to show results for only 60frames/second to keep the overall view simple, and maximize the number of frames dropped (more likely on the 60 rather than the 30).  Maybe the grid will not be confusing if we show 30frames/se

[2019-09-25 12:22] klahnakoski commented on #569
I will note that the grid is much easier to read, and it does highlight the frame rates not tested on any browser/platform. This could be considered a feature, compared to the test summary link (https://yttest.prod.mozaws.net/2019/main.html?test_type=playbackperf-test&raptor=true&command=run&exclude=1,2&muted=true), which is a difficult read.

[2019-09-25 13:04] airimovici commented on #569
@klahnakoski  I agree, it would be confusing to have the summary for 30 frames/sec for one encoding and 60 frames/sec for another.

Like you said, it's best to know if the data that we ignore for H264 30f/sec videos is useful for people that use the summaries.

[2019-09-25 13:30] klahnakoski commented on #333
Right now the snapshot testing is done with broken API calls; so the templates contain a minimal skeleton of what actually shows in a live site.  Mocking the API calls will give a richer response, and test more visual aspects.  For example, some icons only show when there is data; mocking API calls will allow us to confirm those icons are showing. In general, we will be able to test the END PRODUC

[2019-09-26 04:26] RajendrasinhParmar commented on #333
@klahnakoski Thank you for the explanation. I'll keep this in mind and will work on this approach now.

[2019-09-26 14:30] #537 closed

[2019-09-30 23:41] the6thm0nth commented on #159
if this issue is wadering or @globefire is busy, can I try to resolve it?

[2019-10-01 15:21] davehunt opened #572 "Add Chrome results for all benchmarks"
Now that we're running all tests against Chrome we should plot these in the benchmarks, such as Speedometer: https://health.graphics/quantum/subtests?suite=Speedometer&platform=win64&past=month

[2019-10-01 20:05] klahnakoski commented on #333
Maybe you can use https://www.npmjs.com/package/node-fetch

[2019-10-01 20:18] klahnakoski commented on #159
@the6thm0nth it appears @globefire  has disappeared.  Please have a try.

Separating the page is still a good exercise, and would be gladly accepted.

[2019-10-02 05:11] the6thm0nth commented on #159
@klahnakoski Thanks, I'll try in a few days.

[2019-10-02 05:31] the6thm0nth commented on #159
He suggested to use react-lazy, but this package use react 16.5 that is not react-lazy support version. is it ok to update react to 16.6 or should I try 3rd party library?

[2019-10-02 06:54] RajendrasinhParmar commented on #333
I'm planning to use https://www.npmjs.com/package/jest-fetch-mock that probably will be specific to testing environment but will look into your suggestion as well

[2019-10-02 09:39] the6thm0nth commented on #159
regardless of this issue, I've refactored a file while I'm trying code-splitting. May I send a pull request with this way?

https://github.com/the6thm0nth/firefox-health-dashboard/commit/7b81597d9564b8580680fa965d470a02ff6159e1

[2019-10-02 13:48] klahnakoski commented on #159
@the6thm0nth  - Feel free up upgrade the packages if that helps you.  You may send pull requests, even broken ones (with `git push --no-verify`) so we can discuss the code specifically.

[2019-10-02 14:31] davehunt opened #575 "Rename "Quantum" to "Windows""
Let's rename "Quantum" to "Windows" as the latter is more accurate in describing the data that's being plotted on these pages. We should also redirect "quantum" URLs to "windows" so that we don't break any bookmarks.

[2019-10-02 14:42] klahnakoski commented on #333
@RajendrasinhParmar good!  it looks like `jest-fetch-mock` uses [cross-fetch](https://www.npmjs.com/package/cross-fetch), which is similar to `node-fetch`.

[2019-10-02 14:42] klahnakoski commented on #333
... if what you have works for you, then no need to distract yourself with my suggestion.

[2019-10-02 15:32] davehunt commented on #575
/cc @ecsmyth

[2019-10-09 14:02] klahnakoski opened #577 "Ensure ? opens new tab"
Upon clicking "?"

![image](https://user-images.githubusercontent.com/2334429/66488423-deb82d80-ea7b-11e9-85e6-781a98793d71.png)

the page redirects to documentation.  It should open a new page instead.

[2019-10-09 14:07] klahnakoski opened #578 "Cache everything"
The signatures are stored for subsequent page visits because they do not change much.  If we can, somehow, signal there is more data for the charts, then we can also cache the data and use the signal when data-since-last-visit arrives.

Can we key all charts on last_updated, so React knows when to update?

[2019-10-09 14:11] klahnakoski commented on #475
@gmierz  this is a reminder to provide us with something simpler.

[2019-10-09 14:18] klahnakoski commented on #538
Moving to hash browser may help.  Maybe [cache everything](https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/578) is easier?

[2019-10-09 14:34] klahnakoski commented on #578
This can allow live view, if we poll for more data periodically.

[2019-10-10 15:27] gmierz commented on #475
Apologies for the delay! I think we have some issues with the data...

For geckoview browser in the data we've collected - the cpu value is much lower than it should be (expected to be in the 10's), and the screen power is also lower by about 20 mAh:
[code]

For chrome, it's hard to compare to CI data, but for moto G5 there shouldn't be much difference in screen power usage from one app to another

[2019-10-10 17:32] niklabh commented on #577
This is on which page

[2019-10-10 17:39] niklabh commented on #577
Here is a pull request https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/580

[2019-10-10 19:02] #577 closed

[2019-10-10 19:05] klahnakoski opened #582 "Busted link"
The "?" link on page https://health.graphics/android is wrong. it should include `.md` and read

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/docs/about-pageload.md#about---site-load-times

Please fix the link, and ensure it opens a new page, rather than leaving the dashboard

[2019-10-10 19:30] melvin2016 commented on #582
I will work on this.

[2019-10-10 23:06] melvin2016 commented on #582
PR Done. @klahnakoski

[2019-10-11 19:32] #582 closed

[2019-10-13 11:19] klahnakoski opened #585 "Expand desktop cold page load tests to full suite of site"
The rest of the desktop cold page load is now available https://bugzilla.mozilla.org/show_bug.cgi?id=1581829

[2019-10-23 15:38] davehunt commented on #475
Can we try repeating the test to see if the data is closer to what we're expecting? If we experience similar issues again then it may be worth waiting until we can do this in CI (this will depend on us moving to browsertime).

[2019-10-24 18:02] davehunt opened #590 "Android page is causing a critical error"
Trying to load https://health.graphics/android takes a long time to load, shows missing data, and then eventually displays the message:

I did not wait a few hours, sorry. 😳

[2019-10-24 19:41] klahnakoski commented on #590
looking now

[2019-10-24 20:13] mcomella opened #591 "Nimbledroid is no longer uploading Nightly builds"
The https://health.graphics/android dashboard no longer has the latest Nightly Nimbledroid builds: it stops at Oct. 11. According to Colin, the Nightly app ID changed from `org.mozilla.fenix` to `org.mozilla.fenix.nightly`, which could have caused the problem. fwiw, the latest Nightly Nimbledroid runs are now [available here](https://nimbledroid.com/dashboard/Mozilla/nimbledroid-admin@mozilla.com/

[2019-10-24 20:21] klahnakoski opened #593 "Geomean pageload not showing"
Due to the loss of a reference number, the geomean shows nothing

https://health.graphics/android

[2019-10-24 20:21] #590 closed

[2019-10-26 09:33] PaliwalArpit commented on #565
I would like to take this, as my first contribution to open source, can you please provide more details and what needed to be done in this?

[2019-10-27 15:08] klahnakoski commented on #565
@PaliwalArpit

Mozilla runs many performance tests. These tests are grouped into "suites", each suite is the same test with different parameters.  For example, there is a cold page load suite, which gets run on many different sites [example](https://health.graphics/quantum/tp6?test=warm-loadtime&platform=win64&past=month&ending=2019-10-27).  Each suite belongs to a "framework".  In the example, th

[2019-11-01 18:21] mcomella commented on #591
This will be blocked on our final set-up for Nimbledroid uploads: https://github.com/mozilla-mobile/perf-frontend-issues/issues/20

[2019-11-06 12:30] davehunt commented on #593
Let's switch the reference number to fennec68. Here's some example data: https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=mozilla-central,2129484,1,10&series=mozilla-central,2129480,1,10&series=mozilla-central,2129100,1,10&timerange=5184000

[2019-11-08 06:47] HariShyamU commented on #159
Can I take this up if @the6thm0nth is busy?

[2019-11-08 06:59] HariShyamU commented on #565
Can I take this up if @PaliwalArpit is busy or unavailable?

[2019-11-08 20:10] klahnakoski commented on #565
@HariShyamU  I believe @PaliwalArpit is working on this

[2019-11-08 20:11] klahnakoski commented on #565
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/595

[2019-11-08 22:11] klahnakoski commented on #159
@HariShyamU   Yes, please.

The blocker is the fact the telemetry charts are not showing.  You can see them here

    https://health.graphics/quantum/64

but not here (preview of same page)

    https://deploy-preview-574--firefox-health-dashboard.netlify.com/quantum/64

I believe the problem is @the6thm0nth was [trying to lazyload MetricsGraphics inside of graph.jsx](    https://github.com/mozill

[2019-11-11 21:50] #593 closed

[2019-11-11 21:51] #572 closed

[2019-11-11 21:51] #567 closed

[2019-11-11 21:52] #530 closed

[2019-11-11 21:52] #585 closed

[2019-11-11 21:59] davehunt opened #597 "Android tp6 summary graph for Pixel 2 links to results for Moto G5"
The link from the Android summary page to view details of the tp6 results on Pixel 2 loads the results for Moto G5.

<img width="833" alt="Screenshot 2019-11-11 at 21 53 19" src="https://user-images.githubusercontent.com/122800/68624260-5a1f5b80-04ce-11ea-874d-e70a4ef1c58c.png">

<img width="549" alt="Screenshot 2019-11-11 at 21 58 45" src="https://user-images.githubusercontent.com/122800/68624369

[2019-11-12 02:25] HariShyamU commented on #159
@klahnakoski Sorry for the late response... So apart from lazy loading graph.jsx instead of MetricsGraphics, There's issue with MetricsGraphics not boding well with React. These two are the problems right?

[2019-11-12 02:43] klahnakoski commented on #159
@HariShyamU It is the same issue: Lazy loading MetricsGraphics is hard because it is not a React component.  Lazy loading `graph.jsx` should be easy because it is a React component.  (be sure to use the graph.jsx found in master, not the (modified) version found in the6thm0nth).

[2019-11-13 17:38] #159 closed

[2019-11-15 12:36] PaliwalArpit commented on #565
@HariShyamU Please go ahead with this, my workload has significantly increased. Let me know if you won't take it still?

[2019-11-15 19:16] klahnakoski commented on #333
I am opening this bug up for others

[2019-11-15 19:26] klahnakoski opened #610 "Lazy load material ui icons?"
Looking at https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/316 (which is old), it seems the icons make up a large part of the bundle size

    @material-ui\icons: 4.87 MB (44.2%)

Can the icons be separated into their own bundle?

[2019-11-17 04:20] RajendrasinhParmar commented on #333
Yeah sure. Sorry as i got stuck in some other work lately. 😟 Still I'll create and MR once I'll update code coverage for any files. Just to update that I'd successfully setup mocking for fetch request. Which is now working as expected and it's not going ans requesting actual URL in jest execution.

[2019-11-17 22:03] Rokiis commented on #575
Hello, is it still available? Would like to contribute.

Thanks.

[2019-11-17 23:49] Rokiis commented on #575
Quantum Changed to Windows, All tests pass, test -u all pass, filenames updated as well as classnames containing works windows.

New branch created Quantum-to-Windows

However, I can't push to the repo

| λ git push origin Quantum-to-Windows
| remote: Permission to mozilla-frontend-infra/firefox-health-dashboard.git denied to Rokiis.
| fatal: unable to access 'https://github.com/mozilla-frontend-i

[2019-11-18 00:06] Rokiis commented on #575
PR #611 sent for review.

[2019-11-18 13:39] klahnakoski commented on #333
@RajendrasinhParmar

Feel free to make a PR and commit/push with `--no-verify` so that I can give you feedback on what you have so far.  No need to get the whole thing working in a single push.

[2019-11-18 13:43] klahnakoski commented on #575
@Rokiis you must

1. fork this repo to your Github account, then
2. clone that fork to your local machine
3. Make your changes, and push to your Github account
4. Make a PR here

[2019-11-18 13:44] Rokiis commented on #575
Yeah, that's how I've managed to push the PR through. Could you please review?

[2019-11-19 18:51] grantlouisherman commented on #466
hey @klahnakoski I can take at look at this issue. Could you provide a screen shot of what you are talking about?

[2019-11-19 23:18] klahnakoski commented on #466
You can see the problem here:

https://health.graphics/android/tp6m?test=cold-loadtime&browserPlatform=fenix-g5&past=month&ending=2019-11-19

The chart should be showing a full month ending November 19, which means the first date should be October19.  The chart starts on October26.

![image](https://user-images.githubusercontent.com/2334429/69195066-c9153980-0af8-11ea-92e0-b160297a5e50.png)

[2019-11-21 23:28] mcomella commented on #591
Our new nightly ND set-up is complete, unblocking this work: the dashboards are available here https://nimbledroid.com/dashboard/Mozilla/nimbledroid-admin@mozilla.com/org.mozilla.fenix.nightly/6b5dbddf-86f2-42e8-bf2d-58044c796b5c...c32ae9eb-dae6-4e69-bd34-072561e3b5a2?os_version=android5

@klahnakoski I've heard you are the one to ask about correcting the health.graphics dashboards: can you update

[2019-11-22 20:22] klahnakoski commented on #591
@mcomella yes I am the one to fix this.

[2019-11-22 20:47] klahnakoski commented on #591
@mcomella

The nimbledroid data is pulled with another repo.  The code starts here:

https://github.com/mozilla/firefox-health-backend/blob/master/src/scripts/fetchNimbledroidData.js#L55

it's a bit of a maze, here is the config:

https://github.com/mozilla/firefox-health-backend/blob/master/src/configuration.js

I point you to this, in case it does not work

[2019-11-23 17:45] klahnakoski commented on #591
@mcomella   I am going to need a new URI and maybe API key to get this product

please continue the discussion over at  https://github.com/mozilla/firefox-health-backend/issues/71

[2019-11-26 21:14] armenzg commented on #591
@mcomella we've landed a backend change and I've fetched the data from the new user.
Only data for the nimbedroid-admin user is being used.
<img width="688" alt="image" src="https://user-images.githubusercontent.com/44410/69673191-c8842200-1067-11ea-9167-654fd58991f5.png">

[2019-12-03 02:42] mcomella commented on #591
@armenzg Are you fetching the Firefox Preview nightly builds? I only see the Reference Browser builds on this dashboard.

The nightly builds should be available here: https://nimbledroid.com/my_apps/org.mozilla.fenix.nightly?a=359c5737-9cf5-4b01-82f9-6224c3c4e13d#summary

[2019-12-03 13:50] armenzg commented on #591
I will let @klahnakoski to follow up.

I see that there's data in the backend:
https://firefox-health-backend.herokuapp.com/api/android/nimbledroid?product=org.mozilla.fenix.nightly&version=3

[2019-12-09 22:05] davehunt opened #616 "Add Chrome results for media playback tests"
Now that https://bugzilla.mozilla.org/show_bug.cgi?id=1554967 is resolved we have Chrome results for media playback tests. @airimovici could you coordinate with @marianrai adding these to the summary page so we can visualise how we compare with Firefox desktop?

[2019-12-10 08:47] airimovici commented on #616
Of course @davehunt
I'll add a new section to the [video playback summary page](https://health.graphics/playback), just like the ones that already exist, like `Firefox (Desktop)` (see image below). I will make sure we see correct data on `Details page` also: https://health.graphics/playback/details

![playback-summary](https://user-images.githubusercontent.com/51707553/70513527-7bf61780-1b3a-11ea-

[2019-12-11 17:16] klahnakoski opened #620 "Show reporting frequency by platform"
It would be nice to know the reporting frequency of branches/platforms that are not less-often tested.
Specifically, this is desired on the power tests, but other tests may also benefit.

Some thought is required around how we keep this up to date:  Do we alert when the expected frequency is different?  do we simply report observed frequency?

[2019-12-11 17:18] klahnakoski opened #621 "Switch between nightly and release"
We currently report numbers off of central.  It would be nice to report from the other branches too.

Do we do this by adding yet-another-dimension?

[2019-12-11 17:20] klahnakoski opened #622 "Show browsers in single chart for power tests"
The current view shows the platforms on a single chart.  It would be nice to show the browsers on a single chart instead, and show g5/p2 platforms as siblings beside each other.

[2019-12-11 17:21] klahnakoski opened #623 "Remove Telemetry section"
We will not need the telemetry section until the next release is reporting the numbers.

[2019-12-11 17:22] klahnakoski opened #624 "Show github bug burndown"
We have a Bugzilla burndown.  We would also like the same for Github bugs.  Specifically,

https://github.com/mozilla-mobile/fenix/labels/eng%3Aperformance

[2019-12-11 17:23] klahnakoski opened #625 "Reorder sections"
The summary sections should be reordered for ease of use:

* code pageload
* startup from homescreen
* startup from applink
* speedometer score
* dropped frame
* power use

[2019-12-11 17:26] klahnakoski opened #626 "Media Playback - Criterion change"
The media plackback should color according to

* greater than 1 dropped frame for 1080p 30fps (or smaller, or slower) - RED
* greater than 1 dropped from on all others - YELLOW

[2019-12-12 13:30] divyanshu-rawat commented on #570
@airimovici is this issue open to work on ?

[2019-12-12 19:50] divyanshu-rawat commented on #575
@klahnakoski is this open to work on?

[2019-12-12 19:52] Rokiis commented on #575
@divyanshu-rawat Im still pending code review

[2019-12-12 22:07] davehunt opened #628 "Add descriptive page titles"
When attempting to navigate back without cycling through all pages (which is very slow) I'd like to be able to jump back to a previously visited page. The problem is, all pages have the same title, which makes this very difficult.

![Screenshot 2019-12-12 at 22 06 04](https://user-images.githubusercontent.com/122800/70753057-ce4a5a80-1d2b-11ea-93bb-a83c86a7bab5.png)

[2019-12-17 12:27] airimovici opened #630 "Add a power usage summary page"
Add a power usage summary page

[2019-12-17 13:06] airimovici commented on #570
@divyanshu-rawat it is available. If you want to work on it and have any questions I can help you with that.

[2019-12-17 13:47] divyanshu-rawat commented on #570
cool, 🎉 Happy to give back something to the community @airimovici , let me know what it is all about?

[2019-12-17 22:33] divyanshu-rawat commented on #625
@klahnakoski I can work on this let me know if it is up for grab?

[2019-12-18 10:28] klahnakoski commented on #625
@divyanshu-rawat yes, please

[2019-12-18 10:52] divyanshu-rawat commented on #625
@klahnakoski could you please give more info. on it where exactly is the summer section 👍

[2019-12-18 11:00] klahnakoski commented on #625
@divyanshu-rawat

There is a windows (aka quantum) and android summary sections:

https://health.graphics/android
https://health.graphics/quantum/64
https://health.graphics/quantum/32

[2019-12-18 15:02] airimovici commented on #570
@divyanshu-rawat
Basically, we have these graphs (PerfherderGraphContainer) in several pages and they show results from tests. When hovering on a point from one graph, there is a tooltip with info about that result that also contains some external links.

![graph-tooltip-rectangle](https://user-images.githubusercontent.com/51707553/71096422-f10ac200-21b6-11ea-9ac6-84ac8f221f74.png)

[Example of pa

[2019-12-18 15:13] klahnakoski commented on #630
Show all browsers on a single chart.  Each chart will be a different platform

[2019-12-18 15:24] klahnakoski opened #633 "Change "fennec68" to "ESR""
We will change naming convention from "fennec68" to "ESR"

[2019-12-18 15:28] #597 closed

[2019-12-18 15:45] klahnakoski commented on #630
ignore that last comment, making a new issue

[2019-12-18 15:45] #630 closed

[2019-12-18 15:49] klahnakoski opened #634 "Show browsers on single chart, each platform with own chart"
Some of our summary charts show each browser on a chart, with each platform as a series on the chart.  This makes  browser comparison hard.

Change the summary charts (whatever they may be) to show all browsers as series on one chart, and each platform as a separate chart.

[2019-12-18 19:16] divyanshu-rawat commented on #625
@klahnakoski do you mean these sections?
if yes then where is `speedometer score `section?

<img width="273" alt="Screenshot 2019-12-18 at 20 15 37" src="https://user-images.githubusercontent.com/13464678/71115842-2e7d4880-21d3-11ea-8c54-4977810bb422.png">

[2019-12-19 00:34] klahnakoski commented on #625
@divyanshu-rawat no.  these sections...

![image](https://user-images.githubusercontent.com/2334429/71134739-684b5080-21cd-11ea-81e3-00dff0f4f289.png)

[2019-12-19 00:36] klahnakoski commented on #625
they are called "sections" in the code

[2019-12-21 06:43] agrawal-d commented on #610
I am interested in taking this issue up. Could you please tell me a bit more about how I should go about it?

[2019-12-21 13:55] klahnakoski commented on #610
@agrawal-d   yes please! take this.

[2019-12-21 18:16] agrawal-d commented on #610
@klahnakoski it seems this issue is mostly related to Webpack, which I do not have experience with. I wasn't aware of it while taking the issue. I am unassiging myself. Thanks.

[2019-12-22 03:39] Manish-Giri commented on #610
Hi, I'd like to give this a shot.

[2019-12-23 05:10] klahnakoski commented on #610
@Manish-Giri   yes please, take this.  The code already splits some chart types into separate files, so I imagine the same can be done for the icons.

[2019-12-23 08:56] davehunt opened #638 "Remove Pixel 2 (arm7) from graphs"
We've stopped running perf tests against 32bit builds on Pixel 2 via [bug 1604547](https://bugzilla.mozilla.org/show_bug.cgi?id=1604547). Let's remove the associated data from our visualisations to reduce the distractions this may cause.

[2019-12-23 11:19] airimovici opened #639 "Performance issue on media playback summary page"
This slowdown issue was raised here: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/632#pullrequestreview-334073165

[2019-12-23 23:15] cpeterso opened #640 "Create dashboard page comparing Fission vs non-Fission perf test results"
I'm the EPM for the Fission team. We'd like to request a new dashboard page like https://health.graphics/windows/64 but comparing Fission vs non-Fission perf test results.

## Tests

We have test results in Perfherder for the following test suites running on mozilla-central:

* Talos
  * "fission" tests enabled in [bug 1594631](https://bugzilla.mozilla.org/show_bug.cgi?id=1594631)
  * [example Per

[2019-12-27 17:15] KaairaGupta commented on #466
hey @klahnakoski ! is this issue still up? I would like to work on it

[2019-12-27 20:09] KaairaGupta commented on #466
@klahnakoski I have set up my environment. Since this is my first contribution can you guide me as to how to proceed further?

[2019-12-27 20:52] grantlouisherman commented on #466
Hey @KaairaGupta you can take it on. I figured out the bug is coming from how the program creates dates. I believe there is a date component you can look at.

[2019-12-28 12:17] KaairaGupta commented on #466
@grantlouisherman can you please guide me as to which files i should look at?

[2019-12-28 17:40] klahnakoski commented on #466
The problem can be seen here: In the `moreProps.options.scales.xAxis`, which is sent to the ChartJs library.  The code responsible for setting this value is busted.

![image](https://user-images.githubusercontent.com/2334429/71547452-2610d480-296e-11ea-925e-9ebb8224aab0.png)

Looking for `xAxes` will reveal the code:  And we now have a good hint about why the xAxes is not set properly.

![image](h

[2020-01-01 20:53] vaideshshank commented on #466
@klahnakoski if the issue has not been resolved yet, then can I take it up ? I have been looking upon this issue for a while now and would be happy to resolve it. @KaairaGupta if you are done with solving the issue, please let me know.

[2020-01-02 08:45] KaairaGupta commented on #466
@vaideshshank if you have made any progress with it, you can work on it

[2020-01-02 13:12] klahnakoski commented on #466
@vaideshshank This issue is still not resolved.  Please go ahead and work on it.

[2020-01-02 20:09] Fcmam5 commented on #628
Can I work on this?

[2020-01-02 22:37] klahnakoski commented on #628
@Fcmam5 yes please!

[2020-01-03 10:41] vaideshshank commented on #466
Sure I'll resolve it asap.

[2020-01-03 21:43] klahnakoski commented on #640
I would prefer a new `/fission` page, but it really depends on what you are looking for. I would like the dashboards be specific to the project and the team that uses them. The current charts are crowded because there are multiple users with slightly different requirements, over a number of projects.

Are you comparing Fission another product?  Chrome? geckoview?  If so, then many of the charts on

[2020-01-05 19:42] vaideshshank commented on #466
For solving the problem related to time domain, there is a need to pass data.labels as prop in Chart component which is currently empty, due to which the scatter points are self adjusted along the time axis based upon existence of value at a particular timestamp.

![Capture](https://user-images.githubusercontent.com/42419232/71784963-fa51b680-301f-11ea-8be1-a1d59678e95a.PNG)

Here I have passed th

[2020-01-05 21:08] cpeterso commented on #640
That makes sense. The https://health.graphics/quantum/64 page has some tests and platforms that we don't need to monitor for Fission.

The Fission team only cares about comparing Firefox with Fission-enabled vs Firefox with Fission-disabled. For 2020, we only care about Fission performance on desktop (so probably just Win64 is good enough).

[2020-01-05 22:23] vaideshshank commented on #610
@klahnakoski any progress in the issue so far? Can I work on resolving the issue?

[2020-01-05 22:28] Manish-Giri commented on #610
Yes, I'm still working on it.

[2020-01-06 05:33] vaideshshank commented on #610
Okay @Manish-Giri

[2020-01-06 05:42] vaideshshank commented on #538
Shall I take up this issue if available?

[2020-01-06 13:13] klahnakoski commented on #466
@vaideshshank I think your solution is too complicated:  The ChartJS is perfectly capable of generating the axis we want, as long as we send it the `min` and `max`.  Here is an example using y-axis:

https://www.chartjs.org/docs/latest/axes/cartesian/linear.html#step-size

You can see the code attempting to set this `min` and `max`, but there is a logic error:

https://github.com/mozilla-frontend-

[2020-01-06 13:39] klahnakoski commented on #538
@vaideshshank  yes, you may take this issue.  I suspect it involves moving from `BrowserRouter` to `HashRouter` (which demands the URL parameters be in the URL fragment (after the hash (`#`))

If you go with `HashRouter` solution, then this dashboard becomes truly static, enabling caching, and even faster loading.

[2020-01-06 15:27] vaideshshank commented on #466
Yes, I think the ```xDomain``` value is getting null in this https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/master/src/vendor/components/chartJs/utils.js#L110
due to which the default value is returned having no ```min``` or ```max``` .
Thanks for the suggestion, I will update the changes in PR.

[2020-01-06 15:30] vaideshshank commented on #538
Sure I will implement this solution. Thanks.

[2020-01-06 21:30] vaideshshank commented on #538
@klahnakoski should all the react routes be shifted to HashRouter finally ?

[2020-01-07 12:53] #570 closed

[2020-01-07 13:10] klahnakoski opened #643 "Ensure config files have link to repo"
The links to revisions can take a different form, depending on the repository it is found in:

[code]

Ensure we have this these URL templates in the config files, so the code is not making decisions:

[code]

Specifically, put a breakpoint on the above lines, then load

https://localhost:5000/playback/details?platform=p2-aarch64&browser=fenix&encoding=VP9&past=week&ending=2020-01-07

to see what

[2020-01-07 13:21] klahnakoski commented on #538
@vaideshshank yes, if you decide to move to HashRouter, it must be done everywhere.  I am not certain about how this effects the links.  At the very least, take this in small steps:  Replace the BrowserRouter with HashRouter, and then explore all the things the break. This will give you a better idea of the overall work that must be done.

Remember, there is the option of keeping `BrowserRouter`,

[2020-01-07 13:48] #466 closed

[2020-01-07 14:10] vaideshshank commented on #538
Okay I'll try out both the options so as to have a better idea of implementation and choose the best fit then.
Thanks for suggesting.

[2020-01-07 17:08] airimovici commented on #626
@klahnakoski I'm not sure if I understand this issue correctly and I have some questions:
1. By slower, do you mean speeds below 1x playback speed?
2. I'm not sure sure what are the differences between the current criterion and the one we should change to. I will write what I understand it changes, please point out if I am missing an edge case.
From my understanding, the differences are:
	- 1080p

[2020-01-07 20:18] StTronn commented on #643
Hey @klahnakoski I will like to take this issue and start with the cleanup for /playback

[2020-01-09 00:51] vaideshshank commented on #538
Using this approach, should we associate some expiry time with the states so as to call the APIs again when the user switches back and forth between the pages beyond this time ?

[2020-01-09 12:54] klahnakoski commented on #626
@airimovici  The old criterion only cared about 1x playback speed.  The new criterion will go red on slower playback too.  The resolution is now in the criterion too: before high res failure was marked red, now it can only be marked yellow.  Here is the old logic.

          lookupType[
            selectFrom(speeds)
              .map(({ speed, loss }) => {
                if (speed === 1) {

[2020-01-09 12:55] klahnakoski commented on #643
@StTronn Yes please.  Thank you!

[2020-01-09 13:04] klahnakoski commented on #538
@vaideshshank  In the case of keeping `BrowserRouter`: When a user navigates backward/forward the charts will use local storage to display content immediately; at the same time the regular loading process will re-fetch data from the backend, replacing the chart content when new data is available.  If it has been a long time since a page has been loaded then the charts will show old data until the

[2020-01-09 14:31] vaideshshank commented on #538
Sure. This would work fine.

[2020-01-09 15:16] airimovici commented on #638
This issue was addressed in PR https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/615

[2020-01-09 15:16] #638 closed

[2020-01-09 15:19] airimovici commented on #616
The Chrome tests were added and can be seen here: https://health.graphics/playback/

[2020-01-09 15:19] #616 closed

[2020-01-15 12:27] airimovici commented on #633
According to a comment from Dave in this PR: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/615. I renamed `fennec68` to `Firefox ESR`.  This change should already be merged and can be checked on [health.graphics](http://health.graphics).

Should I change the browser display name from "Firefox ESR" to "ESR" as this Issue suggests or should I let it "Firefox ESR", like it i

[2020-01-15 17:29] klahnakoski commented on #633
Use the shorter "ESR" name only if "Firefox ESR" is too long for the charts, or if there are too many "Firefox" words on a chart.  I

If it look good, do not change it

[2020-01-15 17:29] #633 closed

[2020-01-16 08:24] #623 closed

[2020-01-19 12:37] Aniruddha-0812 commented on #565
Is anyone working on this issue I am a complete newbie and wants to make my first contribution to the open source....I am having some doubts:
1] I cloned the desktop firefox at first and run the command ./mach build everything's done so for contributing to this issue i need to clone this project too or it's already available in the folders i cloned before ?
2] I am familiar with basics of node js

[2020-01-20 12:46] shreygupta2809 commented on #575
Hi,Is this bug still available for fixing. I would like to work on it.
Thanks

[2020-01-20 13:04] klahnakoski commented on #565
@Aniruddha-0812  I have a number of PRs to review and merge, and I have time to work on them today.  Let me get back to you about the state of things.

[2020-01-20 16:28] #626 closed

[2020-01-21 01:20] #628 closed

[2020-01-21 02:47] vaideshshank commented on #538
@klahnakoski while resolving this issue, whenever I try to pass previously fetched data from ```localStorage``` to the chart component from different graphs, I am getting the raw error message of 'This item has been missing the data for 3 days' as shown in this picture.
![Capture](https://user-images.githubusercontent.com/42419232/72770426-d4cdcb00-3c23-11ea-8c79-1fcff129deae.PNG)

On digging into

[2020-01-21 13:41] klahnakoski commented on #538
@vaideshshank The best way to move forward is to make a PR with your changes so we can discuss the code. Prefix the PR with "WIP" for "Work in Progress".

The Bugzilla chart has a different datasource than the performance charts, so I would ignore it while trying to get things working.

I have also recently pushed a number of PRs, I hope your local changes merge easily enough.

[2020-01-21 14:55] klahnakoski commented on #591
This appears to be working

[2020-01-21 14:55] #591 closed

[2020-01-21 14:56] klahnakoski commented on #447
Hopefully moving these dashboards to use bigquery will allow this: Each perf result is attached to the job, and that job has a request/start/end time

[2020-01-21 15:13] klahnakoski commented on #218
Done some time ago:
https://health.graphics/windows/subtests?suite=MotionMark+HTML&platform=win64&past=month&ending=2020-01-21

[2020-01-21 15:13] #218 closed

[2020-01-21 15:14] klahnakoski commented on #220
This will not happen.  First, the telemetry presentation code has been split out so it does not impace pages that do not need it.  Second, we will replace the frontend when/if https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/219  is done

[2020-01-21 15:14] #220 closed

[2020-01-21 15:15] klahnakoski commented on #230
this has been done some time ago

[2020-01-21 15:15] #230 closed

[2020-01-21 15:16] klahnakoski commented on #239
I would still like to see this done

[2020-01-21 15:17] klahnakoski commented on #316
done, we have had contributors split the file.  The rest of our work will be removing old chart libraries

[2020-01-21 15:17] #316 closed

[2020-01-21 15:18] klahnakoski commented on #219
We are making a copy of the perf data in BigQuery.  Maybe we can do the same for this information

[2020-01-21 15:20] klahnakoski commented on #407
done some time ago:  A chart is able to show a "series" with a constant range

[2020-01-21 15:20] #407 closed

[2020-01-21 15:21] klahnakoski commented on #434
this is still relevant, but given we have not needed to touch the navigation code, despite having expanded its use, means the design is good enough

[2020-01-21 15:21] #434 closed

[2020-01-21 15:33] klahnakoski commented on #475
@davehunt @gmierz @airimovici  Do we have this number yet?  Please provide a link

[2020-01-21 15:33] klahnakoski commented on #502
The hope is a move to BigQuery will push the filtering workload to the datastore, and then be faster.

[2020-01-21 15:34] klahnakoski commented on #565
done

[2020-01-21 15:34] #565 closed

[2020-01-21 15:38] klahnakoski commented on #569
I am closing this.  We have added new criterion for 30fps, and these charts should be showing the 30fps criterion in the tooltip.  If something needs to change, then make a new issue.

[2020-01-21 15:38] #569 closed

[2020-01-21 15:40] klahnakoski commented on #622
done!!

[2020-01-21 15:40] #622 closed

[2020-01-21 15:42] klahnakoski commented on #634
This issue is too vague; there are a lot of charts!

@airimovici  Please make issues for each specific page if you do not fix them directly. Then close this issue

[2020-01-21 15:43] klahnakoski commented on #625
@divyanshu-rawat   Are you still on this?

[2020-01-21 15:46] klahnakoski commented on #639
@airimovici Are you working on this?

[2020-01-21 19:03] lelouchB commented on #443
@klahnakoski Hello,  I am interested in this issue and want to work on this

[2020-01-21 19:45] klahnakoski commented on #443
Yes please!

[2020-01-22 03:49] jaskeerat789 commented on #239
Can I work on this @klahnakoski ?

[2020-01-22 05:26] lelouchB commented on #443
@klahnakoski  Just to be sure, to fix this issue we have to show time in UTC in different charts rather than GMT, although there is no time difference but for standard thing??

[2020-01-22 11:59] divyanshu-rawat commented on #625
@klahnakoski yes I am working on it need some time will get back to you 👍

[2020-01-22 12:42] davehunt commented on #475
I'm going to close this as it's no longer a priority. Fenix release criteria is currently measuring against Fennec v68.

[2020-01-22 12:42] #475 closed

[2020-01-22 12:44] lelouchB commented on #443
@klahnakoski can you please elaborate the issue?

[2020-01-22 13:59] airimovici commented on #639
@klahnakoski I did some tests on it and managed to drop it down from 1:30-1:50 min to 30-35 sec with limiting the scanning of signatures.

[2020-01-22 14:03] airimovici commented on #639
What I did was only scanning on the video playback signatures instead of all of them from perfherder. This reduced the signatures to scan on from ~60k to ~8k.

[2020-01-22 17:23] davehunt commented on #640
Note that the fission metadata has been standardised as `fission`. I will update the examples in the issue description.

[2020-01-22 22:33] klahnakoski commented on #239
@jaskeerat789 Yes please.

[2020-01-22 22:50] klahnakoski commented on #443
@lelouchB   Eventually, all chart requests end up here:

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/90d92e7f9d21134df3b9e5fd63801e1819f646fd/src/vendor/components/chartJs/ChartJsWrapper.jsx#L214

This is the call to [ChartJS](https://www.chartjs.org/docs/latest/), which is the main charting library for this project (and the only one we plan to keep).  The charts are sh

[2020-01-22 23:02] klahnakoski commented on #443
@lelouchB The very first step is to confirm you can stop the program with the browser debugger at the line I pointed to above. From there you can inspect the variables at that point, and you can explore the data structure that is sent to ChartJS.  You should be able to see the reference to the x axis, and the range of values it has.

Second, pick a chart that looks interesting enough:   Be sure it

[2020-01-23 07:26] lelouchB commented on #443
@klahnakoski  Thanks a lot for explaining

[2020-01-23 09:34] jaskeerat789 commented on #239
@klahnakoski thanks for the permission, can you provide me with more details.
I saw @armenzg 's comment and the package bundlesize seems good to me.

[2020-01-24 16:49] klahnakoski commented on #639
@airimovici is there a PR for this?

[2020-01-24 16:50] #624 closed

[2020-01-24 16:59] klahnakoski opened #652 "Show browsers on single chart - Android page"
All charts should be comparing browsers, not platforms

![image](https://user-images.githubusercontent.com/2334429/73087650-d7892400-3ea0-11ea-812e-327e9d46a201.png)

[2020-01-24 17:01] klahnakoski opened #653 "Show "Windows 64" in title"
https://health.graphics/windows/64  looks like

![image](https://user-images.githubusercontent.com/2334429/73087844-22a33700-3ea1-11ea-9fec-908582f34dbd.png)

have it say "Windows 64".  Do the same for the 32 bit version

[2020-01-24 17:02] klahnakoski commented on #634
I made an issue for the only remaining one to fix

[2020-01-24 17:02] #634 closed

[2020-01-25 17:05] the-pro commented on #653
hello sir, i want to take this issue if it is still available.

[2020-01-26 12:56] klahnakoski commented on #653
@the-pro  yes please.  it's yours now.

[2020-01-26 13:49] the-pro commented on #653
So i tried to make the change. Tell me if this was what you needed:
![windows](https://user-images.githubusercontent.com/42973786/73136168-b5de9700-4070-11ea-9077-d1b7a772e2a1.png)

[2020-01-26 15:13] klahnakoski commented on #653
@the-pro  Yes, that's what i am looking for.  Please make a PR

[2020-01-26 16:04] the-pro commented on #653
Done.

[2020-01-27 16:56] airimovici commented on #639
I created this PR: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/658

[2020-02-07 07:45] airimovici opened #660 "Add fennec68 results for media playback tests"
https://bugzilla.mozilla.org/show_bug.cgi?id=1612375

[2020-02-11 07:34] wicked-kiD commented on #333
Hi guys! Can I join you to increase coverage? I've never contributed to opensource, want to try some.

[2020-02-11 08:59] divyanshu-rawat commented on #625
Sorry for delay in the woking in the issue, @klahnakoski I was working on something else I have few doubts regarding the issue as its been long since I was working on it.

Queries:
1 - Issue says reorder the sections, reorder means changing the order of sections, but there are no existing sections named as

* code pageload
* startup from homescreen
* startup from applink
* speedometer score
* drop

[2020-02-11 21:10] klahnakoski commented on #333
@wicked-kiD   Yes! Thank you for volunteering!

The first step is to find some code you think should be covered.

https://coveralls.io/github/mozilla-frontend-infra/firefox-health-dashboard?branch=master

Unfortunately, it seems coveralls has a problem right now with sorting

https://github.com/lemurheavy/coveralls-public/issues/1365

So you may want to consider changing the `travis.yml` file to s

[2020-02-11 21:11] klahnakoski commented on #333
@wicked-kiD

Looking at this issue, it seems to have expanded to include a number of problems.  It should be split up.

[2020-02-12 15:00] #660 closed

[2020-02-13 15:06] airimovici opened #663 "Add speedIndex test results"
Add results in Android page, `Raptor (TP6m)` section, similar to the existing graphs.
Detailed results should appear under tp6m: https://health.graphics/android/tp6m?test=cold-loadtime&browserPlatform=fenix-g5&past=month&ending=2020-02-13
Rename framework names (like `raptor`) - ex: Raptor (TP6m) -> “Page load”

[2020-02-19 17:23] klahnakoski commented on #610
@Manish-Giri hows is this going?

I was making a derivative of this project [count-bugs](https://github.com/klahnakoski/count-bugs); chopping out all things I do not need; leaving just one chart.  The complied size is still 670K, which is mostly these icons. You work here will be valued there too.

[2020-02-23 02:32] Manish-Giri commented on #610
@klahnakoski I had worked quite a bit on this last month, but then I had to step away for a few weeks for interview prep. I'll get back on this right away. I had also listed out a few things(questions) I wanted to run by you.

Sorry for the delay.

[2020-03-03 10:24] divyanshu-rawat commented on #625
@klahnakoski I think you might have missed the message :)

[2020-03-04 21:36] klahnakoski commented on #625
Yes, sorry I missed that last message.

I see that my list of sections in this issue do not match the section names in the code.  Plus, "startup from ..." do not even exist.

For each section name I used in this issue:
* find a hint as to which of the visual sections it is referring to.
* find the code that refers to the same visual section
* cut-and-paste the code so the order is as correct as po

[2020-03-05 16:54] ajinkabeer commented on #652
Hello @klahnakoski, I am outreachy applicant. I would like to work on this. Can I get some more information about this issue?

[2020-03-05 17:40] sabina-rohman commented on #625
Hi, @klahnakoski  I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 17:41] sabina-rohman commented on #663
Hi, @airimovici  I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 18:10] klahnakoski commented on #625
@sabina-rohman I believe @divyanshu-rawat  is working on this.

[2020-03-05 18:22] rimshach commented on #653
Hey , I read the comments and it seems like issue has been resolved however if it is still open I want to take this issue

[2020-03-05 18:25] rimshach commented on #625
Hey @klahnakoski if the issue is not assigned to anyone , can I work on this issue?

[2020-03-05 18:26] klahnakoski commented on #652
@ajinkabeer if you look at https://health.graphics/android you will see the above charts.  You will also see "Speedometer CPU power usage" which is done correctly.

Find the code responsible for showing the 'Speedometer" chart. Notice the code declares the rules for what to show in each series. It must change from showing one browser on many(2)  platforms, to showing one platform, on many browsers

[2020-03-05 18:26] klahnakoski commented on #653
@rimshach yes. this is resolved

[2020-03-05 18:26] #653 closed

[2020-03-05 18:27] klahnakoski commented on #625
@rimshach   I believe @divyanshu-rawat is working on this.

[2020-03-05 18:33] klahnakoski commented on #640
@davehunt I got an email from @cpeterso:  It appears this work is now needed.

[2020-03-05 18:47] Romicodes commented on #610
@klahnakoski ,  any chance I could pick this up for Outreachy  May 2020?

[2020-03-05 19:03] Romicodes commented on #610
@klahnakoski  any chance I could pick this up for Outreachy May 2020?

[2020-03-05 20:42] klahnakoski commented on #610
@Romicodes - you have been assigned!  Please look how other modules are done now.

[2020-03-05 21:00] ellieya commented on #443
@klahnakoski @lelouchB Hi, I'm an outreachy intern applicant. Wanted to ask about the status of this issue. If it still has not been resolved, can I ask to take over this task?

[2020-03-05 21:16] klahnakoski commented on #443
@ellieya This has still not been resolved.  It is now yours to attempt.

[2020-03-05 21:43] annlinros commented on #455
Hi @klahnakoski
Hi, I'm an outreachy intern applicant for May 2020. Can I work on this issue?

[2020-03-05 23:21] Je-ni commented on #643
Hi, I'm from Outreachy and would like to know if this issue is still unresolved so I can  work on it.

[2020-03-06 02:05] noi5e commented on #239
@jaskeerat789 are you still working on this issue? if not, i'm happy to take a look.

@klahnakoski i'm with Outreachy, looks like the other applicants claimed the other "good first issues." let me know if there's one in particular you think would be good for a new contributor.

[2020-03-06 02:06] noi5e commented on #376
@klahnakoski it's me again, an Outreachy applicant. maybe this is something i can work on as a new contributor?

[2020-03-06 06:04] ajinkabeer commented on #652
Thanks for the detailed explanation @klahnakoski. I am in the process of familiarizing myself with the codebase by reading through it. I would definitely make a PR once I make any meaningful change. :)

[2020-03-06 11:32] annlinros commented on #455
Hi @klahnakoski
I made a PR #664  for this issue.
Please review.

[2020-03-06 13:14] klahnakoski commented on #455
@annlinros  Yes please!

[2020-03-06 13:25] klahnakoski opened #665 "Change from coveralls to codecov.io"
Coveralls seems broken, and no longer can be used to sort  https://github.com/lemurheavy/coveralls-public/issues/1365

Change the `.travis.yml` file to use codecov.io instead

[2020-03-06 13:26] klahnakoski commented on #333
@js636f   Please look at https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/665  first.

[2020-03-06 13:29] js636f commented on #333
@klahnakoski OK, thank you

[2020-03-06 13:32] js636f commented on #665
@klahnakoski may I work on this issue?

[2020-03-06 13:44] kimberlythegeek commented on #455
@annlinros Thank you for your contribution! I am the other mentor for this project, feel free to ask me questions as well.

[2020-03-06 14:00] kimberlythegeek commented on #665
Yes, thanks @js636f ! I am the other mentor on this project, feel free to ask me questions as well

[2020-03-06 14:04] silvererudite commented on #665
hi @kimberlythegeek can you pls recommend me a good first bug as I dont see any unassigned ones now? I'm an outeachy applicant,also interested to contribute to the project

[2020-03-06 14:06] js636f commented on #665
Thank you, @kimberlythegeek !

[2020-03-06 14:26] kimberlythegeek commented on #665
Hi @silvererudite ! Yes, I apologize, I realize there are not many to choose from right now. Kyle and I are going to begin filing more bugs today. You can also look at Perfherder-related bugs. Perfherder is another react dashboard that is outside the scope of the internship, but there are many more issues to choose from!

Perfherder is part of Treeherder: https://treeherder.mozilla.org/perf.html

[2020-03-06 14:30] kimberlythegeek commented on #665
@js636f You are quite welcome 🙂

[2020-03-06 15:36] kimberlythegeek commented on #643
@StTronn are you still working on this?

[2020-03-06 15:41] annlinros commented on #621
Hi @klahnakoski  and  @kimberlythegeek ;
Could you please elaborate on the issue ?
I would like to contribute.

[2020-03-06 15:46] #455 closed

[2020-03-06 15:54] kimberlythegeek commented on #376
Hi @noi5e ,  thank you for your interest! I am the other mentor on this project, feel free to reach out with any questions you may have

[2020-03-06 16:13] StTronn commented on #643
hey, I looked at the issue again and I think it is only partially resolved. It seems that the url templates are needed to be added everywhere while I have done it only in `/playback/` #647. @kimberlythegeek   I am currently not working on this.

[2020-03-06 16:31] kimberlythegeek commented on #621
Currently the results that are displayed are from mozilla-central only, which is the nightly branch of firefox. It is updated twice a day with new pushes, so it is less stable and changes frequently

we would also like to show test results for the release branch of firefox

This could be done in a variety of ways. displaying both at the same time could be noisy. Potentially have a toggle to switch

[2020-03-06 16:32] kimberlythegeek commented on #621
I am fairly new to this project so I am still learning the code base myself, but I will do my best to help you navigate

[2020-03-06 16:33] kimberlythegeek commented on #643
@StTronn thanks for the update!

[2020-03-06 16:43] kimberlythegeek commented on #610
Hello @Romicodes ! Thanks for your interest. I am the other mentor for this project, and can answer any questions you may have, as well as perform code reviews.

[2020-03-06 16:43] kimberlythegeek commented on #663
Hi @sabina-rohman! I am one of the mentors for the intern project. I have reached out to Alex to see if he is still working on this, if not, I can assign you. Feel free to ping me with any questions you may have. You can also make contributions to Perfherder, another react dashboard. This is outside the scope of the internship, but there are many more issues available to work on.

https://bugzilla

[2020-03-06 16:47] kimberlythegeek commented on #625
Hi @sabina-rohman and @rimshach ! I am the other mentor for the Outreachy project--feel free to reach out with any questions you may have, as well as request code reviews from me.

I realize there are not many open issues for this dashboard, but you can also make contributions to [Perfherder](https://treeherder.mozilla.org/perf.html#/alerts?hideDwnToInv=1), another react dashboard. This is outside

[2020-03-06 16:49] kimberlythegeek commented on #443
Hi @ellieya! I am one of the mentors for the intern project. Feel free to ping me with any questions you may have, as well as request code reviews from me

[2020-03-06 16:50] kimberlythegeek commented on #239
Hi @noi5e ! I am the other mentor for the Outreachy project--feel free to reach out with any questions you may have, as well as request code reviews from me.

I realize there are not many open issues for this dashboard, but you can also make contributions to Perfherder, another react dashboard. This is outside the scope of the internship, but there are many more issues available to work on.

https

[2020-03-06 16:51] kimberlythegeek commented on #652
Hi, @ajinkabeer ! I am the other mentor for the Outreachy project. Feel free to ping me with any questions you may have, as well as request code reviews from me

[2020-03-06 16:53] kimberlythegeek commented on #333
As @klahnakoski mentioned, this issue has become a bit bloated and needs to be broken down into smaller, separate issues. I will lock this conversation and open new issues regarding code coverage

[2020-03-06 17:01] rimshach commented on #625
Hey Kimberly,
Thankyou for the guidance,After looking at the number of open issues,I
started looking at other projects as well,I have started working on one of
them for now.

Regards,
Rimsha Chaudhry

On Fri, Mar 6, 2020, 9:47 PM Kimberly Sereduck <notifications@github.com>
wrote:

[2020-03-06 17:01] sabina-rohman commented on #663
Hi @kimberlythegeek Thanks. Feel free to assign the issue to me, if @airimovici isn't still working on this.
In the meantime I will go ahead and look at  Perfherder. :)

[2020-03-06 17:03] kimberlythegeek commented on #625
Of course! Feel free to reach out at any time if you still have interest in my project. Best of luck!

Kimberly

Kimberly Sereduck
Software Engineer in Test
Mozilla Corporation
kimberlythegeek@mozilla.com <mailto:kimberlythegeek@mozilla.com>

[2020-03-06 17:07] annlinros commented on #621
Thank you so much @kimberlythegeek.
I guess this feature is supposed to be implemented under windows/32 or windows/64 ?

[2020-03-06 17:13] kimberlythegeek commented on #621
I believe the request should include Android as well, but I could be mistaken

[2020-03-06 17:22] annlinros commented on #621
@kimberlythegeek ok. Could you guide me as to where to start first with this task ?
or is there any other good first issues?

[2020-03-06 17:32] kimberlythegeek commented on #621
I believe this is a little more involved and may not be a good place to start. I will be filing more issues soon, but you can also contribute to [Perfherder](https://treeherder.mozilla.org/perf.html), another dashboard that is outside the scope of the internship, but has many open bugs to choose from: https://bugzilla.mozilla.org/buglist.cgi?product=Tree%20Management&component=Perfherder&resolutio

[2020-03-06 17:37] annlinros commented on #621
@kimberlythegeek  Sure! Thanks :)

[2020-03-06 17:49] kimberlythegeek commented on #621
@annlinros when commenting on a bug in Bugzilla, could you also :needinfo me, by checking the box at the bottom of the Bug page that says "Request information from:" , and enter my email ksereduck@mozilla.com

I will be keeping an eye on the bug list, but this ensures I receive an email and can respond more quickly

[2020-03-06 17:53] annlinros commented on #621
@kimberlythegeek thank you so much. I will have to first get familiarised with Bugzilla though.

[2020-03-06 17:57] kimberlythegeek commented on #621
@annlinros yes, it is a bit confusing. I do not use it often so even I don't know everything about it. Please reach out if you have questions, you can also email me or send private messages in Riot, my username there is also kimberlythegeek:

https://riot.im/app/#/room/#treeherder.org
https://wiki.mozilla.org/Matrix

[2020-03-06 17:58] kimberlythegeek commented on #621
This may help: https://bugzilla.readthedocs.io/en/latest/using/index.html

[2020-03-06 18:36] noi5e commented on #376
@kimberlythegeek thanks, appreciate your patience with the sudden influx of new contributors. i'll take a look today.

[2020-03-06 18:47] kimberlythegeek commented on #376
@noi5e of course!

[2020-03-06 21:44] Romicodes commented on #610
thank you @kimberlythegeek  I am in the process of looking at how other modules are lazy loaded and will be in touch shortly  with questions!

[2020-03-07 01:09] ajinkabeer commented on #652
Hello @kimberlythegeek, thanks for the opportunity. I will keep in touch with you.

[2020-03-07 17:28] kingsham commented on #665
I need help contributing to a project

[2020-03-07 18:02] kimberlythegeek commented on #665
Hi there--the best way to contribute is to look for unassigned bugs or issue's on a project's contribution page. We don't have many open issues for health.graphics (this project), but you can also contribute to [Perfherder](https://treeherder.mozilla.org/perf.html), another react dashboard. There are a lot more bugs to choose from. Simply comment and ask to be assigned.

If you find a bug on bugzi

[2020-03-07 19:24] Je-ni commented on #643
Hi @kimberlythegeek, I've sent a PR for this issue.

[2020-03-08 03:57] Kirti2502 commented on #443
Hi! Can I take up the issue if it has not been resolved yet?

[2020-03-08 14:56] klahnakoski commented on #621
@annlinros @kimberlythegeek   This issue has two main parts.  The most difficult is deciding HOW to visualize the two different modes (nightly or central), the second is to implement it in the backend.  The second part should not be hard:  Almost all charts run off of Perfherder, and the only different between the two modes is the choice of `repo` (`mozilla-central` or `mozilla-beta`).  This is th

[2020-03-08 17:15] ellieya commented on #443
@Kirti2502 Hi Kirti, I am currently working on the issue.

[2020-03-09 07:27] annlinros commented on #621
Thanks @klahnakoski  and  @kimberlythegeek
I will look into it.

[2020-03-09 09:02] airimovici commented on #663
I'm not working on it, @kimberlythegeek @sabina-rohman. I'm assigning this to you

[2020-03-09 09:48] kimberlythegeek commented on #663
thanks @airimovici !

[2020-03-09 10:24] sabina-rohman commented on #663
Thanks @airimovici :)

[2020-03-09 11:17] NinaLoeterman commented on #456
Im an outreachy applicant may 2020 and I would be happy to work on this issue!

[2020-03-09 11:18] kimberlythegeek commented on #456
Thanks @NinaLoeterman ! 🙂

[2020-03-09 13:45] klahnakoski opened #669 "Fix Fennec name"
The name of the browser is wrong:  `label: 'Fennec 64`  should be "68"

[2020-03-09 14:55] yaeluria commented on #669
hey, I'm an Outreachy 2020 applicant. Can I be assigned to this issue?

[2020-03-09 15:11] kimberlythegeek commented on #669
@yaeluria Yes 🙂 feel free to reach out with any questions

[2020-03-09 17:24] js636f opened #670 "Using new coverage bade on README.md"
@klahnakoski Now, when we use codecov, I think we need to update a coverage badge in README.md and use this:

`[![Coverage Status](https://codecov.io/gh/mozilla-frontend-infra/firefox-health-dashboard/branch/master/graphs/badge.svg)](https://codecov.io/gh/mozilla-frontend-infra/firefox-health-dashboard?branch=master)`

Instead of this:

`[![Coverage Status](https://coveralls.io/repos/github/mozill

[2020-03-09 18:34] katherine95 commented on #670
I would like to work on this @js636f @klahnakoski @kimberlythegeek Kindly assign it to me.

[2020-03-09 18:35] km-js commented on #670
I would like to work on this.

[2020-03-09 19:18] #670 closed

[2020-03-10 09:52] NinaLoeterman commented on #456
I cant seem to get yarn to download properly on my computer. I tried all the different ways of configuring it according to the docs but I get an error every time. Im not sure what to try next, would love some help. @kimberlythegeek @klahnakoski

[2020-03-10 10:34] kimberlythegeek commented on #456
Can you tell me what approach/commands you're using to install yarn, and what kind of errors are you receiving?

[2020-03-10 11:35] #669 closed

[2020-03-10 13:25] klahnakoski commented on #456
@NinaLoeterman   Are you able to talk on https://chat.mozilla.org/#/room/#perftest:mozilla.org  ?

[2020-03-10 16:17] NinaLoeterman commented on #456
@klahnakoski sorry for the delay (its a holiday where I am.. )Im happy to talk now, are you still available?

[2020-03-10 16:23] kimberlythegeek commented on #456
@NinaLoeterman if you join the above channel, there are people onling (including myself) who could be of assistance

[2020-03-10 19:25] kingsham commented on #578
I want to work on this but what file are you referring to?

[2020-03-10 19:59] kimberlythegeek commented on #578
@kingsham what I believe he is saying is that, every time a chart is updated, to store this value somewhere, then subsequently add logic in React to decide when it should update again

I am new to this project and still learning the code base, but I will help as much as I am able!

[2020-03-11 01:19] kingsham commented on #578
yea I get that but what file, in particular, is he talking about, there's a ton of files so which one in particular?

[2020-03-11 15:05] klahnakoski commented on #640
@airimovici If this is done in health graphics, then I would imagine copying the TP6 desktop page (https://health.graphics/windows/tp6?test=warm-loadtime&platform=win64)

* copy /windows/TP6.jsx -> /fission/index.jsx
* a new route to point to /fission/index.jsx
* remove the test selector
* instead of `groupBy('site')` we would `groupby('suite'`)
* make a new `TP6_COMBOS` (with better name of cours

[2020-03-11 21:21] JM-Mendez commented on #538
Hi @kimberlythegeek, I'm an Outreachy May 2020 applicant. I would like to a chance at this issue if you still have spots available.

[2020-03-11 21:26] kimberlythegeek commented on #538
@vaideshshank Hi there--are you still working on this?

[2020-03-12 13:01] klahnakoski commented on #578
@kingsham  this bug is particularly difficult.  You may try if you like.

There is a variable that holds all the data coming from perfherder:

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/99673b51474601320f791053fe024dfbac7e99f2/src/vendor/perfherder.js#L215

The first step is to replace that variable with local storage of some sort; hopefully when successful, you will b

[2020-03-13 15:17] Romicodes commented on #610
@kimberlythegeek , I was able to go over the project, start it at port 5000 and my suggestion to reduce  the size of the material UI icons is to use code splitting since we are using webpack. Manually split code using entry configuration. Please let me know your thoughts !

[2020-03-13 16:19] kimberlythegeek commented on #610
@Romicodes hey there 👋🏻 Can you push your code changes so that I can see them? You can push to your own fork and send me the URL, or open a pull request tagged Work in Progress

How familiar are you with git?

[2020-03-14 17:48] lorelajano commented on #663
Hello @kimberlythegeek . I am an outreachy applicant. Please can you suggest me an issue to start my contribution? Thank you

[2020-03-14 21:48] kimberlythegeek commented on #663
@lorelajano Hi there--we do not have many open issues for this project, but we are also accepting contributons to Perfherder, another react dashboard. The issues for this are managed on Bugzilla

[Bugzilla User Guide](https://bugzilla.readthedocs.io/en/latest/using/)

[Perfherder bugs](https://bugzilla.mozilla.org/buglist.cgi?cmdtype=runnamed&namedcmd=Perfherder%20Unassigned&list_id=15152567)

On

[2020-03-15 08:52] SaumyaSinghal commented on #239
Hello @kimberlythegeek Can i be assigned this issue if no one else is working on it?

[2020-03-15 15:59] kimberlythegeek commented on #239
@SaumyaSinghal Yes 🙂 please reach out if you have any questions!

[2020-03-15 19:58] SaumyaSinghal commented on #239
Thanks @kimberlythegeek. Can you please help me on how to get started with this issue?

[2020-03-15 21:08] kimberlythegeek commented on #239
@SaumyaSinghal Armen suggested a library in a previous comment, which looks promising. Have you looked into that one?

[2020-03-16 05:23] SaumyaSinghal commented on #239
Yes @kimberlythegeek that seems pretty good to me!

[2020-03-18 03:29] Romicodes commented on #610
@kimberlythegeek ,  yes am familiar with Git, but before that, I am unable to create a production build to record  build sizes of various modules! Inputs appreciated.

[2020-03-19 15:57] klahnakoski commented on #665
I think this is done

[2020-03-19 15:59] #665 closed

[2020-03-19 16:00] klahnakoski opened #675 "New raptor-browsertime tests instead of old raptor-webext"
raptor-webext tests for Fenix (Firefox Preview) will be switched off from March 26th now that @gmierz has enabled the raptor-browsertime tests.

[2020-03-20 22:27] klahnakoski commented on #675
From sparky:

The Fenix Browsertime tests were merged into the Fenix repo: https://github.com/mozilla-mobile/fenix/pull/9087
Today, they had their first run: https://treeherder.mozilla.org/#/jobs?repo=fenix&tier=1%2C2%2C3&revision=756b1fbadd7b5aca72167982c600dc540552be04

They are running well, some errors are visible but it's nothing problematic. It looks like we will start turning off Raptor Fen

[2020-03-22 20:46] yaeluria commented on #621
Hi @klahnakoski and @kimberlythegeek. I'm an Outreachy 2020 applicant and would like to work on this issue if @annlinros is not already working on it.

[2020-03-22 21:04] annlinros commented on #621
@yaeluria  you could start with it. I’m bit busy with other time commitments..

[2020-03-22 22:03] yaeluria commented on #621
Okay. Thanks @annlinros.

[2020-03-23 09:55] airimovici commented on #640
@klahnakoski For adding the fission vs non-fission charts to AWFY we need to define the charts in this file from the `firefox-performance-dashboards` repo: `src/awfy.js`  https://github.com/mozilla-frontend-infra/firefox-performance-dashboards/blob/master/src/awfy.js

The current implementation from AWFY is too rigid for defining charts that compare by the extraOptions (we need that for comparing

[2020-03-23 19:35] cpeterso commented on #640
Creating a separate Health Dashboard page sounds good to me. @davehunt said this dashboard request would be added to the backlog for the Fx Performance team's April sprint.

[2020-03-25 14:01] davehunt commented on #675
@airimovici are we ready for the switch from webext to browsertime tomorrow?

[2020-03-25 14:58] airimovici commented on #675
Working on it. It will be ready for tomorrow

[2020-03-25 17:03] ellieya commented on #443
Hi, I am really sorry about the lack of communication as of late!
I have been overwhelmed at my school/work due to the outbreak.
I should be able to resume progress on the issue starting this week.
I will let you all know if I am stuck on anything.

[2020-03-26 19:43] ArifaMujawar commented on #456
I am an outreachy applicant, I would like to contribute to this issue. @NinaLoeterman Could you please help me get started with it. I have the project running locally.

[2020-04-03 22:02] cpeterso commented on #640
FXP-278 Jira issue: https://jira.mozilla.com/browse/FXP-278

[2020-04-03 22:34] cpeterso commented on #640
In addition to graphing the Fission vs non-Fission performance benchmark results, we would like graphs comparing Fission vs non-Fission performance telemetry for Firefox Nightly users (like the "Performance Metrics" graphs on https://health.graphics/windows/64).

I've consolidated the Fission team's dashboard requirements into the Google Doc linked below. Editing and commenting on the requirements

[2020-04-06 16:20] Romicodes commented on #610
@klahnakoski , Is this still open for Outreachy?  I was able to achieve a reasonable measure of success with bug and would like to create a pull request and Project Request .

[2020-04-06 18:21] Romicodes commented on #610
@klahnakoski @kimberlythegeek Is this still open for Outreachy? I was able to fix this bug and would like to create a pull request and Project Request .

[2020-04-06 19:05] davehunt commented on #640
It may make sense to split this work out into a separate issue. I don't believe @airimovici has worked on the telemetry graphs, and it may be that @klahnakoski is more suited to take on that work.

Thanks!

[2020-04-07 07:21] airimovici opened #680 "Add graphs comparing Fission vs non-Fission performance telemetry for Firefox Nightly"
depends on https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/640

[2020-04-07 07:24] airimovici commented on #640
@davehunt I created another issue for the graphs comparing Fission vs non-Fission performance telemetry for Firefox Nightly users: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/680

I started today this issue (this current one) and I'll keep in touch with @klahnakoski

[2020-04-08 02:06] kimberlythegeek commented on #610
@Romicodes unfortunately I have had to make the difficult decision to withdraw my project from this round.

[2020-04-13 17:08] jeanygong commented on #640
@klahnakoski Would you be able to tackle the telemetry graphs as per @cpeterso.  Would this be something you can do in April timeframe?

[2020-04-14 18:01] #675 closed

[2020-04-15 19:16] klahnakoski commented on #640
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/682

[2020-04-20 17:08] jeanygong commented on #680
@klahnakoski can you assign yourself to this if you are taking on this work?  I don't have access to to do this in github.

[2020-04-20 18:23] klahnakoski commented on #680
@jeanygong i think this is done
@airimovici if nothing is broken in your PR, please merge it.

[2020-04-20 18:38] jeanygong commented on #680
@klahnakoski thanks for the update.

[2020-04-22 11:17] airimovici commented on #640
I merged the PR for this issue: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/682

The issue that is still open is for the performance metrics graphs: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/680

![performance-metrics-charts](https://user-images.githubusercontent.com/51707553/79975662-031da980-84a4-11ea-8b87-95335fd3db8a.PNG)

[2020-04-22 12:21] klahnakoski opened #683 "simplify expression"
This piece of code performs markup on the performance metadata

    fission: Boolean(meta.extra_options) && meta.extra_options.includes('fission')

In theory we should be able to remove it and replace

    { eq: { fission: false } }

with

     {eq: {extraOptions: "fission"}}

or

    {"in": [{"literal":"fission"}, "extraOptions"]}

...which should be effectively the same

[2020-04-22 14:45] klahnakoski commented on #680
@cpeterso   Thank you, now I better understand:  I did not realize there was a telemetry component.   The doc helps plenty.  We will require a pointer to where that telemetry data can be found.

[2020-04-22 16:47] cpeterso commented on #640
Thanks! The page looks great! Can we close this Fission benchmarks issue now that we're tracking the Fission performance metrics (telemetry) in #680?

https://health.graphics/fission?platform=win64-qr

[2020-04-22 19:57] cpeterso commented on #680
Here is a list of the telemetry probe names we'd like to graph:

https://docs.google.com/document/d/1L1eefmSW4YxFLYcsjVpDfE6F0n9mVsfdrAAsEbMqOMw/edit#heading=h.2r1cri2435pz

I'm not sure where the telemetry data is fetched from, but the code for the https://health.graphics/windows/64 page's "Performance Metrics" section:

https://github.com/mozilla-frontend-infra/firefox-health-dashboard/blob/90d9

[2020-05-05 10:39] airimovici opened #684 "ytp results for chrome are not displayed"
Since 22nd of April the ytp for chrome are not displayed, but the tests run: https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&tier=1%2C2%2C3&searchStr=youtube-play&selectedTaskRun=N-FvDo-YRCCnD2QeUcEXOA-0

[2020-05-05 10:45] airimovici opened #685 "Change ypt results according to 2020 changes"
After these changes (https://phabricator.services.mozilla.com/D62546) there are different test names and new encodings were added

[2020-05-06 21:56] cpeterso commented on #680
The Jira ticket for this feature request is in the Performance team's May sprint: https://jira.mozilla.com/browse/FXP-904

[2020-05-08 21:34] cpeterso opened #687 "Add more Talos and AWSY test results to Fission health dashboard"
depends on #640 which created the Fission health dashboard: https://health.graphics/fission

for win10-qr and linux64-qr

* AWSY's "Explicit Memory" test
  * "Explicit Memory opt fission tp6" vs "Explicit Memory opt tp6": [Perfherder query](https://treeherder.mozilla.org/perf.html#/graphs?highlightAlerts=1&series=mozilla-central,2242823,1,4&series=mozilla-central,2242873,1,4&series=mozilla-central

[2020-05-19 11:10] airimovici opened #690 "Android PGO builds were renamed to Android Shippable"
The health dashboards need to be adapted to the new changes:
https://bugzilla.mozilla.org/show_bug.cgi?id=1623355

[2020-05-19 19:31] gmierz opened #691 "Migrate dashboards to use autoland instead of mozilla-central data (where possible)"
We currently have some tests running on mozilla-central and autoland but we only need to run these on autoland. See this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1637679

This issue is for migrating the dashboards to use autoland data anywhere we can, once that's done, we can disable the mozilla-central tests.

[2020-05-19 21:06] armenzg opened #692 "Removed Nimbledroid from backend"
I messed up and I removed the Heroku Redis add-on on the backend which contained Nimbledroid's historic data.

I can follow up with Heroku but I doubt we can recover it.

My apologies. A very dumb mistake.

[2020-05-19 21:13] armenzg commented on #692
I assume at this point should I remove the Nimbledroid UI code?

[2020-05-21 13:06] armenzg commented on #692
@airimovici @davehunt Heroku restored the Redis add-on with backed up data and the UI is working again.

Should we remove Nimbledroid from the UI? (You can use #693 to do so)

[2020-05-22 10:47] davehunt commented on #692
@ecsmyth @mcomella do you have any objections to us removing Nimbledroid results from health.graphics?

[2020-05-27 03:25] ecsmyth commented on #692
No objections

[2020-05-27 12:38] armenzg commented on #692
Hi Dave, please merge the PR if satisfied and I will remove the Heroku Redis add-on with the Nimbledroid historic data.

[2020-05-28 12:56] #692 closed

[2020-06-11 16:58] klahnakoski opened #702 "simplify expression"
Replace

    `Boolean(meta.extra_options) && meta.extra_options.includes('cold'),`
with

    `selectFrom(meta.extra_options).includes('cold')`

(requires enhancement to `selectFrom`)

[2020-06-11 21:57] davehunt commented on #690
Fixed by #695 and #698

[2020-06-11 21:57] #690 closed

[2020-06-18 18:19] jesup opened #704 "Migrate browsertime metrics in the dashboard to *SI"
We should be monitoring one of the SI variants (SI, CSI, PSI or a geomean of the 3, though they're highly correlated) instead of loadtime, for all metrics based on browsertime.   (which should eventually be all of them).

[2020-06-18 19:16] davehunt commented on #704
@jesup Currently the summary pages use load time. which of the SI variants should we use here?

For the detailed view, I propose we refactor the 'tests' dropdown from the following values:
* Warm first-blank paint
* Warm load time
* Wam DOM content flushed
* Warm time to first interactive
* Cold first-blank paint
* Cold load time
* Cold DOM content flushed
* Cold time to first interactive

To some

[2020-06-18 19:17] davehunt commented on #704
It looks like this might be a duplicate of #663 but that appears to have stalled. @airimovici @kimberlythegeek should we close that bug and continue here?

[2020-06-19 07:14] airimovici commented on #663
Closing this. Work will continue here: https://github.com/mozilla-frontend-infra/firefox-health-dashboard/issues/704

[2020-06-19 07:14] #663 closed

[2020-07-09 07:03] airimovici opened #708 "Tp6m charts show wrong application"
The results from https://health.graphics/android/tp6m are mixed between applications. For `fenix` it also shows `geckoview` results

[2020-07-10 12:34] airimovici opened #710 "Tp6m results mixed with webrender"
For [tp6m dashboard page](https://health.graphics/android/tp6m) we have webrender results mixed in.

Also, the `Geomean` chart and the individual tp6m charts have the y-axys different. They both should  follow the same rule (lower is better) and have the unit as `ms`

[2020-07-13 13:13] #708 closed

[2020-07-14 06:56] airimovici opened #711 "Fix warm test results for chimera pageload testing mode"
https://phabricator.services.mozilla.com/D83356

The tests will run in chimera mode, and the warm pageload tests will get a `warm` entry added to the extra options.

[2020-07-14 11:57] gmierz commented on #711
Note that while chimera mode will be adding the `warm` entry to extra options, that patch won't enable chimera in production. That will be done by another patch.

[2020-07-15 06:09] cpeterso commented on #680
We can close this issue as WONTFIX. The Jira ticket https://jira.mozilla.com/browse/FXP-904 has been canceled.

IIUC, while comparing Fission vs non-Fission telemetry will be trivial in a proper A/B experiment, we can’t easily comparing Fission vs non-Fission telemetry for arbitrary probes (e.g. on telemetry.mozilla.org or health.graphics dashboards) because the telemetry data is not tagged as Fis

[2020-07-20 20:46] mstange opened #714 "https://health.graphics/playback never finishes loading (infinite loop?)"
https://health.graphics/playback shows throbbers forever, and a slow script warning.

[2020-07-28 12:38] armenzg commented on #623
Will we need the Telemetry section again?
I was asked about the two Redash queries that are costing some money and I stopped the refreshing of them.

[2020-07-28 12:59] armenzg commented on #623
Notes from @wlach  in case we were to re-enable the use of those queries:

[2020-07-28 13:38] klahnakoski commented on #623
@armenzg  It is good you have stopped the queries.  We will wait for someone to complain.

[2020-08-06 13:05] davehunt commented on #685
Fixed in https://github.com/mozilla-frontend-infra/firefox-health-dashboard/pull/717

[2020-08-06 13:05] #685 closed

[2020-09-02 07:20] #714 closed

[2020-09-02 07:23] airimovici opened #719 "Update Unity WebGl mobile tests to browsertime"
After Unity WebGl mobile tests will be migrated to browsertime(https://phabricator.services.mozilla.com/D87861), the results we display should be updated to browsertime also.

[2020-09-17 22:58] digitarald opened #721 "Private domain & cloudflare"
As I kickstarted the project, the health.graphics domain runs on my name and my free cloudflare acccount. Since August I am no longer with Mozilla.

Options:

1) Transfer the domain/account. It would be nice to cover my expenses for the domain so far.

2) Transfer the project to another domain (like Mozilla's allizom preview server)

Happy to hear other ideas and make any needed changes in cloudfl

[2020-09-18 11:59] davehunt commented on #721
Thanks for opening this issue @digitarald, I hadn't realised that you kickstarted health.graphics. I'll file a bug for ops to look into this and will provide a link here.

[2020-09-18 12:07] davehunt commented on #721
I've opened https://bugzilla.mozilla.org/show_bug.cgi?id=1665896. I'm also going to follow up on your point on expenses.

[2020-10-14 15:26] jesup commented on #704
I'd keep first-blank-paint, otherwise looks good.  I'd even be happy with keeping one dropdown with warm/cold versions if that's simpler

[2020-10-15 12:41] davehunt opened #725 "Display a banner suggesting the site may be retired and asking for feedback"
Due to the low volume of users and the lack of resources, we are considering our options for retiring health.graphics. Let's display a prominent banner at the top of every page warning users of the situation, and invite them to complete a form that will help us to provide them with alternative options.

Suggested content for the banner:

I would make this a yellow banner as it's a warning. If we l

[2020-10-16 12:57] davehunt commented on #725
Fixed by #726

[2020-10-16 12:57] #725 closed

[2020-10-19 09:52] davehunt commented on #721
We have merged a patch with a banner announcing the potential retirement of health.graphics. This has been deployed to Netlify and can be seen at https://firefox-health-dashboard.netlify.app/ but it would appear that the health.graphics domain is not pointing to Netlify. @digitarald could you clarify the current domain configuration?

[2020-11-13 18:50] digitarald commented on #721
@davehunt config is updated:

![image](https://user-images.githubusercontent.com/8599/99109678-07bfc180-259e-11eb-8683-cb6a92bf80cf.png)

[2020-12-02 17:24] davehunt opened #729 "Decommission dashboard and redirect users to arewefastyet.com"
This dashboard has not been updated since September 2020, and not actively maintained for some while before then. At this point the dashboard would require a significant investment to restore the existing functionality due to changes in the source data, and this doesn't include the many outstanding issues that make the dashboard difficult to use (many pages take a considerable time to load).

We h

[2020-12-13 08:36] renovate[bot] opened #733 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:54] #733 closed, assigned to nobody

[2021-04-19 13:06] #729 closed

[2021-04-19 13:06] #721 closed

[2021-04-19 13:07] #443 closed

[2021-04-19 13:07] #447 closed

[2021-04-19 13:07] #448 closed

[2021-04-19 13:07] #456 closed

[2021-04-19 13:07] #502 closed

[2021-04-19 13:07] #538 closed

[2021-04-19 13:07] #578 closed

[2021-04-19 13:07] #610 closed

[2021-04-19 13:07] #620 closed

[2021-04-19 13:07] #621 closed

[2021-04-19 13:07] #625 closed

[2021-04-19 13:07] #639 closed

[2021-04-19 13:07] #640 closed

[2021-04-19 13:07] #643 closed

[2021-04-19 13:07] #652 closed

[2021-04-19 13:07] #680 closed

[2021-04-19 13:07] #683 closed

[2021-04-19 13:07] #684 closed

[2021-04-19 13:07] #687 closed

[2021-04-19 13:07] #691 closed

[2021-04-19 13:07] #702 closed

[2021-04-19 13:07] #704 closed

[2021-04-19 13:07] #710 closed

[2021-04-19 13:07] #711 closed

[2021-04-19 13:07] #719 closed

[2021-04-19 13:07] #216 closed

[2021-04-19 13:07] #219 closed

[2021-04-19 13:07] #239 closed

[2021-04-19 13:07] #320 closed

[2021-04-19 13:07] #333 closed

[2021-04-19 13:07] #376 closed